.more-publications {
    &__inner {
        padding-top: 7.7rem;
        padding-bottom: 10.4rem;
        @media (max-width: $sw-sm-max) {
            padding-top: 5rem;
            padding-bottom: 6rem;
        }
    }

    &__title {
        margin-bottom: 3.8rem;
        h2 {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 3.8rem;
            color: $abbey;
        }
    }

    &__wrap {
        display: flex;
        margin-left: -1rem;
        margin-right: -1rem;
        flex-wrap: wrap;
        @media (max-width: $sw-xs-max) {
            margin: 0;
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }
    &__col {
        width: calc(100% / 3);
        padding: 0 1rem;
        // @media (max-width: $sw-xs-max) {
        //     width: calc(100% / 2);
        //     padding: 0 3rem;
        //     margin-bottom: 3rem;
        // }
        @media (max-width: $sw-xs-max) {
            width: 100%;
            padding: 0;
        }
        &:not(:last-child) {
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
        }
    }
}