mixin more-publications(data)
	.more-publications
		.container
			.more-publications__inner
				.more-publications__title
					h2 Еще публикации
				.more-publications__wrap
					.more-publications__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})
					.more-publications__col
						+publication({
							title: 'Дело о защите прав потребителя',
							subtitle: 'Используйте бесплатные сервисы для проверки ваших партнеров!',
						})
					.more-publications__col
						+publication({
							title: 'Прекращение производства по делу А-5669868/2017',
							subtitle: 'Арбитражный суд Санкт-Петербурга постановил прекратить производство по делу А-5669868/2017 между МИФНС №15 по Санкт-Петербургу и компанией Ростех.',
						})
