mixin banner(data)
	.banner
		.container
			.banner__inner
				.banner__info
					h1 Помагаем решить ваши юридические вопросы и бухгалтерские услуги с 2005 года
					p Регистрируем и ликвидируем юрлица и ИП, общаемся с ФНС, ведём бухгалтерию, решаем юридические вопросы, ведем блог о юриспруденции.
					p Мы принимаем вызовы независимо от их масштаба и сферы, помогает нам оставаться лидерами.
				.banner__bottom
					p #[b Одна из ведущих юридических фирм] в сфере ведения бизнеса в Санкт-Петербурге.
				.banner__image
					img(src="s/images/useful/banner-image.png", alt="banner-image")
					.banner__count
						span Больше
						.banner__count__val
							span 30 000
						span Довольных клиентов