.banner {
    overflow: hidden;
    &__inner {
        padding: 6rem 0 8.6rem 0;
        min-height: 71.7rem;
        display: flex;
        flex-direction: column;
        position: relative;
        position: relative;
        z-index: 1;
        @media (max-width: $sw-md-max) {
            min-height: 65rem;
        }
        @media (max-width: $sw-sm-max) {
            padding: 6rem 0;
            min-height: 61rem;
        }
        @media (max-width: $sw-xs-max) {
            min-height: auto;
        }
        @media (max-width: $sw-xx-max) {
            padding: 4rem 0;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        display: flex;
        @media (max-width: $sw-sm-max) {
            right: -12.5rem;
        }
        @media (max-width: $sw-xs-max) {
            position: relative;
            right: initial;
            top: initial;
            bottom: initial;
        }
        img {
            @media (max-width: $sw-xs-max) {
                display: none;
            }
        }
    }
    &__count {
        position: absolute;
        bottom: 2.3rem;
        right: 16.2rem;
        font-family: $montserrat;
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.25em;
        letter-spacing: 0.05em;
        color: #070707;
        @media (max-width: $sw-md-max) {
            right: 12rem;
        }
        @media (max-width: $sw-sm-max) {
            right: 11rem;
        }
        @media (max-width: $sw-xs-max) {
            right: initial;
            position: relative;
            bottom: initial;
        }
        &__val {
            font-weight: 800;
            font-size: 3.8rem;
            line-height: 1.2em;
            color: #070707;
            display: block;
            margin: 6px 0 9px 0;
            @media (max-width: $sw-xx-max) {
                font-size: 3.4rem;
            }
        }
    }
    &__info {
        h1 {
            margin-bottom: 2.9rem;
            color: #050505;
            width: 100%;
            max-width: 54.8rem;
            line-height: 1.2em;
            @media (max-width: $sw-xs-max) {
                max-width: 100%;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 3.2rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }
        p {
            margin-bottom: 1.8rem;
            font-size: 1.6rem;
            line-height: 1.55em;
            color: #828282;
            width: 100%;
            max-width: 41rem;
            @media (max-width: $sw-xs-max) {
                max-width: 100%;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 1.5rem;
            }
        }
    }
    &__bottom {
        width: 100%;
        max-width: 40.4rem;
        margin-top: auto;
        @media (max-width: $sw-xs-max) {
            margin-top: 2rem;
            margin-bottom: 3rem;
            max-width: 100%;
        }
        @media (max-width: $sw-xx-max) {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        p {
            font-size: 1.9rem;
            line-height: 1.3em;
            color: #2E2E2E;
        }
        b {
            display: block;
            font-size: 2.2rem;
            line-height: 1.13em;
            @media (max-width: $sw-xx-max) {
                line-height: 1.2em;
            }
        }
    }
}