.corporate-values {
    &__inner {
        padding-top: 0.9rem;
        padding-bottom: 11.5rem;
        padding-left: 10rem;
        @media (max-width: $sw-sm-max) {
            padding-left: 0;
            padding-bottom: 10rem;
        }
        @media (max-width: $sw-xs-max) {
            padding-bottom: 7rem;
        }
        
    }

    &__title {
        margin-bottom: 3.8rem;
        h2 {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 2.8rem;
            line-height: 1.21em;
            color: $mineShaft;
            @media (max-width: $sw-xs-max) {
                font-size: 2.4rem;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding-left: 7px;
        width: 92.8rem;
        flex-wrap: wrap;
        @media (max-width: $sw-xs-max) {
            flex-wrap: nowrap;
            flex-direction: column;
            width: 100%;
        }
    }
    
    &__item {
        width: calc(50% - 4rem);
        display: flex;
        // align-items: flex-start;
        align-items: center;

        font-family: $montserrat;
        font-weight: normal;
        font-size: 1.7rem;
        margin-bottom: 2.2rem;
        
        @media (max-width: $sw-xs-max) {
            width: 100%;
            align-items: center;
            justify-content: flex-start;  
        }
       
        .icon {
            font-size: 3.5rem;
            margin-right: 2.4rem;
            color: $tawnyPort;
            flex-shrink: 0;
            @media (max-width: $sw-xs-max) {
                font-size: 3.5rem;
                width: 3.6rem;
            }
        }
        
        // .icon-brain {
        //     font-size: 4.8rem;
        //     @media (max-width: $sw-xs-max) {
        //         font-size: 4.2rem;
        //     }
        // }
        
        p {
            line-height: 1.3em;
            color: $charade;
            letter-spacing: -0.5px;
            @media (max-width: $sw-xx-max) {
                font-size: 1.5rem;
            }
        }
    }
}