mixin corporate-values(data)
	.corporate-values
		.container
			.corporate-values__inner
				.corporate-values__title
					h2 Наши корпоративные ценности – это:
				ul.corporate-values__list.h-reset-list
					li.corporate-values__item
						+svg('icon-laptop')
						p Открытость и готовность к переменам в мире технологий и инноваций
					li.corporate-values__item
						+svg('icon-spacific-star')
						p Приоритет интересов клиента и ориентация на бизнес-результат
					li.corporate-values__item
						+svg('icon-monitor')
						p Высокое качество экспертизы и профессиональной техники
					li.corporate-values__item
						+svg('icon-brain')
						p Открытость и готовность к переменам в мире технологий и инноваций
