.detailed-page {
	&__inner {
		padding-top: 5rem;
		padding-bottom: 15.7rem;
		// display: flex;
		// justify-content: space-between;
		@media (max-width: $sw-sm-max) {
			flex-direction: column;
			padding-top: 7rem;
			padding-bottom: 10.9rem;
		}

		@media (max-width: $sw-xs-max) {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			padding-top: 4rem;
			padding-bottom: 5rem;
		}
	}

	h2 {
		letter-spacing: -0.3px;
		margin-bottom: 5.6rem;
		font-weight: 600;
		font-size: 2.8rem;
		line-height: 1.21em;
		color: $mineShaft;
		@media (max-width: $sw-sm-max) {
			margin-bottom: 6rem;
		}

		@media (max-width: $sw-xs-max) {
			font-size: 2.6rem;
			margin-bottom: 3rem;
		}

	}

	&__content {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}
	
	&__menu {
		padding-right: 1.6rem;
	}

	.sidebar {
		&__item {
			&--is-active {
				&::before {
					content: ' ';
					display: block;
					position: absolute;				
					width: 3px;
					height: 2.4rem;
					text-align: center;
					background-color: $tawnyPort;
					right: 23.7rem;
					top: -2px;
				}
			}
		}
	}

	&__info {
		margin-top: 9.7rem;
		margin-bottom: 6.7rem;
		
		@media (max-width: $sw-sm-max) {
			margin-top: 8rem;
			margin-bottom: 6.7rem;
		}
		@media (max-width: $sw-xs-max) {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
		@media (max-width: $sw-xx-max) {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
		h2 {
			margin-bottom: 2.7rem;
			@media (max-width: $sw-xs-max) {
				font-size: 2.4rem;
				margin-bottom: 1rem;
			}
			@media (max-width: $sw-xx-max) {
				margin-bottom: 5px;
			}
			
		}
		
		p {
			color: $charade;
			@media (max-width: $sw-xs-max) {
				font-size: 1.5rem;
			}
		}
	}

	&__table {
		@media (max-width: $sw-xs-max) {
			display: none;
		}
		&__head {
			display: flex;
			span {
				font-family: $montserrat;
				font-weight: 600;
				font-size: 2.2rem;
				line-height: 1.5em;
				letter-spacing: -2px;
				color: $black;
			}
		}
		&__row {
			display: flex;
		}
		&__footer {
			display: flex;
		}

		&__info {
			flex-grow: 1;
			text-align: left;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-right: 2.6rem;
			padding: 2.2rem 0;
			@media (max-width: $sw-sm-max) {
				margin-right: 1rem;
			}
			.detailed-page__table__head & {
				padding: 0 0 2.5rem 0;
				align-items: flex-start;
				span {
					font-size: 2.4rem;
					line-height: 1.42em;
					letter-spacing: 0;
					color: $mineShaft;
				}
			}
			.detailed-page__table__footer & {
				padding: 4.2rem 0 2rem 0;
			}
			p, span {
				margin-bottom: 0;
				font-size: 1.6rem;
				line-height: 1.25em;
				color: #202020;
			}
		}

		&__box {
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 400;
			font-size: 1.5rem;
			line-height: 1.35em;
			color: $black;
			padding: 2.2rem 2rem;
			width: 16.8rem;
			flex-shrink: 0;
			@media (max-width: $sw-sm-max) {
				width: 15rem;
				padding: 2.2rem 1rem;
			}

			&:not(:last-child) {
				border-right: 2px solid #76255E;
			}
			.detailed-page__table__head & {
				padding: 0 2.8rem 2.5rem 2.8rem;
				margin-top: 1rem;
				// padding-bottom: 1.7rem;
				justify-content: flex-start;
				text-align: left;
			}
			.detailed-page__table__footer & {
				font-family: $montserrat;
				font-weight: 600;
				font-size: 2.2rem;
				line-height: 1.55em;
				align-items: flex-start;
				text-transform: uppercase;
				padding: 4.2rem 2rem 2rem 2rem;
				
			}

			.icon-close {
				color: $tawnyPort;
				opacity: 0.6;
			}

			span {
				b {
					font-weight: 700;
				}
			}
		}

		.btn {
			&--violet {
				padding: 0 2.7rem;
				font-size: 1.7rem;
			}
		}
	}


	&__mobile {
		@media (min-width: $sw-sm-min) {
			display: none;
		}
		&__head {
			span {
				font-family: $montserrat;
				font-weight: 600;
				font-size: 2.4rem;
				line-height: 1.42em;
				color: $mineShaft;
			}
		}

		&__tariff {
			&:not(:last-child) {
				border-bottom: 2px solid $tawnyPort;
			}
		}
		
		&__number {
			margin-top: 2.4rem;

			span {
				font-family: $montserrat;
				font-weight: 600;
				font-size: 2.2rem;
				line-height: 1.5em;
				letter-spacing: -2px;
				color: $mineShaft;
			}
		}

		&__info {
			padding-top: 1.6rem;
			padding-bottom: 1.6rem;
			// margin-bottom: 2.4rem;
			&:not(:last-child) {
				border-bottom: 2px solid #DFDFDF;
			}

			p {
				font-size: 1.4rem;
				line-height: 1.43em;
				color: #454545;
				margin-bottom: 1.4rem;
			}
			span {
				font-size: 1.5rem;
				line-height: 1.3em;
				color: $black;
			}
		}

		&__price {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			text-align: left;
			margin-bottom: 2.4rem;
			span {
				font-family: $montserrat;
				font-weight: 600;
				font-size: 2.2rem;
				line-height: 1.5em;
				color: $black;
			}
		}

		&__footer {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

}