mixin detailed-page(data)
	.detailed-page
		.container
			.detailed-page__inner
				.detailed-page__content
					+detailed()

					.detailed-page__menu.sidebar
						.sidebar__inner
							.sidebar__title
								span Юридическим лицам
							ul.sidebar__list.h-reset-list
								li.sidebar__item.sidebar__item--is-active
									a.sidebar__link(href="javascript:void(0)") Юридическое обслуживание
								li.sidebar__item
									a.sidebar__link(href="javascript:void(0)") Cудебные услуги
								li.sidebar__item
									a.sidebar__link(href="javascript:void(0)") Юридическая консультация
								li.sidebar__item
									a.sidebar__link(href="javascript:void(0)") Составление договоров
								li.sidebar__item
									a.sidebar__link(href="javascript:void(0)") Экспертиза договоров
								li.sidebar__item
									a.sidebar__link(href="javascript:void(0)") Налоговые споры
								li.sidebar__item
									a.sidebar__link(href="javascript:void(0)") Таможенные споры
								li.sidebar__item
									a.sidebar__link(href="javascript:void(0)") Защита продавцов
								li.sidebar__item
									a.sidebar__link(href="javascript:void(0)") Трудовые споры с работниками


				.detailed-page__info 
					h2 Стоимость услуг
					p Мы предлагаем вам несколько тарифов юридической помощи длительностью один месяц.

				.detailed-page__table
					.detailed-page__table__head
						.detailed-page__table__info
							span Тарифы
						.detailed-page__table__box
							span № 1
						.detailed-page__table__box
							span № 2
						.detailed-page__table__box
							span № 3
						.detailed-page__table__box
							span № 4
					
					.detailed-page__table__row
						.detailed-page__table__info
							p Юридические консультации по административному, гражданскому, предпринимательскому, трудовому праву, справки по действующему законодательству РФ по телефону и в нашем офисе
						.detailed-page__table__box
							span Неограниченно
						.detailed-page__table__box
							span Неограниченно
						.detailed-page__table__box
							span Неограниченно
						.detailed-page__table__box
							span Неограниченно
					.detailed-page__table__row
						.detailed-page__table__info
							p Изучение/составление юридических документов (писем, договоров, претензий, ответов на претензии)
						.detailed-page__table__box
							span до #[b 3]-ох #[br]документов 
						.detailed-page__table__box
							span до #[b 8]-ох #[br]документов 
						.detailed-page__table__box
							span до #[b 12]-ох #[br]документов 
						.detailed-page__table__box
							span до #[b 20]-ох #[br]документов 
					.detailed-page__table__row
						.detailed-page__table__info
							p Юридическая экспертиза на основе материалов дела в целях оценки перспективности судебного разбирательства с учётом сложившейся судебной практики
						.detailed-page__table__box
							+svg('icon-close')
						.detailed-page__table__box
							span #[b 3] экспертизы
						.detailed-page__table__box
							span #[b 3] экспертизы
						.detailed-page__table__box
							+svg('icon-close')
					.detailed-page__table__row
						.detailed-page__table__info
							p Присутствие юриста в Вашем офисе/ выезд на проведение переговоров с Вашими контрагентами (по запросу)
						.detailed-page__table__box
							+svg('icon-close')
						.detailed-page__table__box
							+svg('icon-close')
						.detailed-page__table__box
							span #[b 1] раз в месяц
						.detailed-page__table__box
							span #[b 1] раз в месяц
					.detailed-page__table__row
						.detailed-page__table__info
							p Представительство Заказчика в Арбитражном суде и судах общей юрисдикции
						.detailed-page__table__box
							+svg('icon-close')
						.detailed-page__table__box
							+svg('icon-close')
						.detailed-page__table__box
							span #[b 1] судебное #[br]заседание в месяц
						.detailed-page__table__box
							span #[b 3] судебное #[br]заседание в месяц
					.detailed-page__table__row
						.detailed-page__table__info
							p Работа по исполнительному производству
						.detailed-page__table__box
							+svg('icon-close')
						.detailed-page__table__box
							+svg('icon-close')
						.detailed-page__table__box
							+svg('icon-close')
						.detailed-page__table__box
							span #[b 1] производство
					
					.detailed-page__table__footer
						.detailed-page__table__info
							button.btn.btn--violet(type="button") Оставить заявку
						.detailed-page__table__box
							span 6 900 ₽
						.detailed-page__table__box
							span 14 900 ₽
						.detailed-page__table__box
							span 24 900 ₽
						.detailed-page__table__box
							span 44 900 ₽

				.detailed-page__mobile
					.detailed-page__mobile__head
						span Тарифы
					.detailed-page__mobile__wrap
						.detailed-page__mobile__tariff
							.detailed-page__mobile__number
								span № 1
							.detailed-page__mobile__conditions
								.detailed-page__mobile__info
									p Юридические консультации по административному, гражданскому, предпринимательскому, трудовому праву, справки по действующему законодательству РФ по телефону и в нашем офисе
									span Неограниченно
								.detailed-page__mobile__info
									p Изучение/составление юридических документов (писем, договоров, претензий, ответов на претензии)
									span до #[b 3]-ох документов
							.detailed-page__mobile__price
								span 6 900 ₽
						.detailed-page__mobile__tariff
							.detailed-page__mobile__number
								span № 2
							.detailed-page__mobile__conditions
								.detailed-page__mobile__info
									p Юридические консультации по административному, гражданскому, предпринимательскому, трудовому праву, справки по действующему законодательству РФ по телефону и в нашем офисе
									span Неограниченно
								.detailed-page__mobile__info
									p Изучение/составление юридических документов (писем, договоров, претензий, ответов на претензии)
									span до #[b 8]-ох документов
								.detailed-page__mobile__info
									p Юридическая экспертиза на основе материалов дела в целях оценки перспективности судебного разбирательства с учётом сложившейся судебной практики
									span до #[b 3] экспертизы
							.detailed-page__mobile__price
								span 14 900 ₽
						.detailed-page__mobile__tariff
							.detailed-page__mobile__number
								span № 3
							.detailed-page__mobile__conditions
								.detailed-page__mobile__info
									p Юридические консультации по административному, гражданскому, предпринимательскому, трудовому праву, справки по действующему законодательству РФ по телефону и в нашем офисе
									span Неограниченно
								.detailed-page__mobile__info
									p Изучение/составление юридических документов (писем, договоров, претензий, ответов на претензии)
									span до #[b 12]-ох документов
								.detailed-page__mobile__info
									p Юридическая экспертиза на основе материалов дела в целях оценки перспективности судебного разбирательства с учётом сложившейся судебной практики
									span до #[b 3] экспертизы
								.detailed-page__mobile__info
									p Присутствие юриста в Вашем офисе/ выезд на проведение переговоров с Вашими контрагентами (по запросу)
									span до #[b 1] раз в месяц
								.detailed-page__mobile__info
									p Представительство Заказчика в Арбитражном суде и судах общей юрисдикции
									span до #[b 1] судебное заседание в месяц
							.detailed-page__mobile__price
								span 24 900 ₽
						.detailed-page__mobile__tariff
							.detailed-page__mobile__number
								span № 4
							.detailed-page__mobile__conditions
								.detailed-page__mobile__info
									p Юридические консультации по административному, гражданскому, предпринимательскому, трудовому праву, справки по действующему законодательству РФ по телефону и в нашем офисе
									span Неограниченно
								.detailed-page__mobile__info
									p Изучение/составление юридических документов (писем, договоров, претензий, ответов на претензии)
									span до #[b 20]-ох документов
								.detailed-page__mobile__info
									p Присутствие юриста в Вашем офисе/ выезд на проведение переговоров с Вашими контрагентами (по запросу)
									span до #[b 1] раз в месяц
								.detailed-page__mobile__info
									p Представительство Заказчика в Арбитражном суде и судах общей юрисдикции
									span до #[b 3] судебное заседание в месяц
								.detailed-page__mobile__info
									p Работа по исполнительному производству
									span до #[b 1] производство
							.detailed-page__mobile__price
								span 44 900 ₽
					.detailed-page__mobile__footer
						button.btn.btn--violet(type="button") Оставить заявку
					


					

