.testimonials {
    background-color:  #1F1F1F;
    padding: 6.6rem 0 7.2rem 0;
    overflow: hidden;
    &__inner {
        h2 {
            margin-bottom: 1.6rem;
            color: #FAFAF9;
        }
        p {
            margin-bottom: 5.4rem;
            letter-spacing: 0.5px;
            color: rgba(239, 237, 232, 0.65);
        }
    }
    &__carousel {
        .swiper-container {
            @media (max-width: $sw-sm-max) {
                overflow: visible;
            }
        }
        .swiper-slide {
            width: 30rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 30rem;
        min-height: 31.3rem;
        border-radius: 1.2rem;
        background-color: $tuna;
        padding: 2.6rem 2.8rem 1.6rem 2.8rem;
        &__top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2rem;
            flex-shrink: 0;
            &__icon {
                flex-shrink: 0;
                margin-right: 1.2rem;
                .icon {
                    font-size: 4.4rem;
                }
                img {
                    width: 4.4rem;
                    border-radius: 50%;
                    height: auto;
                }
            }
            &__info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
            &__details {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-right: 1.6rem;
            }
            &__link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 1.8rem;
                line-height: 1.35em;
                letter-spacing: 0.5px;
                color: $white;
                margin-right: 1.6rem;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: $monza;
                    }
                }
                .icon-share {
                    font-size: 1.2rem;
                    flex-shrink: 0;
                    margin-left: 8px;
                }
            }
            &__stars {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .icon-star {
                    font-size: 1.1rem;
                    color: #E4944A;
                    & + .icon-star {
                        margin-left: 5px;
                    }
                }
            }
            &__author {
                font-size: 1.4rem;
                line-height: 1.7em;
                letter-spacing: 0.5px;
                color: rgba(239, 237, 232, 0.65);
            }
        }
        &__text {
            flex-grow: 1;
            position: relative;
            margin-bottom: 1.1rem;
            transition: max-height .3s ease;
            &.is-hidden {
                max-height: 17.8rem;
                overflow: hidden;
            }
            span {
                margin-bottom: 0;
                font-size: 16px;
                line-height: 1.4em;
                color: #F7F7FA;
            }
        }
        &__time {
            flex-shrink: 0;
            text-align: right;
            font-size: 1.4rem;
            line-height: 1em;
            letter-spacing: 0.5px;
            color: rgba(239, 237, 232, 0.65);
        }
    }
}

.read-more {
    background: linear-gradient(90deg, rgba(50, 52, 67, 0) 0%, #323443 52.3%);
    position: absolute;
    width: 100%;
    height: 2rem;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.6rem;
    line-height: 1em;
    text-align: right;
    text-decoration-line: underline;
    color: #A33483;
    display: none;
    .is-hidden & {
        display: flex;
    }
    &.hidden {
        display: none;
    }
}