mixin testimonials(data)
	.testimonials
		.container
			.testimonials__inner
				h2 Отзывы клиентов
				p Мы предоставляем реальные отзывы клиентов, что бы у вас не оставалось сомнений, что мы дорожим нашей репутацией.
			.testimonials__carousel.js-carousel
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.testimonials__item
								.testimonials__item__top
									.testimonials__item__top__icon
										+svg('icon-google')
									.testimonials__item__top__info
										.testimonials__item__top__details
											a.testimonials__item__top__link(href="javascript:void(0)")
												span Google
												+svg('icon-share')
											.testimonials__item__top__stars
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
										.testimonials__item__top__author
											span Александр Лисицын
								.testimonials__item__text
									span С застройщиком возникли недопонимания, были нарушены сроки сдачи квартиры. Здесь юрист подсказал, как необходимо действовать, взыскали с застройщика пени и штраф.
									button.read-more(type="button") Читать целиком
								.testimonials__item__time
									span 9 декабря 2021
						.swiper-slide
							.testimonials__item
								.testimonials__item__top
									.testimonials__item__top__icon
										+svg('icon-yandex')
									.testimonials__item__top__info
										.testimonials__item__top__details
											a.testimonials__item__top__link(href="javascript:void(0)")
												span Yandex
												+svg('icon-share')
											.testimonials__item__top__stars
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
										.testimonials__item__top__author
											span Павел И.
								.testimonials__item__text
									span Нашел фирму по интернету, обратился за взысканием задолженности, оценили перспективность, фактического взыскания, потом предложили досудебный порядок, но за 30% от фактически взысканной задолженности взысканием задолженности, оценили перспективность, фактического взыскания
									button.read-more(type="button") Читать целиком
								.testimonials__item__time
									span 9 августа 2017
						.swiper-slide
							.testimonials__item
								.testimonials__item__top
									.testimonials__item__top__icon
										+svg('icon-google')
									.testimonials__item__top__info
										.testimonials__item__top__details
											a.testimonials__item__top__link(href="javascript:void(0)")
												span Google
												+svg('icon-share')
											.testimonials__item__top__stars
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
										.testimonials__item__top__author
											span Антон Буров
								.testimonials__item__text
									span Консультация была получена в полном объёме, грамотно и развёрнуто. Юрист в общении корректен, вежлив. Сразу видно, что в юр аспектах в сделках с недвижимостью разбирается досконально. Благодарю.
									button.read-more(type="button") Читать целиком
								.testimonials__item__time
									span 9 декабря 2021
						.swiper-slide
							.testimonials__item
								.testimonials__item__top
									.testimonials__item__top__icon
										+svg('icon-yandex')
									.testimonials__item__top__info
										.testimonials__item__top__details
											a.testimonials__item__top__link(href="javascript:void(0)")
												span Yandex
												+svg('icon-share')
											.testimonials__item__top__stars
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
										.testimonials__item__top__author
											span Ольшанская Инга
								.testimonials__item__text
									span В ЮрФинЭксперт обращалась за экспертизoй договора. Посылала все по электронной почте и заключение пoлучила тоже на почту. работой довольна, спасибо
									button.read-more(type="button") Читать целиком
								.testimonials__item__time
									span 9 августа 2017
						.swiper-slide
							.testimonials__item
								.testimonials__item__top
									.testimonials__item__top__icon
										+svg('icon-google')
									.testimonials__item__top__info
										.testimonials__item__top__details
											a.testimonials__item__top__link(href="javascript:void(0)")
												span Google
												+svg('icon-share')
											.testimonials__item__top__stars
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
												+svg('icon-star')
										.testimonials__item__top__author
											span Oleg Chehov
								.testimonials__item__text
									span Все объяснили, подсказали подводные камни. Помимо сопровождения в суде были даны рекомендации по дальнейшим действиям в интересах ответчика. Рекомендую.
									button.read-more(type="button") Читать целиком
								.testimonials__item__time
									span 9 декабря 2021