.about-company {
    padding: 8.8rem 0 16rem 0;
    width: 100%;
    background-color: $sharade;
    @media (max-width: $sw-xs-max) {
        padding: 5rem 0 9rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3rem 0 6rem 0;
    }
    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-sm-max) {
            justify-content: space-between;
        }
        @media (max-width: $sw-xs-max) {
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
    &__text {
        width: 100%;
        max-width: 44rem;
        @media (max-width: $sw-sm-max) {
            max-width: 40rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-top: 5rem;
        }
        h2 {
            font-weight: 500;
            font-size: 3rem;
            line-height: 1.5em;
            color: $white;
            margin-bottom: 4.8rem;
            @media (max-width: $sw-sm-max) {
                font-size: 2.6rem;
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }
        }
        p {
            @media (max-width: $sw-xx-max) {
                font-size: 1.6rem;
            }
        }
        &__box {
            display: none;
            &.is-active {
                display: block;
            }
        }
    }
    &__circle {
        width: 44rem;
        height: 44rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 4.6rem;
        margin-right: 19.4rem;
        margin-top: 1rem;
        @media (max-width: $sw-sm-max) {
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        @media (max-width: $sw-xs-max) {
            width: 32rem;
            height: 32rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 28rem;
            height: 28rem;
        }
        &__image {
            width: 36.7rem;
            height: 36.7rem;
            position: relative;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            background-image: url('../../s/images/useful/svg/rs-circle-img.svg');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: contain;
            transition: transform 1s ease;
            @media (max-width: $sw-xs-max) {
                width: 26rem;
                height: 26rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 23rem;
                height: 23rem;
            }
            &:after {
                content: '';
                display: block;
                width: calc(100% - 8px);
                height: calc(100% - 8px);
                position: absolute;
                z-index: 0;
                border-radius: 50%;
                border: 1px solid $white;
                @media (max-width: $sw-xs-max) {
                    width: calc(100% - 6px);
                    height: calc(100% - 6px);
                }
            }
            &.is-active {
                animation: rotateFull .8s ease forwards;
            }
        }
        &__text {
            width: 36rem;
            height: 36rem;
            padding: 0 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            font-family: $montserrat;
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 1.35em;
            text-align: center;
            text-transform: uppercase;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            word-break: break-all;
            @media (max-width: $sw-xs-max) {
                width: 26rem;
                height: 26rem;
                font-size: 1.6rem;
                line-height: 1.3em;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
                width: 23rem;
                height: 23rem;
            }
        }
    }
    &__rs {
        @media (max-width: $sw-xs-max) {
            height: 16rem !important;
            width: 32rem !important;
        }
        @media (max-width: $sw-xx-max) {
            height: 14rem !important;
            width: 28rem !important;
        }
        &-wrap {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: row-reverse;
            &--dragged {
                .rs-handle {
                    &:after {
                        opacity: 1 !important;
                    }
                }
                .about-company__rs__point.point-first {
                    &:after {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
        .rs-container {
            @media (max-width: $sw-xs-max) {
                height: 16rem !important;
                width: 32rem !important;
            }
            @media (max-width: $sw-xx-max) {
                height: 14rem !important;
                width: 28rem !important;
            }
        }
        .rs-bg-color {
            background-color: $sharade;
        }
        .rs-border {
            border: none;
        }
        .rs-range-color {
            background-color: $white;
        }
        .rs-path-color {
            background-color: #BD3696;
        }
        .rs-handle {
            background-color: #BD3696;
            &:after {
                content: 'Тянуть';
                display: block;
                position: absolute;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                top: -3px;
                font-size: 1.2rem;
                line-height: 1em;
                color: $white;
                font-family: $sourcesanspro;
                font-weight: 700;
                z-index: 8;
                left: 2px;
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                opacity: 0;
                transition: opacity .3s ease;
                @media (max-width: $sw-xs-max) {
                    left: -1px;
                    font-size: 1.1rem;
                }
            }
        }
        &__point {
            width: 1.6rem;
            height: 1.6rem;
            border: 2px solid #BD3696;
            background-color: #303041;
            position: absolute;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color .2s;
            z-index: 5;
            box-shadow: 0 0 0 0 #BD3696, 0 0 0 0 #BD3696;
            transform: translate3d(0, 0, 0);
            animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
            &.is-active {
                background-color: #BD3696;
                & ~ .about-company__rs__point {
                    background-color: #BD3696;
                }
            }
            &.point-first {
                top: -8px;
                left: -7px;
                background-color: #BD3696;
                &:after {
                    content: 'Тянуть';
                    display: block;
                    text-transform: uppercase;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -2.6rem;
                    font-size: 1.2rem;
                    line-height: 1em;
                    color: $white;
                    font-family: $sourcesanspro;
                    font-weight: 700;
                    z-index: 8;
                    opacity: 1;
                    visibility: visible;
                    transition: opacity .3s ease, visibility .3s ease;
                    @media (max-width: $sw-xs-max) {
                        font-size: 1.1rem;
                    }
                }
            }
            &.point-second {
                top: 18rem;
                left: 10.1rem;
                @media (max-width: $sw-xs-max) {
                    top: 12.9rem;
                    left: 7.1rem;
                }
                @media (max-width: $sw-xx-max) {
                    top: 11.2rem;
                    left: 6.1rem;
                }
            }
            &.point-third {
                top: 18rem;
                left: 32.4rem;
                @media (max-width: $sw-xs-max) {
                    top: 12.9rem;
                    left: 23.3rem;
                }
                @media (max-width: $sw-xx-max) {
                    top: 11.2rem;
                    left: 20.3rem;
                }
            }
            &.point-fourth {
                top: -8px;
                left: 43.1rem;
                @media (max-width: $sw-xs-max) {
                    left: 31.1rem;
                }
                @media (max-width: $sw-xx-max) {
                    left: 27.1rem;
                }
            }
        }
    }
}

@keyframes pulse {
    to {
      box-shadow: 0 0 0 5px transparent, 0 0 0 10px rgba(201, 64, 83, 0);
    }
}

@keyframes rotateFull {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}