mixin about-company(data)
	.about-company
		.container
			.about-company__inner
				.about-company__circle
					.about-company__circle__image
					.about-company__circle__text
						.about-company__text__box.js-slide-text.is-active(data-text="0")
							span ПОСЛЕДОВАТЕЛЬНЫЕ
						.about-company__text__box.js-slide-text(data-text="1")
							span ориентированные
						.about-company__text__box.js-slide-text(data-text="2")
							span ИННОВАЦИОННЫЕ
						.about-company__text__box.js-slide-text(data-text="3")
							span БИЗНЕС-ориентированные юристы
					.about-company__rs-wrap
						.about-company__rs__point.point-fourth(data-index="3")
						.about-company__rs__point.point-third(data-index="2")
						.about-company__rs__point.point-second(data-index="1")
						.about-company__rs__point.point-first(data-index="0")
						.about-company__rs
				.about-company__text
					.about-company__text__box.js-slide-text.is-active(data-text="0")
						h2 16 лет лидерства на юридическом рынке
						p За мнножество лет практики мы четко отработали механизмы по которым работаем, что позволяет нам правильно согласовать объем работы и предоставить 	вам качественные юридические услуги. 
					.about-company__text__box.js-slide-text(data-text="1")
						h2 17 лет лидерства на юридическом рынке
						p За мнножество лет практики мы четко отработали механизмы по которым работаем, что позволяет нам правильно согласовать 
						p Вас обслуживает целый
					.about-company__text__box.js-slide-text(data-text="2")
						h2 18 лет лидерства на юридическом рынке
						p Вас обслуживает целый штат юристов по всем отраслям права!
					.about-company__text__box.js-slide-text(data-text="3")
						h2 19 лет лидерства на юридическом рынке
						p За мнножество лет практики мы четко 
						p Вас обслуживает целый штат юристов по всем отраслям права!
					