mixin price-list(data)
	.price-list
		.container
			.price-list__inner
				+personal-legal-services()
				
				.price-list__collapse
					.price-list__collapse__wrap.js-collapse
						button.btn.js-collapse-trigger(type="button")
							span.price-list__collapse__icon
							span Сколько стоит юридическая консультация и другие услуги?
						.price-list__collapse__inner.js-collapse-inner
							.price-list__collapse__content
								p С приблизительными расценками на юридические услуги можно ознакомиться в прайс-листе, представленном ниже. Указанные сведения носят исключительно информационный характер и не считаются публичной офертой согласно статье 437 ГК РФ. Стоимость юридической помощи зависит от срочности и сложности работ. Именно поэтому она определяется индивидуально в каждом конкретном случае.
							.price-list__collapse__content
								p Если хотите узнать точную цену юридической консультации и других услуг, позвоните по указанному номеру или закажите обратный звонок на сайте.

				.price-list__title
					h2 Прайс-лист на юридические услуги центра «ЮрФинЭксперт»

				.price-list__content
					.price-list__main

						.price-list__item
							.price-list__item__name
								h2 Отдельные услуги для индивидуальных предпринимателей
							.price-list__item__price
								.price-list__item__service
									.price-list__item__info
										span Услуга
									.price-list__item__cost
										span Стоимость (руб.)
								.price-list__item__list
									.price-list__item__info
										p Устная консультация по вопросам, не требующим предварительной проработки
									.price-list__item__cost
										span #[b 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Письменная консультация / устная консультация по вопросам, требующим предварительной проработки
									.price-list__item__cost
										span от #[b 2000] руб.
								.price-list__item__list
									.price-list__item__info
										p Подготовка, экспертиза проекта договора
									.price-list__item__cost
										span от #[b 3 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Подготовка, экспертиза проекта внешнеэкономического контракта
									.price-list__item__cost
										span от #[b 5 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Представительство интересов заказчика в переговорах
									.price-list__item__cost
										span #[b 2 500] руб./час
						.price-list__item
							.price-list__item__name
								h2 Стоимость услуг по составлению и экспертизе договоров
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Составление договоров
									.price-list__item__cost
										span до/свыше 5 страниц #[b 1 000/700] #[br]но не менее #[b 2000] руб.
								.price-list__item__list
									.price-list__item__info
										p Экспертиза договоров
									.price-list__item__cost
										span до/свыше 5 страниц #[b 1 000/700] #[br]но не менее #[b 2000]			
						.price-list__item
							.price-list__item__name
								h2 Стоимость судебных услуг
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Ведение дела в порядке упрощенного производства (арбитраж)
									.price-list__item__cost
										span #[b 17 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Комплексное ведение дела в суде общей юрисдикции или арбитраж
									.price-list__item__cost
										span от #[b 19 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Составление претензии
									.price-list__item__cost
										span от #[b 3 900] руб.
								.price-list__item__list
									.price-list__item__info
										p Составление искового заявления
									.price-list__item__cost
										span от #[b 3 900] руб.
								.price-list__item__list
									.price-list__item__info
										p Ознакомление с материалами дела
									.price-list__item__cost
										span от #[b 3 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Участие в судебном заседании в СПб
									.price-list__item__cost
										span (после 2х заседаний)- #[b 4000] руб. #[br] (если не комплексное #[br]представительство)- #[b 7000] руб.
						.price-list__item
							.price-list__item__name
								h2 Стоимость услуг по сопровождению исполнительного производства
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Юридическая консультация
									.price-list__item__cost
										span #[b 5 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Подача исполнительного листа в ФССП
									.price-list__item__cost
										span #[b 2 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Комплексная услуга по сопровождению исполнительного производства
									.price-list__item__cost
										span #[b 10 000] руб. #[br]+ от 10% фактически #[br]взысканной суммы
								.price-list__item__list
									.price-list__item__info
										p Предъявление исполнительного листа к взысканию
									.price-list__item__cost
										span #[b 2 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Апелляционная инстанция в случае ведения дела юристами «ЮрФинЭксперт»
									.price-list__item__cost
										span 50%
								.price-list__item__list
									.price-list__item__info
										p Участие в исполнительном производстве
									.price-list__item__cost
										span #[b 10 000] руб. #[br]+ от 10% от взысканной суммы #[br](предоплата по согласованию)

						.price-list__info
							h3 В стоимость услуг, указанных выше, не включаются:
							ul.point__list.h-reset-list
								li.point__item государственные пошлины;
								li.point__item командировочные расходы (проезд, суточные);
								li.point__item дополнительные расходы, которые могут возникнуть в ходе оказания услуг (почтовые, курьерские расходы).

						.price-list__item
							.price-list__item__name
								h2 Стоимость услуг в сфере недвижимости
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Комплексное ведение дела по заключению #[br] ДДУ/купли-продажи
									.price-list__item__cost
										span #[b 18 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Анализ договора ДДУ/купли-продажи
									.price-list__item__cost
										span #[b 4 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Анализ договора ДДУ/купли-продажи в строительстве и составление протокола разногласий к нему
									.price-list__item__cost
										span #[b 6 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Выезд к застройщику для переговоров и подписание ДДУ/купли-продажи
									.price-list__item__cost
										span #[b 2 500] руб./ час
								.price-list__item__list
									.price-list__item__info
										p Регистрация в УФРС права собственности на вновь построенную квартиру (включая гос. пошлину)
									.price-list__item__cost
										span #[b 6 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Устная консультация по отдельным вопросам связанных с долевым строительством
									.price-list__item__cost
										span #[b 500] руб.		
						.price-list__item
							.price-list__item__name
								h2 Стоимость услуг автоюриста
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Юридическая консультация
									.price-list__item__cost
										span #[b 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Судебная защита (споры со страховыми компаниями ОСАГО/КАСКО), взыскание ущерба с виновника ДТП
									.price-list__item__cost
										span #[b 20 000] руб.
						.price-list__item
							.price-list__item__name
								h2 Стоимость услуг в области трудового права
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Юридическая консультация
									.price-list__item__cost
										span #[b 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Обжалование незаконного увольнения в суде
									.price-list__item__cost
										span от #[b 19 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Судебное взыскание невыплаты заработной платы
									.price-list__item__cost
										span от #[b 19 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Составление претензии работодателю
									.price-list__item__cost
										span от #[b 3 900] руб.
								.price-list__item__list
									.price-list__item__info
										p Составление искового заявления
									.price-list__item__cost
										span от #[b 3 900] руб.
						.price-list__item
							.price-list__item__name
								h2 Стоимость услуг в области семейного права
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Юридическая консультация
									.price-list__item__cost
										span #[b 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Расторжение брака при согласии обоих супругов
									.price-list__item__cost
										span #[b 9 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Расторжение брака при согласии одного супруга
									.price-list__item__cost
										span #[b 14 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Расторжение брака при наличии дополнительных услуг (раздел имущества, споры о детях и прочие)
									.price-list__item__cost
										span от #[b 25 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Раздел имущества
									.price-list__item__cost
										span от #[b 30 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Раздел имущества
									.price-list__item__cost
										span от #[b 35 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Составление брачного договора
									.price-list__item__cost
										span от #[b 5 000] руб.
						.price-list__item
							.price-list__item__name
								h2 Стоимость услуг по таможенным и налоговым спорам
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Юридическая консультация #[br]по налоговым/таможенным спорам
									.price-list__item__cost
										span #[b 500] руб.
								.price-list__item__list
									.price-list__item__info
										p Судебная защита. Таможенные споры
									.price-list__item__cost
										span от #[b 45 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Судебная защита. Налоговые споры
									.price-list__item__cost
										span от #[b 45 000] руб.
						.price-list__item
							.price-list__item__name
								h2 Печати
							.price-list__item__price
								.price-list__item__service
									span Услуга
									span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Новая печать на ручной оснастке
									.price-list__item__cost
										span #[b 700] руб.
								.price-list__item__list
									.price-list__item__info
										p Новая печать на автоматической оснастке (GRM)
									.price-list__item__cost
										span #[b 1 000] руб.
						.price-list__item
							.price-list__item__name
								h2 Стоимость регистрации ООО, ИП, регистрации изменений
							.price-list__item__price
								.price-list__item__service
									span Услуга
									.price-list__item__timeline
										span Срок
									.price-list__item__cost
										span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Регистрация ООО #[br]Дополнительно: #[br] госпошлина; #[br] печать ручная/автомат; #[br] юридический адрес; #[br] настоятельно открытие счета в Альфабанке; #[br] нотариальные услуги.
									.price-list__item__timeline
										span 7 день
									.price-list__item__cost
										span #[b 1 850] руб. #[br] #[br] #[b 4000] руб. #[br] #[b 700/1000] руб.
								.price-list__item__list
									.price-list__item__info
										p Регистрация ИП#[br]дополнительно:#[br]госпошлина;#[br]печать ручная/автомат;#[br]настоятельно открытие счета в Альфабанке;#[br]нотариальные услуги.
									.price-list__item__timeline
										span 7 день
									.price-list__item__cost
										span #[b 1 850] руб. #[br] #[br] #[b 800] руб. #[br] #[b 700/1000] руб.
						.price-list__item
							.price-list__item__name
								h2 Стоимость оформления юридического адреса
							.price-list__item__price
								.price-list__item__service
									span Услуга
									.price-list__item__timeline
										span Срок
									.price-list__item__cost
										span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Юридический адрес без почтового обслуживания на 11 месяцев
									.price-list__item__timeline
										span 1 день
									.price-list__item__cost
										span #[b 1 990] руб.
								.price-list__item__list
									.price-list__item__info
										p Юридический адрес без почтового обслуживания на 11 месяцев
									.price-list__item__timeline
										span 1 день
									.price-list__item__cost
										span #[b 3 900] руб.
								.price-list__item__list
									.price-list__item__info
										p Юридический адрес без почтового обслуживания на 11 месяцев
									.price-list__item__timeline
										span 1 день
									.price-list__item__cost
										span #[b 21 900] руб.
							.price-list__addition
								p Почтовое обслуживание подразумевает собой получение почты по адресу, #[br]доставка к нам в офис и уведомление вас о письме.
						.price-list__item
							.price-list__item__name
								h2 Стоимость получения выписок из ЕГРЮЛ, ЕГРИП
							.price-list__item__price
								.price-list__item__service
									span Услуга
									.price-list__item__timeline
										span Срок
									.price-list__item__cost
										span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Выписка из ЕГРЮЛ / ЕГРИП в течение 1 суток
									.price-list__item__timeline
										span 1 день
									.price-list__item__cost
										span #[b 1 000] руб.
								.price-list__item__list
									.price-list__item__info
										p Выписка из ЕГРЮЛ / ЕГРИП в течение 5 суток
									.price-list__item__timeline
										span 5 день
									.price-list__item__cost
										span #[b 800] руб.
								.price-list__item__list
									.price-list__item__info
										p Электронная выписка из ЕГРЮЛ / ЕГРИП
									.price-list__item__timeline
										span 1 час
									.price-list__item__cost
										span #[b 150] руб.
							.price-list__addition
								p Государственная пошлина включена. Доставка 200 рублей. #[br]Электронная выписка может быть отправлена по электронной почте.
						.price-list__item
							.price-list__item__name
								h2 Стоимость ликвидации фирм
							.price-list__item__price
								.price-list__item__service
									span Услуга
									.price-list__item__timeline
										span Срок
									.price-list__item__cost
										span Стоимость
								.price-list__item__list
									.price-list__item__info
										p Добровольная ликвидация юридического лица #[br]дополнительно:#[br]Вестник гос. регистрации; #[br]Гос. пошлины;#[br]Нотариальные расходы.
									.price-list__item__timeline
										span от 3-5 месяцев
									.price-list__item__cost
										span #[b 16 900] руб.#[br]#[br] #[b 3 000] руб.#[br]#[b 3 500] руб.#[br]#[b 4 000] руб.

					.price-list__block
						.price-list__application
							.price-list__application__description
								p Отправте заявку для #[br] персональной консультации
							button.btn.btn--violet(type="submit") Оставить заявку


							
					

