.price-list {
	background-color: $white;
	&__inner {
		padding-bottom: 11rem;
		@media (max-width: $sw-sm-max) {
			padding-bottom: 6rem;
		}
		@media (max-width: $sw-xx-max) {
			padding-bottom: 4rem;
		}
	}
	h1 {
		font-size: 4.2rem;
		line-height: 1.19em;
		color: $abbey;
		@media (max-width: $sw-sm-max) {
			font-size: 3.5rem;
		}
		@media (max-width: $sw-xx-max) {
			font-size: 3rem;
		}

	}
	h2 {
		font-family: $montserrat;
		font-weight: 600;
		font-size: 2.8rem;
		line-height: 1.21em;
		color: $mineShaft;
		@media (max-width: $sw-sm-max) {
			font-size: 2.5rem;
		}
		@media (max-width: $sw-xx-max) {
			font-size: 2.2rem;
			text-align: left;
		}
	}
	
	&__title {
		margin-bottom: 5rem;
		letter-spacing: -0.3px;
		@media (max-width: $sw-sm-max) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (max-width: $sw-xx-max) {
			margin-bottom: 4rem;
		}


	}

	&__content {
		display: flex;
		justify-content: space-between;

		@media (max-width: $sw-sm-max) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	
	&__main {
		width: 100%;
		max-width: 80rem;
		flex-grow: 1;
		margin-right: 1.4rem;
		@media (max-width: $sw-sm-max) {
			margin-right: 0;
		}		
	}

	// &__price {
	// 	width: 100%;
	// 	max-width: 72rem;
	// }

	&__block {
		width: 36.6rem;
		padding-top: 4.4rem;
		@media (max-width: $sw-xs-max) {
			width: 30rem;
		}
		@media (max-width: $sw-xx-max) {
			width: 100%;
			padding-top: 2rem;
		}

	}
	
	&__application {
		position: sticky;
		padding: 3rem 2.8rem;
		top: 17rem;
		box-shadow: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
		border-radius: 12px;
		
		@media (max-width: $sw-sm-max) {
			padding: 2.5rem 2.3rem;
		}
		@media (max-width: $sw-xs-max) {
			padding: 2.2rem 2rem;
		}

		
		&__description {
			display: flex;
			align-items: center;
			text-align: center;
			margin-bottom: 1.8rem;
			p {
				font-family: $montserrat;
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 1.3em;
				color: $mineShaft;
				@media (max-width: $sw-sm-max) {
					font-size: 1.6rem;
				}

			}
		}

		.btn--violet {
			width: 20.2rem;
			font-size: 1.6rem;
			@media (max-width: $sw-sm-max) {
				width: 18rem;
				font-size: 1.3rem;
			}
	
		}
	}


	&__item {
		width: 100%;
		max-width: 72rem;
		&:not(:last-child) {
			margin-bottom: 4.8rem;
			@media (max-width: $sw-xs-max) {
				margin-bottom: 4rem;
			}

		}
		&__name {
			margin-bottom: 4rem;
			@media (max-width: $sw-sm-max) {
				margin-bottom: 2.5rem;
			}
			@media (max-width: $sw-xs-max) {
				margin-bottom: 1.7rem;
			}


			h2 {
				font-size: 2.4rem;
				color: $mineShaft;
				@media (max-width: $sw-sm-max) {
					font-size: 2.2rem;
				}
				@media (max-width: $sw-xs-max) {
					font-size: 1.6rem;
				}

			}
		}

		&__service {
            display: flex;
            justify-content: space-between;
            border-bottom: 3px solid $tawnyPort;
            @media (max-width: $sw-xx-max) {
				display: none;
			}
			span {
				font-family: $montserrat;
				font-weight: 500;
				font-size: 1.6rem;
				line-height: 2.12em;
				color: $mineShaft;	
			}
			@media (max-width: $sw-sm-max) {
				font-size: 1.3rem;
			}
        }

		&__list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			padding-top: 2.8rem;
    		padding-bottom: 2.8rem;

			@media (max-width: $sw-xx-max) {
				flex-wrap: wrap;
			}
			
			&:not(:last-child) {
				border-bottom: 1px solid #C2C9D1;
			}
			@media (max-width: $sw-sm-max) {
				padding-top: 1.8rem;
				padding-bottom: 1.5rem;
			}
			@media (max-width: $sw-xs-max) {
				padding-top: 1.3rem;
				padding-bottom: 1rem;
			}

		}
		
		&__info {
			width: 100%;
			max-width: 40rem;
			margin-right: 2rem;
			@media (max-width: $sw-xx-max) {
				max-width: 100%;
				margin-right: 0;
				margin-bottom: 1.5rem;
				margin-right: 0;
			}
			P {
				font-size: 1.6rem;
				line-height: 1.25em;
				color: $black;
				margin: 0;
				// @media (max-width: $sw-xx-max) {
				// 	width: 50%;
				// 	font-size: 1.5rem;
				// }
				@media (max-width: $sw-sm-max) {
					font-size: 1.3rem;
				}
			}
		}

		&__timeline {
			margin-left: auto;
			width: 7.5rem;
			margin-right: 6rem;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 1.25em;
			color: $mineShaft;
			text-align: center;
			@media (max-width: $sw-xx-max) {
				margin-left: 0;
				width: 100%;
				margin-bottom: 1.5rem;
				text-align: left;
			}
			b {
				font-weight: 500;
			}
			@media (max-width: $sw-sm-max) {
				font-size: 1.3rem;
			}
			@media (max-width: $sw-xs-max) {
				margin-right: 1.5rem;

			}

		}

		&__cost {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			text-align: right;
			min-width: 13rem;
			@media (max-width: $sw-xx-max) {
				min-width: auto;
				width: 100%;
				justify-content: flex-start;
				text-align: left;
			}
			span {
				font-family: $montserrat;
				font-weight: 400;
				font-size: 1.6rem;
				line-height: 1.25em;
				color: $mineShaft;
				b {
					font-weight: 500;
				}

				@media (max-width: $sw-sm-max) {
					font-size: 1.3rem;
				}
			}
		}

	}

	&__info {
		margin-bottom: 5.1rem;
		h3 {
			font-family: $montserrat;
			font-weight: 600;
			font-size: 2rem;
			line-height: 1.2em;
			color: $charade;
			margin-bottom: 2.8rem;
			@media (max-width: $sw-sm-max) {
				font-size: 1.8rem;
				margin-bottom: 2rem;
			}
		}
	}

	&__addition {
		padding-left: 1.2rem;
		position: relative;
		
		p {
			font-size: 1.6rem;
			line-height: 1.4em;
			color: $jumbo;
			@media (max-width: $sw-xs-max) {
				font-size: 1.2rem;
			}

			&::before {
				position: absolute;
				content: ' ';
				display: block;
				width: 2px;
				height: 4rem;
				text-align: center;
				background-color: $jumbo;
				top: 50%;
				left: 0;
				transform: translate(-50%, -50%);
				@media (max-width: $sw-xs-max) {
					height: 3.5rem;
				}
			}
		}
	}

	&__collapse {
		width: 100%;
		max-width: 88rem;
		margin-bottom: 14.1rem;
		padding-left: 9.7rem;
		margin-right: 0;

		@media (max-width: $sw-sm-max) {
			margin-bottom: 10rem;
			padding-left: 0;
		}
		@media (max-width: $sw-xs-max) {
			margin-bottom: 5rem;
		}

		@media (max-width: $sw-xx-max) {
			margin-top: 4rem;
			margin-bottom: 5rem;
		}
		&__wrap {
			border-top: 1px solid #C2C9D1;
			padding-top: 1.9rem;
			& + .address__collapse__wrap {
				margin-top: 2rem;
				@media (max-width: $sw-xs-max) {
					margin-top: 1rem;
				}
			}
			
			@media (max-width: $sw-xs-max) {
				padding-top: 1.5rem;
			}
			@media (max-width: $sw-xx-max) {
				padding-top: 1.2rem;
			}
		}
		
		.btn {
			padding: 0;
			transition: color .3s ease;
			font-family: $montserrat;
			font-weight: 600;
			font-size: 2rem;
			line-height: 1.2em;
			letter-spacing: 0.5px;
			color: $mineShaft;
			&:hover {
				@media (min-width: $sw-xs-min) {
					color: $tawnyPort;
				}
				.address__collapse__icon {
					&:after, &:before {
						@media (min-width: $sw-xs-min) {
							background-color: $tawnyPort;
						}
					}
				}
			}
			span {
				font-weight: 600;
				font-size: 2rem;
				line-height: 1.2em;
				letter-spacing: 0.5px;
				@media (max-width: $sw-sm-max) {
					font-size: 1.8rem;
				}
				@media (max-width: $sw-xx-max) {
					font-size: 1.5rem;
					letter-spacing: 0;
				}
			}
		}

		&__icon {
			width: 2rem;
			height: 2rem;
			margin-right: 2rem;
			position: relative;
			@media (max-width: $sw-xx-max) {
				width: 1.7rem;
				height: 1.7rem;
				margin-right: 5px;
			}

			&::before, &::after {
				content: '';
				display: block;
				background-color: $black;
				border-radius: 1px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: background-color .3s ease
			}
			
			&::after {
				height: 1.6rem;
				width: 2px;
				transition: transform .3s ease;
				.collapse-is-opened & {
					transform: translate(-50%, -50%) scaleY(0);
				}
			}
			&::before {
				width: 1.6rem;
				height: 2px;
			}
		}
		&__content {
			padding: 9px 0 0 4rem;

			p {
				line-height: 1.48em;
				color: $charade;
				@media (max-width: $sw-xx-max) {
					font-size: 1.6rem;
				}
			}
			@media (max-width: $sw-xx-max) {
				padding: 5px 0 0 3rem;
			}
		}
		
	}

}