@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

@include font-face('SourceSansPro', 'SourceSansPro-ExtraLight/SourceSansPro-ExtraLight', 200);
@include font-face('SourceSansPro', 'SourceSansPro-ExtraLightItalic/SourceSansPro-ExtraLightItalic', 200, italic);
@include font-face('SourceSansPro', 'SourceSansPro-Light/SourceSansPro-Light', 300);
@include font-face('SourceSansPro', 'SourceSansPro-LightItalic/SourceSansPro-LightItalic', 300, italic);
@include font-face('SourceSansPro', 'SourceSansPro-Regular/SourceSansPro-Regular', 400);
@include font-face('SourceSansPro', 'SourceSansPro-Italic/SourceSansPro-Italic', 400, italic);
@include font-face('SourceSansPro', 'SourceSansPro-SemiBold/SourceSansPro-SemiBold', 600);
@include font-face('SourceSansPro', 'SourceSansPro-SemiBoldItalic/SourceSansPro-SemiBoldItalic', 600, italic);
@include font-face('SourceSansPro', 'SourceSansPro-Bold/SourceSansPro-Bold', 700);
@include font-face('SourceSansPro', 'SourceSansPro-BoldItalic/SourceSansPro-BoldItalic', 700, italic);
@include font-face('SourceSansPro', 'SourceSansPro-Black/SourceSansPro-Black', 800);
@include font-face('SourceSansPro', 'SourceSansPro-BlackItalic/SourceSansPro-BlackItalic', 800, italic);

@include font-face('Montserrat', 'Montserrat-Medium/Montserrat-Medium', 500);
@include font-face('Montserrat', 'Montserrat-MediumItalic/Montserrat-MediumItalic', 500, italic);
@include font-face('Montserrat', 'Montserrat-Bold/Montserrat-Bold', 600);
@include font-face('Montserrat', 'Montserrat-BoldItalic/Montserrat-BoldItalic', 600, italic);
@include font-face('Montserrat', 'Montserrat-ExtraBold/Montserrat-ExtraBold', 700);
@include font-face('Montserrat', 'Montserrat-ExtraBoldItalic/Montserrat-ExtraBoldItalic', 700, italic);
@include font-face('Montserrat', 'Montserrat-Black/Montserrat-Black', 800);
@include font-face('Montserrat', 'Montserrat-BlackItalic/Montserrat-BlackItalic', 800, italic);