.l-wrapper{
	position: relative;
	min-height: 100vh;
}

h1 {
	font-family: $montserrat;
	font-weight: 600;
	font-size: 3.8rem;
	line-height: 1.32em;
	margin: 0;
	color: $white;
}

h2 {
	font-family: $montserrat;
	font-weight: 500;
	font-size: 3.4rem;
	line-height: 1.5em;
	margin: 0;
	color: $white;
	@media (max-width: $sw-sm-max) {
		font-size: 2.8rem;
	}
	@media (max-width: $sw-xs-max) {
		line-height: 1.4em;
	}
}

h3 {
	font-weight: 700;
	font-size: 2.2rem;
	line-height: 1.27em;
	margin: 0;
	color: $charade;
}


p {
	font-size: 1.6rem;
	line-height: 1.5em;
	margin: 0;
	color: $white;
}

.sidebar {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
    align-items: flex-end;
	max-width: 24rem;
	@media (max-width: $sw-xs-max) {
		display: none;
	}

	&__inner {
		position: sticky;  
		top: 11rem;
	}

	&__item { 
		font-size: 1.6rem;
		line-height: 1.25em;
		color: $mineShaft1;
		&:not(:last-child) {
			margin-bottom: 1.8rem;
		}
		a {
			transition: color .3s ease;
			&:hover {
				@media (min-width: $sw-xs-min) {
					color: lighten($tawnyPort, 5%);
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					color: lighten($tawnyPort, 8%);
				}
			}
		}
		&--is-active {
			font-weight: 600;
			display: flex;
			color: $tawnyPort;
			position: relative;
			a {
				color: $tawnyPort;
			}
			&::before {
				content: ' ';
				display: block;
				position: absolute;				
				width: 3px;
				height: 2.4rem;
				text-align: center;
				background-color: $tawnyPort;
				right: 24.7rem;
			}
		}
	}
	&__title {
		width: 100%;
		align-items: start;
		font-family: $montserrat;
		font-weight: 500;
		font-size: 2.2rem;
		line-height: 1.36em;
		text-align: justify;
		text-transform: uppercase;
		color: $mineShaft1;
		margin-bottom: 2.9rem;
	}
}

.point {
	&__item {
		padding-left: 3.5rem;
		margin-bottom: 0;
		position: relative;
		font-size: 1.8rem;
		line-height: 1.45em;
		color: $charade;
		font-weight: 400;
		font-family: $sourcesanspro;
		@media (max-width: $sw-xx-max) {
			padding-left: 3rem;
			font-size: 1.5rem;
		}
		// @media (max-width: $sw-xx-max) {
		// 	font-size: 1rem;
		// }
		&::before {
			content: '';
			display: block;
			width: 9px;
			height: 9px;
			background-color: $gray;
			border-radius: 50%;
			position: absolute;
			top: 1.1rem;
			left: 9px;
			@media (max-width: $sw-xx-max) {
				width: 7px;
				height: 7px;
				top: 0.9rem;
				left: 9px;
			}
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
			@media (max-width: $sw-xs-max) {
				margin-bottom: 4px;
			}
			// @media (max-width: $sw-xx-max) {
			// 	margin-bottom: 5px;
			// }
		}
	}
}

a {
	transition: color .3s ease;
}

.js-collapse-inner {
	display: none;
}

// dotted list
.dotted-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		padding-left: 3.5rem;
		margin-bottom: 0;
		position: relative;
		font-size: 1.6rem;
		line-height: 1.45em;
		color: $charade;
		font-weight: 400;
		font-family: $sourcesanspro;
		@media (max-width: $sw-xs-max) {
			font-size: 1.6rem;
		}
		@media (max-width: $sw-xx-max) {
			padding-left: 3rem;
			font-size: 1.5rem;
		}
		&::before {
			content: '';
			display: block;
			width: 9px;
			height: 9px;
			background-color: $gray;
			border-radius: 50%;
			position: absolute;
			top: 1.1rem;
			left: 9px;
			@media (max-width: $sw-xx-max) {
				width: 7px;
				height: 7px;
				top: 9px;
				left: 9px;
			}
		}
		&:not(:last-child) {
			margin-bottom: 8px;
			@media (max-width: $sw-xx-max) {
				margin-bottom: 5px;
			}
		}
	}
}

.row-ui {
	padding: 3rem 0;
	.col {
		margin-bottom: 3rem;
	}
	&__icon {
		text-align: center;
		margin-bottom: 5px;
		.icon {
			font-size: 3rem;
		}
	}
	&__name {
		text-align: center;
		font-size: 1.4rem;
	}
}