.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.icon-arrow {
	width: 1.13671875em;
}

.icon-cash {
	width: 3.8125em;
}

.icon-chevron {
	width: 1.875em;
}

.icon-chevron-sm {
	width: 0.625em;
}

.icon-deal {
	width: 1.3125em;
}

.icon-email{
	width: 1.34375em;
}

.icon-logo,
.icon-logo-colored {
	width: 3.78125em;
}

.icon-mastercard {
	width: 1.59375em;
}

.icon-more-variants {
	width: 4.8125em;
}

.icon-sberbank {
	width: 6.46875em;
}

.icon-star {
	width: 1.0625em;
}

.icon-telegram {
	width: 1.03125em;
}

.icon-user-list {
	width: 1.1875em;
}

.icon-visa {
	width: 3.15625em;
}

.icon-yandex-money {
	width: 2.875em;
}

.icon-done-all {
	width: 1.84375em;
}
