mixin calculate-price(data)
	.calculate-price
		.container
			.calculate-price__inner
				.calculate-price__form
					.calculate-price__title
						h2 Рассчитать стоимость#[br] бухгалтерского обслуживания
					form.js-form-check(action="javascript:void(0)")
						.calculate-price__fields
							.calculate-price__fields__col
								.form-control-wrap
									label.form-control-label(for="userName") Им’я #[sup *]
									.input-wrap.required
										input.form-control(name="user_name" type="text" placeholder="Введите ваше им’я" required="", id="userName")
										+svg('icon-close')

							.calculate-price__fields__col
								.form-control-wrap
									label.form-control-label(for="userPhone") Телефон #[sup *]
									.input-wrap.required
										input.form-control(name="user_phone" type="text" placeholder="Введите ваш телефон" required="", id="userPhone")
										+svg('icon-close')

							.calculate-price__fields__col.col--fluid
								.form-control-wrap
									label.form-control-label(for="userEmail") Email
									.input-wrap.required
										input.form-control.calculate-price__input__mail(name="user_email" type="email" placeholder="Это поле обязательное" required="", id="userEmail")
										+svg('icon-close')

							.calculate-price__fields__col.col--fluid
								.form-control-wrap
									label.form-control-label(for="userCompany") Название компании
									.input-wrap.required
										input.form-control(name="user_company" type="text" placeholder="Введите название компании" required="", id="userCompany")
										+svg('icon-close')


							
							.calculate-price__fields__col.col--fluid
								.form-control-wrap
									label.form-control-label(for="organizational-form") Организационно-правовая форма
									.input-wrap.required
										select.js-select(required="", id="organizational-form" name="form" data-placeholder='ООО')
											option(value="")
											option(value="1") 1
											option(value="2") 2
											option(value="3") 3
											option(value="4") 4
										

							.calculate-price__fields__col.col--fluid
								.form-control-wrap
									label.form-control-label(for="activity") Вид деятельности
									.input-wrap.required
										select.js-select(required="", id="activity" name="form" data-placeholder='Услуги')
											option(value="")
											option(value="1") 4
											option(value="2") 5
											option(value="3") 6
											option(value="4") 7

							.calculate-price__fields__col.col--fluid
								.form-control-wrap
									label.form-control-label(for="operations") Количество операций в месяц (по поступлению товаров, работ, услуг)
									.input-wrap.required
										select.js-select(required="", id="operations" name="form")
											option(value="0", selected) 0
											option(value="1") 8
											option(value="2") 9
											option(value="3") 10
											option(value="4") 7
							
							.calculate-price__fields__col.col--fluid
								.form-control-wrap
									label.form-control-label(for="countEmployees") Количество сотрудников
									.input-wrap.required
										input.form-control(name="user_count" type="text" placeholder="Введите количество сотрудников работающих у вас" required="", id="countEmployees")
										+svg('icon-close')


							.calculate-price__fields__col.col--fluid
								.form-control-wrap
									label.form-control-label(for="expectedTurnover") Примерный планируемый оборот
									.input-wrap.required
										input.form-control(name="user_plan" type="text" placeholder="Введите примерный планируемый оборот" required="", id="expectedTurnover")
										+svg('icon-close')

						
						.calculate-price__wrap
							.calculate-price__subtitle
								p Выберите все пункты, которые применимы
							.calculate-price__consent
								label(for="consent1").calculate-price__consent__item
									input#consent1(type="checkbox" name="consent" required="")
									span.calculate-price__contents
										span.calculate-price__consent__box
											+svg('icon-check-mark')
										span.calculate-price__consent__description Наличие посреднической деятельности
							.calculate-price__consent
								label(for="consent2").calculate-price__consent__item
									input#consent2(type="checkbox" name="consent")
									span.calculate-price__contents
										span.calculate-price__consent__box
											+svg('icon-check-mark')
										span.calculate-price__consent__description Наличие ВЭД (внешнеэкономической деятельности)
							.calculate-price__consent
								label(for="consent3").calculate-price__consent__item
									input#consent3(type="checkbox" name="consent")
									span.calculate-price__contents
										span.calculate-price__consent__box
											+svg('icon-check-mark')
										span.calculate-price__consent__description Наличие ККМ (контрольно-кассовой машины), бланков строгой отчетности
							.calculate-price__consent
								label(for="consent4").calculate-price__consent__item
									input#consent4(type="checkbox" name="consent")
									span.calculate-price__contents
										span.calculate-price__consent__box
											+svg('icon-check-mark')
										span.calculate-price__consent__description Наличие недвижимости
							.calculate-price__consent
								label(for="consent5").calculate-price__consent__item
									input#consent5(type="checkbox" name="consent")
									span.calculate-price__contents
										span.calculate-price__consent__box
											+svg('icon-check-mark')
										span.calculate-price__consent__description Наличие автотранспорта
							.calculate-price__consent
								label(for="consent6").calculate-price__consent__item
									input#consent6(type="checkbox" name="consent")
									span.calculate-price__contents
										span.calculate-price__consent__box
											+svg('icon-check-mark')
										span.calculate-price__consent__description Наличие нерезидентов РФ (учредители, сотрудники)
							.calculate-price__consent
								label(for="consent7").calculate-price__consent__item
									input#consent7(type="checkbox" name="consent" required)
									span.calculate-price__contents
										span.calculate-price__consent__box
											+svg('icon-check-mark')
										span.calculate-price__consent__description Наличие филиалов
						.calculate-price__button
							button.send-form(type="submit")
								span Отправить
								+svg('icon-arrow')

				.calculate-price__menu.sidebar
					.sidebar__inner
						ul.sidebar__list.h-reset-list
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Юридическим лицам
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Гражданам
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Регистрация и ликвидация фирм
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Юридический адрес
							li.sidebar__item.sidebar__item--is-active
								a.sidebar__link(href="javascript:void(0)") Бухгалтерские услуги
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Недвижимость
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Судебные услуги
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") ЭЦП и отчетность
					
