.calculate-price {
    &__inner {
        padding-top: 8rem;
        padding-bottom: 12.2rem;
        display: flex;
        justify-content: space-between;
        
        @media (max-width: $sw-xs-max) {
            padding-top: 6rem;
            padding-bottom: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: $sw-xx-max) {
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
        }
    }

    &__form {
        flex-grow: 1;
        margin-right: 37.7rem;
        @media (max-width: $sw-sm-max) {
            margin-right: 10rem;
        }
        @media (max-width: $sw-xs-max) {
            width: 100%;
            margin-bottom: 3.2rem;
            margin-right: 0;
        }
    }

    &__menu {
        padding-right: 5px;
    }


    &__title {
        margin-bottom: 4.8rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 4.4rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3.5rem;
        }
        h2 {
            font-weight: 600;
            font-size: 2.7rem;
            color: $charade;
        }
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 8px;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 5px;
        }
        &__col {
            width: calc(50% - 1rem);
            margin-bottom: 2.6rem;
            @media (max-width: $sw-sm-max) {
                width: calc(50% - 2rem);
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
            &.col--fluid {
                width: 100%;
            }
            // &:last-child {
            //     margin-bottom: 0;
            // }
            .form-control {
                color: $black;
                border-bottom-color: $tawnyPort;
                @include placeholder {
                    color: rgba($waterloo, 0.6);
                }
            }
        }
    }

    &__button {
        display: flex;
        justify-content: flex-end;
    }

    &__subtitle {
        margin-bottom: 1.8rem;
        p {
            color: $charade;
        }
    }

    &__wrap {
        padding-left: 1.2rem;
        padding-bottom: 3.2rem;
    }


    &__contents {
        display: flex;
        align-items: flex-start;
    }

    &__consent {
        input {
            opacity: 0;
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
            left: -9999em;
            top: -9999em;
            
            &:checked {
                & + .calculate-price__contents {
                    .calculate-price__consent__box {
                        border: 1px solid $tawnyPort;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: border-color .3s ease, color .3s ease;

                        .icon-check-mark {
                            width: 1.1rem;
                            height: 8px;
                            opacity: 1;
                            color: $tawnyPort;
                            transition: color .3s ease;
                        }
                    }
                    .calculate-price__consent__description {
                        color: $charade;
                        transition: color .3s ease;
                    }
                    
                }
            }
        }
        &__box {
            width: 2rem;
            height: 2rem;
            font-size: 1.3rem;
            background-color: transparent;
            border: 1px solid $waterloo;
            border-radius: 2px;
            margin-right: 1.2rem;
            flex-shrink: 0;
            transition: border-color .3s ease, color .3s ease;

         
            .icon-check-mark {
                opacity: 0;
                transition: color .3s ease;

            }
        }
        &__item {
            margin-bottom: 1.8rem;
            cursor: pointer;
        }

        &__description {
            font-family: $sourcesanspro;
            font-size: 1.8rem;
            line-height: 1.27em;
            color: $waterloo;
        }
    }
}
