mixin main-baner(data)
	.main-baner(class='' + data.class ? data.class : null)
		.container
			.main-baner__inner
				.main-baner__left
					h2!= data.title
				.main-baner__right
					p!= data.subtitle