.main-baner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &--catalog {
        background-image: url("../../s/images/useful/main-baner/catalog.png");
    }
    &--accounting-form {
        background-image: url("../../s/images/useful/main-baner/accounting-form.png");
    }
    &--legal-address {
        background-image: url("../../s/images/useful/main-baner/accounting-form.png");
    }
    &--detailed-page {
        background-image: url("../../s/images/useful/main-baner/detailed-page.png");
    }
    
    &__inner {
        min-height: 33rem;
        padding: 6.4rem 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: $sw-sm-max) {
            padding: 5rem 0;
            min-height: 30rem;
        }
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            min-height: auto;
        }
        @media (max-width: $sw-xx-max) {
            padding: 3.5rem 0;
        }
        
    }

    &__left {
        width: 100%;
        max-width: 41.4rem;
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
            margin-bottom: 2.5rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 1.5rem;
        }
        h2 {
            font-size: 3rem;
            @media (max-width: $sw-xx-max) {
                align-items: flex-start;
            }
            
        }
    }
    
    &__right {

        display: none;

        width: 100%;
        max-width: 58.2rem;
        @media (max-width: $sw-sm-max) {
            max-width: 43rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
        }
        P {
            font-size: 1.6rem;
            width: 100%;
            @media (max-width: $sw-sm-max) {
                font-size: 1.4rem;
            }
        }
    }
}