mixin our-clients(data)
	.our-clients
		.container
			.our-clients__inner
				h2 Наши клиенты
				p Нам доверяют лутчие компании на протижении многих лет:
				.our-clients__grid
					.our-clients__col
						a.our-clients__item(href="javascript:void(0)")
							img(src="s/images/useful/partners/bantikov.png", alt="bantikov")
					.our-clients__col
						a.our-clients__item(href="javascript:void(0)")
							img(src="s/images/useful/partners/galant.png", alt="galant")
					.our-clients__col
						a.our-clients__item(href="javascript:void(0)")
							img(src="s/images/useful/partners/euro.png", alt="euro")
					.our-clients__col
						a.our-clients__item(href="javascript:void(0)")
							img(src="s/images/useful/partners/polus.png", alt="polus")
					.our-clients__col
						a.our-clients__item(href="javascript:void(0)")
							img(src="s/images/useful/partners/bobox.png", alt="bobox")