.our-clients {
    padding: 8rem 0 6.7rem 0;
    background-color: $white;
    @media (max-width: $sw-xs-max) {
        padding: 6rem 0 4rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 5rem 0 3rem;
    }
    &__inner {
        h2 {
            margin-bottom: 1.6rem;
            line-height: 1.4em;
            color: $charade;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.4rem;
            }
        }
        p {
            font-size: 1.8rem;
            line-height: 1.6em;
            color: $mineShaft;
            margin-bottom: 3.2rem;
            letter-spacing: 0.5px;
        }
    }
    &__grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        @media (max-width: $sw-sm-max) {
            margin-left: -2rem;
            margin-right: -2rem;
        }
    }
    &__col {
        width: 15rem;
        margin-bottom: 4rem;
        @media (max-width: $sw-sm-max) {
            width: 20%;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-bottom: 3rem;
        }
        @media (max-width: $sw-xs-max) {
            width: 25%;
        }
        @media (max-width: $sw-xx-max) {
            width: calc(100% / 3);
        }
        @media (max-width: 499px) {
            width: 50%;
        }
        &:not(:last-child) {
            margin-right: 8rem;
            @media (max-width: $sw-sm-max) {
                margin-right: 0;
            }
        }
    }
    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}