.footer {
    background-color: #1F1F1F;
    .container {
        @media (min-width: $sw-lg-min) {
            max-width: 1386px;
        }
    }
    &__inner {
        padding: 3.2rem 0 2.4rem 0;
    }
    &__top {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 2.1rem;
        padding-right: 2.5rem;
        margin-bottom: 2.4rem;
        border-bottom: 1px solid rgba($white, 0.1);
        @media (max-width: $sw-sm-max) {
            padding-right: 0;
        }
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
            padding-bottom: 1.5rem;
        }
    }
    &__bottom {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
        &__side {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
            &:first-child {
                align-items: flex-start;
                margin-right: 2rem;
                @media (max-width: $sw-xx-max) {
                    margin-right: 0;
                    margin-bottom: 3rem;
                    align-items: center;
                }
            }
            &:last-child {
                align-items: flex-end;
                text-align: right;
                @media (max-width: $sw-xx-max) {
                    text-align: left;
                    align-items: center;
                }
            }
        }
    }
    &__logo {
        margin-top: 3px;
        margin-right: 23.5rem;
        flex-shrink: 0;
        @media (max-width: $sw-sm-max) {
            margin-right: 10rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-right: 0;
            margin-bottom: 3rem;
        }
        .icon-logo-colored {
            font-size: 5.5rem;
            @media (max-width: $sw-sm-max) {
                font-size: 4.5rem;
            }
        }
    }
    &__payments {
        margin-left: 1rem;
        @media (max-width: $sw-xs-max) {
            margin-left: 0;
            width: 100%;
        }
        &__title {
            font-family: $montserrat;
            font-size: 1.8rem;
            line-height: 1.2em;
            letter-spacing: -0.3px;
            color: $white;
            margin-bottom: 1.8rem;
        }
        &__list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: $sw-xs-max) {
                flex-wrap: wrap;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                &:not(:last-child) {
                    margin-right: 3.8rem;
                    @media (max-width: $sw-xs-max) {
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
    &__policy {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 3.2rem;
        margin-top: 6px;
        @media (max-width: $sw-xx-max) {
            margin-top: 0;
            margin-bottom: 2rem;
        }
        a {
            font-size: 1.4rem;
            line-height: 1.2em;
            letter-spacing: -0.204545px;
            color: $white;
            font-family: $montserrat;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $royalHeath;
                }
            }
            & + a {
                margin-left: 3.1rem;
            }
        }
    }
    &__rules {
        p {
            font-family: $montserrat;
            margin-bottom: 0;
            font-size: 1.4rem;
            line-height: 1.2em;
            letter-spacing: -0.204545px;
            color: rgba(255, 255, 255, 0.4);
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 2.6rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2rem;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $royalHeath;
                }
            }
            & + a {
                margin-left: 2.2rem;
            }
        }
        .icon {
            font-size: 3.1rem;
            &-whatsapp {
                font-size: 2.7rem;
            }
        }
    }
    &__content {
        margin-bottom: 7.6rem;
        width: 100%;
        padding-right: 2.5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $sw-sm-max) {
            padding-right: 0;
        }
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
    }
    &__form {
        margin-right: 16.2rem;
        flex-shrink: 0;
        width: 29rem;
        @media (max-width: $sw-sm-max) {
            margin-right: 8rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 3rem;
            margin-right: 0;
            width: 100%;
            max-width: 40rem;
        }
        &__title {
            margin-bottom: 3.4rem;
            font-family: $montserrat;
            font-size: 2.2rem;
            line-height: 1.23em;
            letter-spacing: -0.3px;
            color: $white;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2.5rem;
                font-size: 1.8rem;
            }
        }
        &__submit {
            height: 4.9rem;
            width: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px 8px 0 0;
            flex-shrink: 0;
            background-color: $white;
            transition: background-color .3s ease;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    background-color: darken($white, 7%);
                }
            }
            &:active {
                @media (min-width: $sw-xs-min) {
                    background-color: darken($white, 10%);
                }
            }
            .icon {
                font-size: 1rem;
                color: #76255E;
            }
        }
        &__inner {
            width: 100%;
            margin-bottom: 3.2rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2.5rem;
            }
        }
        .form-control-wrap {
            width: 100%;
            position: relative;
            border-bottom: 1px solid rgba(255,255,255,.1);
        }
        .input-wrap {
            width: 100%;
            display: flex;
            align-items: center;
        }
        input {
            flex-grow: 1;
            border: none;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            font-size: 1.6rem;
            line-height: 1.25em;
            color: $white;
            padding-right: 1rem;
            font-family: $montserrat;
            height: 5rem;
            @include placeholder {
                color: rgba(255,255,255,.5);
                opacity: 1;
                transition: opacity .3s ease;
            }
            &:focus {
                background-color: transparent;
                border: none;
                outline: none;
                box-shadow: none;
                @include placeholder {
                    opacity: 0;
                }
            }
        }
    }
    &__info {
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        @media (max-width: $sw-md-max) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__title {
            font-family: $montserrat;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.2em;
            letter-spacing: -0.231818px;
            color: #A33483;
            margin-bottom: 2.6rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.8rem;
            }
        }
    }
    &__address {
        width: 24.2rem;
        margin-right: 16.2rem;
        // margin-right: 18.9rem;

        @media (max-width: $sw-md-max) {
            width: 100%;
            margin-right: 0;
            order: 1;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        @media (max-width: 549px) {
            flex-wrap: wrap;
        }
        &__box {
            @media (max-width: $sw-md-max) {
                width: calc(45% - 5rem);
            }
            @media (max-width: $sw-sm-max) {
                width: calc(50% - 1rem);
            }
            @media (max-width: 549px) {
                width: 100%;
            }
            & + .footer__address__box {
                margin-top: 5.7rem;
                @media (max-width: $sw-md-max) {
                    margin-left: 2rem;
                    margin-top: 0;
                }
                @media (max-width: 549px) {
                    margin-left: 0;
                    margin-top: 3rem;
                }
            }
            p {
                margin-bottom: 0;
                font-size: 1.6rem;
                line-height: 1.25em;
                color: $white;
                & + p {
                    margin-top: 1rem;
                }
            }
        }
    }
    &__list {
        @media (max-width: $sw-md-max) {
            width: calc(45% - 5rem);
        }
        @media (max-width: $sw-sm-max) {
            width: calc(50% - 1rem);
        }
        @media (max-width: 549px) {
            width: 100%;
        }
        & + .footer__list {
            margin-left: 12.7rem;
            @media (max-width: $sw-md-max) {
                margin-left: 3rem;
            }
            @media (max-width: 549px) {
                margin-left: 0;
                margin-top: 3rem;
            }
        }
        &-wrap {
            display: flex;
            align-items: flex-start;
            @media (max-width: $sw-md-max) {
                width: 100%;
                order: 0;
                justify-content: space-between;
                margin-bottom: 5rem;
            }
            @media (max-width: 549px) {
                flex-wrap: wrap;
                margin-bottom: 3rem;
            }
        }
        &__item {
            & + .footer__list__item {
                margin-top: 1.7rem;
            }
            a {
                font-size: 1.6rem;
                line-height: 1.25em;
                color: $white;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: $royalHeath;
                    }
                }
            }
        }
    }
    &__contacts {
        &__title {
            font-family: $montserrat;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1.2em;
            color: #A33483;
            margin-bottom: 2.4rem;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.7rem;
            line-height: 1.2em;
            color: $white;
            letter-spacing: -0.204545px;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $royalHeath;
                }
            }
            & + a {
                margin-top: 2rem;
            }
            .icon {
                margin-right: 1.2rem;
                flex-shrink: 0;
                &-phone {
                    font-size: 1.6rem;
                }
                &-email {
                    font-size: 1.2rem;
                }
            }
        }
    }
}