mixin footer()
	footer.footer
		.container
			.footer__inner
				.footer__top
					a.footer__logo(href="javascript:void(0)")
						+svg('icon-logo-colored') 
					.footer__payments
						.footer__payments__title
							span Мы принимаем к оплате:
						.footer__payments__list
							a(href="javascript:void(0)")
								img(src="s/images/useful/payments/visa.svg", alt="visa")
							a(href="javascript:void(0)")
								img(src="s/images/useful/payments/sberbank.svg", alt="sberbank")
							a(href="javascript:void(0)")
								img(src="s/images/useful/payments/mastercard.svg", alt="mastercard") 
							a(href="javascript:void(0)")
								img(src="s/images/useful/payments/yandex-money.svg", alt="yandex-money") 
							a(href="javascript:void(0)")
								img(src="s/images/useful/payments/cash.svg", alt="cash") 
							a(href="javascript:void(0)")
								img(src="s/images/useful/payments/more-variants.svg", alt="more-variants") 
				.footer__content
					.footer__form
						.footer__form__title
							span Подпишись #[br] на наши новости
						form.footer__form__inner(action="javascript:void(0)")
							.form-control-wrap
								.input-wrap
									input(type="text", placeholder="Email адрес")
									button.footer__form__submit(type="submit")
										+svg('icon-chevron-sm')
						.footer__contacts
							.footer__contacts__title
								span Контакты
							a(href="tel:+78123341090")
								+svg('icon-phone')
								span  + 7 (812) 334-10-90
							a(href="mailto:ufe@ufe.su")
								+svg('icon-email')
								span  ufe@ufe.su
					.footer__info
						.footer__address
							.footer__address__box
								.footer__info__title
									span Офис в Санкт-Петербурге
								p ул. Большая Разночинная,д. 23
								p Офис открыт с ПН по ПТ #[br] с 09:30 до 20:00 часов
							.footer__address__box
								.footer__info__title
									span Дополнительный офис
								p Левашовский пр., д. 13, оф. 217
								p Офис открыт с ПН по ПТ #[br] с 10:30 до 19:00 часов.
						.footer__list-wrap
							.footer__list
								.footer__info__title
									span Услуги
								.footer__list__item
									a(href="javascript:void(0)") Юридическим лицам
								.footer__list__item
									a(href="javascript:void(0)") Гражданам
								.footer__list__item
									a(href="javascript:void(0)") Регистрация и ликвидация фирм
								.footer__list__item
									a(href="javascript:void(0)") Юридический адрес
								.footer__list__item
									a(href="javascript:void(0)") Бухгалтерские услуги
								.footer__list__item
									a(href="javascript:void(0)") Недвижимость
								.footer__list__item
									a(href="javascript:void(0)") Судебные услуги
							.footer__list
								.footer__info__title
									span Информация
								.footer__list__item
									a(href="javascript:void(0)") Услуги
								.footer__list__item
									a(href="javascript:void(0)") Наша практика
								.footer__list__item
									a(href="javascript:void(0)") Стоимость услуг
								.footer__list__item
									a(href="javascript:void(0)") Контакты
								.footer__list__item
									a(href="javascript:void(0)") Карта сайта
								.footer__list__item
									a(href="javascript:void(0)") О компании
				.footer__bottom
					.footer__bottom__side
						.footer__policy
							a(href="javascript:void(0)") Terms & Conditions
							a(href="javascript:void(0)") Privacy Policy
						.footer__rules
							p Все права защищены. Копирование запрещено.
					.footer__bottom__side
						.footer__socials
							a(href="javascript:void(0)")
								+svg('icon-whatsapp') 
							a(href="javascript:void(0)")
								+svg('icon-telegram') 
							a(href="javascript:void(0)")
								+svg('icon-vk') 
						.footer__rules
							p © 2005–2021 Юридическая компания «ЮрФинЭксперт» 
