.specialists-section {
    padding: 8rem 0 10rem 0;
    background-color: $white;
    @media (max-width: $sw-sm-max) {
        padding: 7rem 0;
    }
    @media (max-width: $sw-xs-max) {
        padding: 5rem 0 3rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3rem 0 2rem 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
    }
    .text-component {
        width: 100%;
        max-width: 78rem;
        margin-right: 5rem;
        @media (max-width: $sw-sm-max) {
            max-width: 60rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: none;
            margin-right: 0;
        }
    }
}