mixin specialists-section(data)
	.specialists-section
		.container
			.specialists-section__inner
				+specialists()
				.sidebar
					.sidebar__inner
						ul.sidebar__list.h-reset-list
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Юридическим лицам
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Гражданам
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Регистрация и ликвидация фирм
							li.sidebar__item.sidebar__item--is-active
								a.sidebar__link(href="javascript:void(0)") Юридический адрес
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Бухгалтерские услуги
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Недвижимость
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Судебные услуги
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") ЭЦП и отчетность
