.catalog {

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: 6.3rem;
    }

    &__col {
        width: calc(100% / 3);
        margin-bottom: 1.8rem;
        padding: 0 1rem;
        @media (max-width: $sw-xs-max) {
            width: calc(100% / 2);
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3.5rem 3.2rem 3.8rem;
        background-color: $white;
        border-radius: 12px;
        border: 1px solid $tawnyPort;
        transition: background-color .3s ease;

        &:hover {
            @media (min-width: $sw-xs-min) {
                color: $tawnyPort;
                background-color: #F4F4F4;
            }
        }
        &:active {
            @media (min-width: $sw-xs-min) {
                color: $white;
                background-color: darken($white, 8%);
            }
        }

        &__top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        &__title {
            width: 100%;
            max-width: 28rem;
            height: 5.6rem;
            h3 {
                font-size: 2rem;
            }
        }

        .icon-arrow {
            font-size: 2.4rem;
            color: $tawnyPort;
        }

        &__description {
            height: 13rem;
            p {
                line-height: 1.6em;
                font-size: 1.6rem;
                color: $charade;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                opacity: 0.8
            }
        }
    }

}