mixin catalog(data)
	.catalog
		.container
			.catalog__inner
				each service in data.services
					.catalog__col
						a.catalog__item(href="javascript:void(0)")
							.catalog__item__top
								.catalog__item__title
									h3!= service.title
								.catalog__item__icon
									+svg('icon-arrow')
							.catalog__item__description
								p!= service.description
							


