mixin info-section(data)
	.info-section
		.container
			.info-section__inner
				.info-section__title
					p Рассчитайте стоимость бухгалтерского обслуживания персонально для вас
				a.btn.btn--white(href="javascript:void(0)") Рассчитать индивидуально 