.info-section {
    background: linear-gradient(180deg, rgba(35, 35, 53, 0.94) 0%, #232335 100%);
    &__inner {
        padding: 7rem 0;
        min-height: 42rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 86rem;
        margin: 0 auto;
        @media (max-width: $sw-sm-max) {
            min-height: 34rem;
        }
        @media (max-width: $sw-xs-max) {
            min-height: auto;
            padding: 6rem 0;
        }
        @media (max-width: $sw-xx-max) {
            padding: 4rem 0;
        }
        .btn {
            font-size: 1.6rem;
            padding: 0 3rem;
        }
    }
    &__title {
        text-align: center;
        margin-bottom: 6rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 4.5rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3.5rem;
        }
        p {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 3rem;
            line-height: 1.33em;
            color: $white;
            margin-bottom: 0;
            @media (max-width: $sw-sm-max) {
                font-size: 2.6rem;
            }
            @media (max-width: $sw-xs-max) {
                font-size: 2.2rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.8rem;
            }
        }
    }
}