.address {
	&__inner {
		padding-top: 8rem;
		padding-bottom: 11.9rem;
		display: flex;
		justify-content: space-between;
		@media (max-width: $sw-sm-max) {
			padding-top: 7rem;
			padding-bottom: 10.9rem;
		}

		@media (max-width: $sw-xs-max) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-top: 4rem;
			padding-bottom: 5rem;
		}
	}

	&__content {
		flex-grow: 1;
		margin-right: 16.1rem;
		@media (max-width: $sw-md-max) {
			margin-right: 9.6rem;
		}
		@media (max-width: $sw-sm-max) {
			margin-right: 8rem;
		}
		@media (max-width: $sw-xs-max) {
			margin-right: 0;
			width: 100%;
			margin-bottom: 3.2rem;
		}

		h2 {
			font-size: 2.8rem;
			line-height: 1.43em;
			color: $mineShaft;
			@media (max-width: $sw-sm-max) {
				margin-bottom: 2rem;
				font-size: 2.6rem;
			}
			@media (max-width: $sw-xs-max) {
				font-size: 2.3rem;
				margin-bottom: 1.5rem;
			}
			@media (max-width: $sw-sm-max) {
				font-size: 2rem;
				margin-bottom: 1rem;
			}
		}

		h3 {
			font-family: $montserrat;
			font-weight: 600;
			font-size: 2.8rem;
			line-height: 1.21em;
			color: $mineShaft;
			margin-bottom: 1.6rem;
			letter-spacing: -0.3px;
			@media (max-width: $sw-sm-max) {
				margin-bottom: 1.3rem;
			}
			// @media (max-width: $sw-sm-max) {
			//     margin-bottom: 1rem;
			// }
		}
		span {
			font-family: $montserrat;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2.12em;
			color: $mineShaft;
		}

		p {
			@media (max-width: $sw-sm-max) {
				font-size: 1.7rem;
			}
			@media (max-width: $sw-xs-max) {
				font-size: 1.6rem;
			}
			@media (max-width: $sw-xx-max) {
				font-size: 1.4rem;
				margin-bottom: 1.5rem;
			}
		}
		li {
			@media (max-width: $sw-sm-max) {
				font-size: 1.7rem;
			}
			@media (max-width: $sw-xx-max) {
				font-size: 1.5rem;
			}
		}
		
	}

	&__menu {
		padding-right: 5px;
	}

	&__collapse {
		margin-top: 6.8rem;
		margin-bottom: 12rem;
		@media (max-width: $sw-sm-max) {
			margin-bottom: 10rem;
		}
		@media (max-width: $sw-xx-max) {
			margin-top: 4rem;
			margin-bottom: 5rem;
		}
		&__wrap {
			border-top: 1px solid #C2C9D1;
			padding-top: 2.2rem;
			& + .address__collapse__wrap {
				margin-top: 2rem;
				@media (max-width: $sw-xs-max) {
					margin-top: 1rem;
				}
			}
			
			@media (max-width: $sw-xs-max) {
				padding-top: 1.5rem;
			}
			@media (max-width: $sw-xx-max) {
				padding-top: 1.2rem;
			}
		}
		
		.btn {
			padding: 0;
			transition: color .3s ease;
			font-family: $montserrat;
			font-weight: 600;
			font-size: 2rem;
			line-height: 1.2em;
			letter-spacing: 0.5px;
			color: $mineShaft;
			&:hover {
				@media (min-width: $sw-xs-min) {
					color: $tawnyPort;
				}
				.address__collapse__icon {
					&:after, &:before {
						@media (min-width: $sw-xs-min) {
							background-color: $tawnyPort;
						}
					}
				}
			}
			span {
				font-weight: 600;
				font-size: 2rem;
				line-height: 1.2em;
				letter-spacing: 0.5px;
				@media (max-width: $sw-sm-max) {
					font-size: 1.8rem;
				}
				@media (max-width: $sw-xx-max) {
					font-size: 1.5rem;
					letter-spacing: 0;
				}
			}
		}

		&__icon {
			width: 2rem;
			height: 2rem;
			margin-right: 2rem;
			position: relative;
			@media (max-width: $sw-xx-max) {
				width: 1.7rem;
				height: 1.7rem;
				margin-right: 5px;
			}

			&::before, &::after {
				content: '';
				display: block;
				background-color: $black;
				border-radius: 1px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: background-color .3s ease
			}
			
			&::after {
				height: 1.6rem;
				width: 2px;
				transition: transform .3s ease;
				.collapse-is-opened & {
					transform: translate(-50%, -50%) scaleY(0);
				}
			}
			&::before {
				width: 1.6rem;
				height: 2px;
			}
		}
		&__content {
			padding: 9px 0 0 4rem;
			@media (max-width: $sw-xx-max) {
				padding: 5px 0 0 3rem;
			}
		}
		
	}

	&__price {
		margin-bottom: 11.2rem;
		@media (max-width: $sw-xx-max) {
			margin-bottom: 9rem;
		}
		@media (max-width: $sw-xx-max) {
			margin-bottom: 6rem;
		}

		
		p {
			color: $charade;
			@media (max-width: $sw-sm-max) {
				font-size: 1.6rem;
			}
			@media (max-width: $sw-xx-max) {
				font-size: 1.4rem;
			}
		}
		
		&__title {
			margin-bottom: 3.7rem;
			@media (max-width: $sw-xx-max) {
				margin-bottom: 2.5rem;
			}
			h3 {
				@media (max-width: $sw-sm-max) {
					font-size: 2.3rem;
					margin-bottom: 8px;
				}
				@media (max-width: $sw-xx-max) {
					font-size: 2.1rem;
					margin-bottom: 5px;
				}
			}
		}

		&__service {
			display: flex;
			justify-content: space-between;
			border-bottom: 3px solid $tawnyPort;
			margin-bottom: 6px;
		}

		&__list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #C2C9D1;
			padding-top: 1.8rem;
			padding-bottom: 1.5rem;
			@media (max-width: $sw-sm-max) {
				padding-top: 1.8rem;
				padding-bottom: 1.5rem;
			}
			@media (max-width: $sw-xs-max) {
				padding-top: 1.3rem;
				padding-bottom: 1rem;
			}

			P {
				font-size: 1.6rem;
				line-height: 1.25em;
				color: $black;
				margin: 0;
				@media (max-width: $sw-xx-max) {
					width: 50%;
					font-size: 1.5rem;
				}
			}
		}

		&__cost {
			span {
				font-weight: 400;
				b {
					font-weight: 600;
				}
			}
		}
	}

	&__location {
		&__main-title {
			margin-bottom: 4.9rem;

			@media (max-width: $sw-xx-max) {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 2.5rem;
			}
			h3 {
				@media (max-width: $sw-sm-max) {
					font-size: 2.3rem;
				}
			}
		}

		&__item {
			display: flex;
			@media (max-width: $sw-xx-max) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			&:not(:last-child) {
				margin-bottom: 6.4rem;
				@media (max-width: $sw-sm-max) {
					margin-bottom: 4rem;
				}

				@media (max-width: $sw-xs-max) {
					margin-bottom: 3em;
				}

				@media (max-width: $sw-xx-max) {
					margin-bottom: 5rem;
				}

			}
		}

		&__photo {
			height: 18rem;
			width: 18rem;
			border-radius: 1.2rem;
			margin-right: 3rem;
			flex-shrink: 0;
			
			@media (max-width: $sw-sm-max) {
				height: 14rem;
				width: 14rem;
				margin-right: 2rem;
			}
			
			@media (max-width: $sw-xx-max) {
				height: 25rem;
				width: 25rem;
				margin-bottom: 2rem;
				margin-right: 0;
			}
		}

		&__info {
			@media (max-width: $sw-xx-max) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

		}

		&__title {
			display: block;
			font-family: $montserrat;
			font-weight: 600;
			font-size: 2rem;
			line-height: 1.2em;
			letter-spacing: 0.5px;
			color: $mineShaft;
			margin-bottom: 3.3rem;
			
			@media (max-width: $sw-sm-max) {
				font-size: 1.6rem;
				margin-bottom: 1.5rem;
			}
			@media (max-width: $sw-xx-max) {
				text-align: center;
			}

			
			&:hover {
				@media (min-width: $sw-xs-min) {
					color: $tawnyPort;
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					color: #b36f9f;
				}
			}

		}
		
		.point {
			&__item {
				letter-spacing: -0.1px;
				padding-left: 1.7rem;

				@media (max-width: $sw-sm-max) {
					font-size: 1.4rem;
					line-height: 1.45em;
				}

				&::before {
					content: '';
					width: 6px;
					height: 6px;
					top: 48%;
					left: 3px;
					transform: translate(-50%, -50%);
					
					@media (max-width: $sw-xx-max) {
						width: 5px;
						height: 5px;
						top: 1.1rem;
						left: 5px;
						transform: translate(-50%, -50%);
					}
				}
				&:not(:last-child) {
					margin-bottom: 3.9px;
					@media (max-width: $sw-xx-max) {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}