mixin address(data)
	.address
		.container
			.address__inner
				.address__content
					+address-content()

					.address__collapse
						.address__collapse__wrap.js-collapse
							button.btn.js-collapse-trigger(type="button")
								span.address__collapse__icon
								span Какие документы необходимы?
							.address__collapse__inner.js-collapse-inner
								.address__collapse__content
									ul.point__list.h-reset-list
										li.point__item Реквизиты организации;
										li.point__item Необходимо определиться с районом в котором будет зарегистирована компания.
						.address__collapse__wrap.js-collapse
							button.btn.js-collapse-trigger(type="button")
								span.address__collapse__icon
								span Что входит в нашу работу?
							.address__collapse__inner.js-collapse-inner
								.address__collapse__content
									ul.point__list.h-reset-list
										li.point__item Реквизиты организации;
										li.point__item Необходимо определиться с районом в котором будет зарегистирована компания.

					.address__price
						.address__price__title
							h3 Стоимость услуг
							p Мы предлагаем вам несколько тарифов юридической помощи длительностью 11 месяцев.
						.address__price__service
							span Услуга
							span Стоимость
						.address__price__list
							p Юридический адрес без почтового обслуживания на 11 месяцев
							.address__price__cost
								span #[b 1 900] руб.
						.address__price__list
							p Юридический адрес с почтовым обслуживанем на 11 месяцев
							.address__price__cost
								span #[b 3 900] руб.

					.address__location
						.address__location__main-title
							h3 Эксклюзивные адреса в собственных помещениях

						.address__location__wrap
							each card in data.cards
								.address__location__item
									a.address__location__photo.h-object-fit(href="javascript:void(0)")
										img(src="s/images/tmp_file/location/#{card.image}", alt="building")
									.address__location__info
										a.address__location__title(href="javascript:void(0)")!= card.title
										ul.point__list.h-reset-list
											li.point__item Престижное местоположение, исторический центр Санкт-Петербурга
											li.point__item Возможность проверок
											li.point__item Качественный офисный ремонт
											li.point__item Возможность размещения вывески с наименованием организации

				.address__menu.sidebar
					.sidebar__inner
						ul.sidebar__list.h-reset-list
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Юридическим лицам
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Гражданам
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Регистрация и ликвидация фирм
							li.sidebar__item.sidebar__item--is-active
								a.sidebar__link(href="javascript:void(0)") Юридический адрес
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Бухгалтерские услуги
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Недвижимость
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") Судебные услуги
							li.sidebar__item
								a.sidebar__link(href="javascript:void(0)") ЭЦП и отчетность
					
