extends _includes/_extends/main

include _includes/components/text-component/text-component
include _includes/components/corporate-values/corporate-values
include _includes/components/team/team
include _includes/components/registered-letters/registered-letters
include _includes/components/get-advice/get-advice

block header
	+header({
		list: [
			{name: 'Главная'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании', class: 'is-active'},
			{name: 'Контакты'},
		]
	})

block head
	+head({'title':'About Company'})

block content
	+text-about-compamy()
	+corporate-values()
	+team({
		cards: [
			{
				image: 'team1.png',
				name: 'Оксана Мухова',
				subtitle: 'Партнер, адвокат',
			},
			{
				image: 'team2.png',
				name: 'Дмитрий Позняк',
				subtitle: 'Исполнительный деректор, адвокат',
			},
			{
				image: 'team3.png',
				name: 'Андрей Пахур',
				subtitle: 'Партнер, адвокат',
			},
			{
				image: 'team4.png',
				name: 'Анастасия Усатова',
				subtitle: 'Партнер, адвокат',
			},
			{
				image: 'team5.png',
				name: 'Кирил Буданов',
				subtitle: 'Исполнительный деректор, адвокат',
			},
			{
				image: 'team6.png',
				name: 'Евгений Панасенков',
				subtitle: 'Партнер, адвокат',
			},
			{
				image: 'team7.png',
				name: 'Карина Андоленко',
				subtitle: 'Партнер, адвокат',
			},
			{
				image: 'team2.png',
				name: 'Антон Кравченко',
				subtitle: 'Партнер, адвокат',
			},
			{
				image: 'team3.png',
				name: 'Илля Стрелецкий',
				subtitle: 'Партнер, адвокат',
			},
		]
	})
	+registered-letters()
	+get-advice()
