extends _includes/_extends/main

include _includes/components/main-baner/main-baner
include _includes/components/calculate-price/calculate-price


block head
	+head({'title':'Accounting Form'})

block header
	+header({
		list: [
			{name: 'Главная'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+main-baner({
		class: 'main-baner--accounting-form',
		title: 'Бухгалтерское<br> обслуживание ',
		subtitle: 'Ежедневный документооборот должен осуществляться там, где он происходит, т.е. у вас в офисе, на складе, в магазине. А вот соединение всех ваших документов в единый баланс, расчет налогов, заработной платы, составление деклараций, учет оборудования и основных средств может взять на себя профессиональная организация “ЮрФинЭксперт”.',
	})
	+calculate-price()