extends _includes/_extends/main

include _includes/components/main-baner/main-baner
include _includes/components/text-component/text-component
include _includes/components/specialists-section/specialists-section
include _includes/components/info-section/info-section
include _includes/components/info-table/info-table

block head
	+head({'title':'Accounting services'})

block header
	+header({
		list: [
			{name: 'Главная'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+main-baner({
		class: 'main-baner--legal-address',
		title: 'Бухгалтерское обслуживание',
		subtitle: 'Ежедневный документооборот должен осуществляться там, где он происходит, т.е. у вас в офисе, на складе, в магазине. А вот соединение всех ваших документов в единый баланс, расчет налогов, заработной платы, составление деклараций, учет оборудования и основных средств может взять на себя профессиональная организация “ЮрФинЭксперт”.'
	})
	+specialists-section()
	+info-section()
	+info-table()
	+info-block()