extends _includes/_extends/main

include _includes/components/text-component/text-component
include _includes/components/get-advice/get-advice
include _includes/components/more-publications/more-publications
include _includes/components/publication/publication

block head
	+head({'title':'Article'})

block header
	+header({
		list: [
			{name: 'Главная',},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика', class: 'is-active'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+text-article({
		dates: [
			{
				numeric: '13',
				month: '10',
				year: '21',
				caterogy: 'Право',
			},
		]
	})
	+get-advice()
	+more-publications({
		publications: [
			{
				title: 'Взыскана задолженность по контракту между юридическими лицами',
				subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.'
			},
			{
				title: 'Дело о защите прав потребителя',
				subtitle: 'Используйте бесплатные сервисы для проверки ваших партнеров!'
			},
			{
				title: 'Прекращение производства по делу А-5669868/2017',
				subtitle: 'Арбитражный суд Санкт-Петербурга постановил прекратить производство по делу А-5669868/2017 между МИФНС №15 по Санкт-Петербургу и компанией Ростех. '
			},
		]
	})