extends _includes/_extends/main

include _includes/components/main-baner/main-baner
include _includes/components/catalog/catalog
include _includes/components/text-component/text-component
include _includes/components/get-advice/get-advice

block head
	+head({'title':'Catalog'})

block header
	+header({
		list: [
			{name: 'Главная'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+main-baner({
		class: 'main-baner--catalog',
		title: 'Юридические услуги <br>юридическим лицам',
		subtitle: 'Деятельность любой компании и любого предпринимателя неизбежноподразумевает решение всевозможных юридических вопросов. Речь идёт о грамотном оформлении документов, ведении бухгалтерии, составлении и сдаче отчётности, участии в судебных процессах, других ситуациях. Профессиональное юридическое обслуживание осуществляет компания «ЮрФинЭксперт».'
	})
	+catalog({
		services: [
			{
				title: 'Юридическое обслуживание',
				description: 'Деятельность любой компании и любого предпринимателя неизбежно подразумевает решение всевозможных юридических вопросов. Речь идёт о грамотном оформлении документов...'
			},
			{
				title: 'Cудебные услуги',
				description: 'Представляем Вам одно из основных направлений работы, которым компания «ЮрФинЭксперт» занимается с самого открытия в 2007 году. Речь идет о представительстве...'
			},
			{
				title: 'Юридическая консультация',
				description: 'Очень часто граждане и компании нуждаются в юридической помощи при решении различных правовых вопросов, регулярно возникающих в самых разнообразных сферах...'
			},
			{
				title: 'Составление договоров',
				description: 'Все хозяйствующие субъекты в рыночной экономике обязаны закреплять свои отношения с контрагентами письменными соглашениями. В частности, по таким...'
			},
			{
				title: 'Экспертиза договоров',
				description: 'Компания «ЮрФинЭксперт» профессионально предоставляет услугу экспертизы договоров. Подавляющее большинство сделок, заключаемых организациями и...'
			},
			{
				title: 'Налоговые споры',
				description: 'Статья 57 Конституции РФ устанавливает обязанность платить налоги и сборы, которые установлены законодательством. Основным нормативно-правовым актом...'
			},
			{
				title: 'Таможенные споры',
				description: 'В наши дни экономика многих стран, в том числе – России, входит в единую систему, в которой происходит движение товаров, капитала, трудовых и других ресурсов через...'
			},
			{
				title: 'Защита продавцов',
				description: 'В настоящее время, особенно когда ситуация в экономике страны не самая простая, учащаются случаи потребительского рэкета. Как только покупатель понимает, что товар ему...'
			},
			{
				title: 'Трудовые споры с работниками',
				description: 'От трудовых споров работодателя с работником не застрахован ни один коллектив. Предметом спора могут стать правила внутреннего распорядка организации, трудовой договор и...'
			}
		]
	})
	+text-component()
	+get-advice()