extends _includes/_extends/main

include _includes/components/map/map

block head
	+head({'title':'Contacts'})

block header
	+header({
		list: [
			{name: 'Главная'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты', class: 'is-active'},
		]
	})

block content
	+map()

block scripts
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB5pGJJZZcfEt-3FmmmF97E4SNjCWB_d0o&callback=initMap')
