doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta#myViewport(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='author', content='')
		title UFE
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
		link(href='http://markup.canvart.com.ua/swipeks-pages/style.css', rel='stylesheet', type='text/css')
	body
		.project-pages-block
			.prjct-pgs__header
				.container
					h2 UFE
			.prjct-pgs__body
				.container
					.prjct-pgs__ttl
						.prjct-pgs__group.row
							.col-xs-24.col-md-12.firstColumm

							.col-xs-24.col-md-12.secondColumm
			.prjct-pgs__footer
				.container
					a(href="http://swipeks.com/" target="_blank")
						svg.icon.icon-logo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='8809', height='1024', viewbox='0 0 8809 1024')
							g#icomoon-ignore
							path.lg__symb_logo(fill='rgb(59, 183, 140)', d='M1017.64 177.106c35.467 35.078 35.857 92.956 0.585 128.423l-149.080 150.444c-35.078 35.272-92.761 35.662-128.423 0.39l-150.249-149.080c-0.195-0.195-0.39-0.195-0.585-0.195-40.534-35.078-93.54-34.688-134.269 0.974l-148.3 149.664c-35.272 35.662-92.956 35.857-128.423 0.585l-150.249-148.885c-35.467-35.078-35.662-92.956-0.585-128.423l148.885-150.444c35.272-35.272 93.15-35.662 128.618-0.585l150.249 149.080c44.042 38.001 80.094 40.729 133.879 0 0 0 0.195-0.195 0.195-0.195l148.885-150.054c35.272-35.662 93.15-35.857 128.813-0.585l150.054 148.885z')
							path.lg__symb_logo(fill='rgb(0, 0, 0)', d='M1031.476 845.919l-148.885 150.249c-35.078 35.467-93.15 35.857-128.423 0.585l-150.444-149.080c-35.272-35.078-35.467-92.761-0.585-128.423l149.080-150.249c35.272-35.467 92.956-35.662 128.423-0.39l150.249 148.885c35.662 35.078 35.857 92.956 0.585 128.423z')

							path.lg__symb.symb_anim-fade(fill='rgb(0, 0, 0)', d='M2225.283 988.958c-44.432 22.606-94.32 34.103-149.275 34.103h-721.429v-184.742h595.15c23.775 0 42.093 0.585 64.699-6.821 50.278-16.759 81.458-63.335 83.017-108.351 2.144-63.14-33.713-108.156-97.048-125.5-17.539-4.872-56.514-2.339-87.499-2.339h-299.913l-46.77-4.287c-82.627-11.303-149.664-43.262-201.112-95.684-111.079-113.223-100.751-297.185 13.446-404.367 64.309-60.606 150.249-91.007 257.236-91.007h663.551v184.742l-583.262 0.195c-29.426 0-59.632 8.38-82.043 26.698-12.277 10.134-22.8 22.411-29.816 37.026-6.431 13.446-10.134 29.426-11.498 44.237-3.898 43.067 20.462 85.355 56.709 107.376 16.175 9.744 35.078 14.421 52.616 15.59 7.016 0.585 15.98 0.78 27.477 0.39h331.093c100.361 0 180.65 27.672 240.671 82.627 153.172 139.726 103.284 395.987-76.001 490.112v0z')
							path.lg__symb.symb_anim-fade(fill='rgb(0, 0, 0)', d='M3734.399 1023.061h-309.657l-224.497-723.183-218.845 723.183h-299.719l-280.621-783.205h278.672l155.511 524.605 224.302-764.497h289.78l240.282 774.435 218.65-774.435h281.4z')
							path.lg__symb.symb_anim-fade(fill='rgb(0, 0, 0)', d='M4196.059 1023.061v-639.581h235.799v639.581z')
							path.lg__symb.symb_anim-fade(fill='rgb(0, 0, 0)', d='M4392.884-0.035h-161.942c-21.826 0-39.56 17.929-39.56 39.755v137.777c0 21.826 17.734 39.56 39.56 39.56h161.942c21.826 0 39.56-17.734 39.56-39.56v-137.777c0-21.826-17.734-39.755-39.56-39.755z')
							path.lg__symb.symb_anim-fade(fill='rgb(0, 0, 0)', d='M5266.316 663.516l-52.811 4.287h-447.434v355.258h-235.994v-882.786c3.313-82.432 31.765-140.31 141.869-140.31h555.785c420.736 0 463.219 600.801 38.585 663.551zM5115.287 184.707h-349.217v305.37h346.684c221.768 0 243.010-305.37 2.533-305.37v0z')
							path.lg__symb.symb_anim-fade(fill='rgb(0, 0, 0)', d='M5863.609-0.035c37.611 0 539.026 0 750.66 0v185.132c-164.085-0.195-472.183 0.195-636.074 0.78-70.35 0.195-70.935 42.483-69.96 114.002 0.78 46.575 1.949 97.243 2.728 130.567 202.281 1.169 344.345 3.898 559.293 1.559-0.974 53.201 0.39 120.433 0 179.285l-559.877-0.585c0 17.149-0.585 66.842-0.974 113.418-0.78 122.187 22.606 123.356 96.853 122.187 154.926 0.78 452.306 0.585 608.012 0.39v176.557c-251.974 0.195-504.143-0.974-755.922 0.78-174.414 0.39-190.588-75.417-194.876-204.424v-615.027c1.559-149.664 72.883-205.594 200.137-204.619v0z')
							path.lg__symb.symb_anim-fade(fill='rgb(0, 0, 0)', d='M7222.671 505.472l437.69 517.589h-315.503l-387.997-518.953 401.833-504.143h300.303l-436.326 505.507zM6715.41 1023.061c0-297.77 0-595.734 0-893.504-3.703-126.474 34.493-129.397 93.93-129.592 48.524-0.195 94.32 0 141.869 0v1023.096h-235.799z')
							path.lg__symb.symb_anim-fade(fill='rgb(0, 0, 0)', d='M8641.754 988.958c-44.432 22.606-94.125 34.103-149.080 34.103h-721.624v-184.742h595.15c23.97 0 42.093 0.585 64.699-6.821 50.473-16.759 81.653-63.335 83.212-108.351 2.144-63.14-33.713-108.156-97.048-125.5-17.734-4.872-56.514-2.339-87.694-2.339h-299.719l-47.16-4.287c-82.237-11.303-149.275-43.262-200.917-95.684-110.884-113.223-100.751-297.185 13.641-404.367 64.309-60.606 150.054-91.007 257.236-91.007h663.551v184.742l-583.457 0.195c-29.426 0-59.827 8.38-82.043 26.698-12.277 10.134-22.606 22.411-29.621 37.026-6.626 13.446-10.523 29.426-11.887 44.237-3.703 43.067 20.852 85.355 57.099 107.376 15.98 9.744 34.883 14.421 52.616 15.59 7.016 0.585 15.59 0.78 27.283 0.39h331.093c100.361 0 180.65 27.672 240.866 82.627 152.977 139.726 103.284 395.987-76.196 490.112v0z')
		script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
		script.
			var linksArray = [
				'main',
				'catalog-of-services',
				'service-detailed-page',
				'service-detailed-page2',
				'about-company',
				'our-practice',
				'article',
				'accounting-services',
				'accounting-services-form',
				'paid-legal-services',
				'contacts',
			]

		script(src="http://markup.canvart.com.ua/swipeks-pages/page-build.js")
