extends _includes/_extends/main

include _includes/components/banner/banner
include _includes/components/popular-services/popular-services
include _includes/components/legal-services/legal-services
include _includes/components/testimonials/testimonials
include _includes/components/about-company/about-company
include _includes/components/our-clients/our-clients
include _includes/components/faq/faq

block head
	+head({'title':'Main'})

block header
	+header({
		list: [
			{name: 'Главная', class: 'is-active'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+banner()
	+popular-services()
	+legal-services()
	+testimonials()
	+about-company()
	+our-clients()
	+faq()