extends _includes/_extends/main

include _includes/components/practice-search/practice-search
include _includes/components/articles/articles
include _includes/components/publication/publication


block head
	+head({'title':'Our Practice'})

block header
	+header({
		list: [
			{name: 'Главная'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика', class: 'is-active'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+practice-search()
	+articles()
