extends _includes/_extends/main

include _includes/components/price-list/price-list
include _includes/components/text-component/text-component

block head
	+head({'title':'Personal Legal Services2'})

block header
	+header({
		list: [
			{name: 'Главная', class: 'is-active'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+price-list()