extends _includes/_extends/main

include _includes/components/main-baner/main-baner
include _includes/components/detailed-page/detailed-page
include _includes/components/text-component/text-component
include _includes/components/about-company/about-company

block head
	+head({'title':'Detailed Page'})

block header
	+header({
		list: [
			{name: 'Главная'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+main-baner({
		class: 'main-baner--detailed-page',
		title: 'Абонентское юридическое обслуживание юрлиц',
		subtitle: 'Деятельность любой компании и любого предпринимателя неизбежно подразумевает решение всевозможных юридических вопросов. Речь идёт о грамотном оформлении документов, ведении бухгалтерии, составлении и сдаче отчётности, участии в судебных процессах, других ситуациях. Профессиональное юридическое обслуживание осуществляет компания «ЮрФинЭксперт».'
	})
	+detailed-page()
	+about-company()