extends _includes/_extends/main

include _includes/components/main-baner/main-baner
include _includes/components/address/address
include _includes/components/text-component/text-component
include _includes/components/get-advice/get-advice

block head
	+head({'title':'Legal Address'})

block header
	+header({
		list: [
			{name: 'Главная'},
			{name: 'Оплата онлайн'},
			{name: 'Стоимость услуг'},
			{name: 'Наша практика'},
			{name: 'Новости'},
			{name: 'О компании'},
			{name: 'Контакты'},
		]
	})

block content
	+main-baner({
		class: 'main-baner--legal-address',
		title: 'Юридический адрес',
		subtitle: 'Деятельность любой компании и любого предпринимателя неизбежно подразумевает решение всевозможных юридических вопросов. Речь идёт о грамотном оформлении документов, ведении бухгалтерии, составлении и сдаче отчётности, участии в судебных процессах, других ситуациях. Профессиональное юридическое обслуживание осуществляет компания «ЮрФинЭксперт».'
	})
	+address({
		cards: [
			{
				image: 'location1.png',
				title: 'МИ ФНС № 7 (Адмиралтейский район)',
			},
			{
				image: 'location2.png',
				title: 'МИ ФНС № 8 (Адмиралтейский район)',
			},
			{
				image: 'location3.png',
				title: 'МИ ФНС № 10 (Центральный район)',
			},
			{
				image: 'location4.png',
				title: 'МИ ФНС № 16 (Василеостровский район)',
			},
		]
	})
	+get-advice()
