button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 0 3rem;
    transition: color .3s ease, background-color .3s ease;
    font-family: $montserrat;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1em;
    height: 4rem;
    outline: none;
    box-shadow: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &--violet {
        color: $white !important;
        background-color: $tawnyPort;
        &:hover {
            @media (min-width: $sw-xs-min) {
                background-color: lighten($tawnyPort, 5%);
            }
        }
        &:active {
            @media (min-width: $sw-xs-min) {
                background-color: lighten($tawnyPort, 8%);
            }
        }
    }
    &--white {
        color: $royalHeath !important;
        background-color: $white;
        &:hover {
            @media (min-width: $sw-xs-min) {
                background-color: darken($white, 10%);
            }
        }
        &:active {
            @media (min-width: $sw-xs-min) {
                background-color: darken($white, 15%);
            }
        }
    }
    .icon {
        flex-shrink: 0;
        margin-right: 1.2rem;
        &-callback {
            font-size: 1.5rem;
        }
    }
}

.send-form {
    display: flex;
    align-items: center;
    text-align: right;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.58em;
    color: $royalHeath;
    font-family: $montserrat;
    background-color: transparent;
    transition: color .3s ease;
    @media (max-width: $sw-sm-max) {
        font-size: 2rem;
    }

    &:hover {
        @media (min-width: $sw-xs-min) {
            color: $tawnyPort;
        }
    }
    &:active {
        @media (min-width: $sw-xs-min) {
            color: #b36f9f;
        }
    }
    
    &:focus {
        border: none;
        outline: none;
    }
    
    .icon-arrow {
        font-size: 2.4rem;
        margin-left: 1.6rem;
        @media (max-width: $sw-sm-max) {
            font-size: 2rem;
        }
    }
    
}