.get-advice {
    background-color: $steelGray;
    position: relative;

    &__inner {
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 8.4rem 0 10.9rem;
        @media (max-width: $sw-sm-max) {
            padding: 5rem 0;
        }
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
        }
    }

    &__left {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: $sw-xs-max) {
            width: 100%;
            align-items: center;
        }
    }
    
    &__right {
        width: 53%;
        @media (max-width: $sw-xs-max) {
            margin-top: 8rem;
            width: 100%;
            position: relative;
        }
    }

    &__title {
        margin-bottom: 7.3rem;
        @media (max-width: $sw-sm-max) {
            text-align: center;
            margin-bottom: 4rem;
        }
        h1 {
            font-size: 3.3rem;
            @media (max-width: $sw-sm-max) {
                font-size: 3rem;
            }
        }
    }

    &__contacts {
        margin-bottom: 9.7rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 7rem;
        }
        @media (max-width: $sw-xs-max) {
            text-align: center;
        }
        h2 {
            font-size: 2.1rem;
            @media (max-width: $sw-sm-max) {
                font-size: 2rem;
            }
        }
        a {
            color: $royalHeath;
            transition: color .3s ease;

            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: #a54d8c;
                }
            }
            &:active {
                @media (min-width: $sw-xs-min) {
                    color: $tawnyPort;
                }
            }
        }
    }

    &__sm {
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: flex;
            font-size: 3.2rem;
            color: $white;
            transition: color .3s ease;
            @media (max-width: $sw-sm-max) {
                font-size: 3rem;
            }
            &:not(:last-child) {
                margin-right: 2.2rem;
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: #a54d8c;
                }
            }
        }
    }

    &__point {
        display: flex;
        flex-direction: column;
        font-family: $sourcesanspro;
        font-size: 1.7rem;
        line-height: 1.25em;
        color: $white;
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
        @media (max-width: $sw-xs-max) {
            align-items: center;
        }
        @media (max-width: $sw-sm-max) {
            font-size: 1.5rem;
        }

        a {
            font-family: $sourcesanspro;
            font-size: 1.7rem;
            line-height: 1.23em;
            color: $white;
            transition: color .3s ease;

            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: #a54d8c;
                }
            }
            &:active {
                @media (min-width: $sw-xs-min) {
                    color: $tawnyPort;
                }
            }
        }
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 4rem;
        }
        &__col {
            width: calc(50% - 3rem);
            margin-bottom: 6rem;
            @media (max-width: $sw-sm-max) {
                width: calc(50% - 2rem);
                margin-bottom: 5rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-bottom: 4rem;
            }
            &.col--fluid {
                width: 100%;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__button {
        display: flex;
        justify-content: flex-end;        
    }
}

.application-send {
    background-color: $steelGray;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
    .is-submitted & {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 3.8rem;
            line-height: 1.32em;
            margin: 0;
            color: $white;
            display: flex;
            text-align: center;
            margin-bottom: 4rem;
            @media (max-width: $sw-xs-max) {
                font-size: 2.8rem;
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
                margin-bottom: 2rem; 
            }
        }

        .icon-done-all {
            font-size: 24.6rem;
            color: $white;
            @media (max-width: $sw-xs-max) {
                font-size: 15rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 10rem;
            }
        }
    }
}
