mixin get-advice(data)
	.get-advice
		.container
			.get-advice__inner
				.get-advice__left
					.get-advice__title
						h1 Получить консультацию
					.get-advice__contacts
						h2 Свежитесь с нами: #[a(href="mailto:ufe@ufe.su") ufe@ufe.su] #[br] или #[a(href="tel:+7(812)3341090") + 7 (812) 334-10-90]
								
					.get-advice__sm
						a(href="javascript:void(0)")
							+svg('icon-whatsapp')
						a(href="javascript:void(0)")
							+svg('icon-telegram')
						a(href="javascript:void(0)")
							+svg('icon-vk')
					.get-advice__address
						.get-advice__point
							span 197110, Россия, Санкт-Петербург,
							span ул. Большая Разночинная д.23
						.get-advice__point
							span 197110, Россия, Санкт-Петербург,
							span Левашовский пр. 13, оф. 217
						.get-advice__point
							span 185910, Петрозаводск,
							span ул. Калинина, д.1, офис 16

				form.get-advice__right.js-form-check(action="javascript:void(0)")
					.get-advice__fields
						.get-advice__fields__col
							.form-control-wrap
								.input-wrap.required
									input.form-control(name="user_name" type="text" placeholder="Ваше имя" required="", autocomlete="off")
									+svg('icon-close')

						.get-advice__fields__col
							.form-control-wrap
								.input-wrap.required
									input.form-control(name="user_phone" type="text" placeholder="Телефон" required="")
									+svg('icon-close')

						.get-advice__fields__col.col--fluid
							.form-control-wrap
								.input-wrap.required
									input.form-control.get-advice__input__mail(name="user_email" type="email" placeholder="Email" required="")
									+svg('icon-close')

						.get-advice__fields__col.col--fluid
							.form-control-wrap
								.input-wrap.required
									textarea.form-control(name="user_text" placeholder="Опишите кратко свой вопрос" required="")
									+svg('icon-close')

					.get-advice__button
						button.send-form(type="submit")
							span Отправить
							+svg('icon-arrow')
					.application-send
						.container
							.application-send__inner
								span Ваша заявка#[br] успешно отправлена
								+svg('icon-done-all')