mixin info-table(data)
	.info-table
		.container
			.info-table__inner
				.info-table__top
					.info-table__title
						span Общие положения
					p Мы предлагаем вам ознакомиться с стандартными тарифами для бухгалтерского обслуживания.
				.info-table__services
					.info-table__services__col
						.info-table__services__title
							span Описание услуги
						p Нет деятельности фирмы («нулевая отчетность»)
					.info-table__services__col
						.info-table__services__title
							span Цена
						p 
							| Квартальная отчетность (УСН и Общая система налогообложения): 
							b 6 000 руб. / квартал. 
							| Годовая отчетность (УСН и ОСН): 
							b 7 000 руб. (за 4-й квартал).
				.info-table__list
					.info-table__list__header
						.info-table__list__col
							span Услуги
						.info-table__list__col
							span Торговля
						.info-table__list__col
							span Производство
					.info-table__list__line
						.info-table__list__row
							p Упрощенная система налогообложения (УСН 6%)
						.info-table__list__col
							span 14 000 руб. #[br] в месяц
						.info-table__list__col
							span 15 000 руб. #[br] в месяц
						.info-table__list__col
							span 16 000 руб. #[br] в месяц
					.info-table__list__line
						.info-table__list__row
							p Упрощенная система налогообложения «доходы минус расходы» (УСН 15% в Москве)
						.info-table__list__col
							span 15 000 руб. #[br] в месяц
						.info-table__list__col
							span 16 000 руб. #[br] в месяц
						.info-table__list__col
							span 17 000 руб. #[br] в месяц
					.info-table__list__line
						.info-table__list__row
							p Общая система налогообложения (НДС, прибыль)
						.info-table__list__col
							span 15 000 руб. #[br] в месяц
						.info-table__list__col
							span 17 000 руб. #[br] в месяц
						.info-table__list__col
							span 18 000 руб. #[br] в месяц
					.info-table__list__footer
						.info-table__list__row
							p Строительные компании, некоммерческие организации, акционерные общества и т.п.
						.info-table__list__footer__side
							p 25 000 руб. в месяц
				.info-table__mobile
					.info-table__mobile__section
						.info-table__mobile__section__title
							span Услуги
						.info-table__mobile__section__block
							p Упрощенная система налогообложения «доходы минус расходы» (УСН 15% в Москве)
							p #[b 14 000 руб. в месяц]
						.info-table__mobile__section__block
							p Упрощенная система налогообложения «доходы минус расходы» (УСН 15% в Москве)
							p #[b 15 000 руб. в месяц]
						.info-table__mobile__section__block
							p Общая система налогообложения (НДС, прибыль)
							p #[b 15 000 руб. в месяц]
					.info-table__mobile__section
						.info-table__mobile__section__title
							span Торговля
						.info-table__mobile__section__block
							p Упрощенная система налогообложения «доходы минус расходы» (УСН 15% в Москве)
							p #[b 15 000 руб. в месяц]
						.info-table__mobile__section__block
							p Упрощенная система налогообложения «доходы минус расходы» (УСН 15% в Москве)
							p #[b 16 000 руб. в месяц]
						.info-table__mobile__section__block
							p Общая система налогообложения (НДС, прибыль)
							p #[b 17 000 руб. в месяц]
					.info-table__mobile__section
						.info-table__mobile__section__title
							span Производство
						.info-table__mobile__section__block
							p Упрощенная система налогообложения «доходы минус расходы» (УСН 15% в Москве)
							p #[b 16 000 руб. в месяц]
						.info-table__mobile__section__block
							p Упрощенная система налогообложения «доходы минус расходы» (УСН 15% в Москве)
							p #[b 17 000 руб. в месяц]
						.info-table__mobile__section__block
							p Общая система налогообложения (НДС, прибыль)
							p #[b 18 000 руб. в месяц]
				.info-table__section
					.info-table__section__title.info-table__section__title--sm
						span Окончательная базовая стоимость формируется в зависимости от количества операций:
					.info-table__row.info-table__row--half
						.info-table__col
							p от 150 до 200 операций в месяц
						.info-table__col
							p + 30%
					.info-table__row.info-table__row--half
						.info-table__col
							p от 200 до 250 операций в месяц
						.info-table__col
							p + 50%
					.info-table__row.info-table__row--half
						.info-table__col
							p от 250 до 300 операций в месяц
						.info-table__col
							p + 70%
					.info-table__row.info-table__row--half
						.info-table__col
							p от 300 до 350 операций в месяц
						.info-table__col
							p + 100%
				.info-table__section
					.info-table__section__title.info-table__section__title--sm
						span К окончательной базовой стоимости применяются следующие наценки (в случае необходимости и наличия основания):
					.info-table__row.info-table__row--half
						.info-table__col
							p Курьерское обслуживание клиента #[br] (в рамках бухгалтерского обслуживания)
						.info-table__col
							p + 30%
					.info-table__row.info-table__row--half
						.info-table__col
							p Формирование первичной документации сотрудниками нашей компании #[br] (выставление счетов, актов, накладных, счетов-фактур)
						.info-table__col
							p + 30%
					.info-table__row.info-table__row--half
						.info-table__col
							p Наличие кассового аппарата, эквайринга
						.info-table__col
							p + 30%
					.info-table__row.info-table__row--half
						.info-table__col
							p Наличие внешнеэкономической деятельности #[br] (импорт, экспорт), валютных операций
						.info-table__col
							p + 30%
					.info-table__row.info-table__row--half
						.info-table__col
							p Наличие посреднической деятельности #[br] (комиссионные, агентские договоры и т.п.) #[br] и иные случаи, предполагающие сложность
						.info-table__col
							p + 30%
					.info-table__row.info-table__row--half
						.info-table__col
							p Наличие обособленных подразделений, #[br] необходимость ведения раздельного учета
						.info-table__col
							p + 30%
					.info-table__row.info-table__row--half
						.info-table__col
							p Наличие недвижимого имущества, транспорта #[br] (в т.ч. в лизинге) и иные случаи, предполагающие сложность и дополнительную отчетность
						.info-table__col
							p + 30%
					.info-table__row
						.info-table__col
							p Обслуживание расчетного счета Заказчика в программе «Банк-клиент» или выгрузка платежных поручений из программы 1с
						.info-table__col
							p от 5 000 руб. в месяц до 100 платежных поручений в месяц) #[br] от 6 000 руб. в месяц (при наличии валютного счета)
					.info-table__row
						.info-table__col
							p Ведение бухгалтерского учета с возможностью выезда сотрудника в офис Заказчика (по графику)
						.info-table__col
							p от 100 000 руб. в месяц
				.info-table__section
					.info-table__section__title
						span Отдельные услуги для индивидуальных предпринимателей
					.info-table__row
						.info-table__col
							p Расчет авансового платежа по УСН (6 %) для ИП
						.info-table__col
							p 3 000 руб. в квартал (до 25 операций)
					.info-table__row
						.info-table__col
							p Подготовка налоговой декларации по УСН (годовая)
						.info-table__col
							p Нулевая (отсутствие деятельности): 5 000 руб. #[br] Отражение до 100 операций: 12 000 руб. #[br] Отражение свыше 100 операций: от 15 000 руб.
				.info-table__section
					.info-table__section__title
						span Дополнительные услуги
					.info-table__row
						.info-table__col
							p Подключение к системе электронной сдачи отчетности — ЭДО (включает выпуск ЭЦП при необходимости)
						.info-table__col
							p Для компаний с деятельностью — 10 000 руб. / год (сверка с ФНС бесплатно) #[br] Для компаний для подачи нулевой отчетности — 5 000 руб. / год (без сверки с ФНС) #[br] Для ИП для подачи декларации УСН 1 раз в год — 5 000 руб. / год (без сверки с ФНС)
					.info-table__row
						.info-table__col
							p Сверка расчетов с ФНС и внебюджетными фондами
						.info-table__col
							p На бумажном носителе с печатью ФНС и/или внебюджетных фондов #[br] — от 5 000 руб. за каждую сверку.
					.info-table__row
						.info-table__col
							p Смена системы налогообложения, сообщение об открытии/закрытии ОП, о наделении полномочиями ОП; постановка/снятие с учета в качестве плательщика торгового сбора, подготовка уведомления о применении патентной системы налогообложения и пр.
						.info-table__col
							p 3 000 руб.
					.info-table__row
						.info-table__col
							p Составление учетной политики организации
						.info-table__col
							p от 20 000 руб.
					.info-table__row
						.info-table__col
							p Восстановление бухгалтерского учета
						.info-table__col
							p Рассчитывается индивидуально
					.info-table__row
						.info-table__col
							p Бухгалтерское сопровождение при ликвидации компании при отсутствии деятельности #[br] (сверка с гос. органами, подача текущей и ликвидационной отчетности, промежуточного и ликвидационного балансов)
						.info-table__col
							p от 40 000 руб
					.info-table__row
						.info-table__col
							p Консультация по бухгалтерскому и налоговому учету, вопросам оптимизации налогообложения в рамках законодательства
						.info-table__col
							p Устная консультация, не требующая предварительной проработки: 3 000 руб. в час. #[br] Письменная консультация, требующая предварительной проработки: от 10 000 руб.
					.info-table__row
						.info-table__col
							p Подготовка и подача кадровой отчетности СЗВ-М, СЗВ-ТД, СЗВ-СТАЖ
						.info-table__col
							p СЗВ-М электронно (при наличии ЭДО): 1 000 руб. #[br] СЗВ-М курьером (на бумажном носителе): 1 500 руб. #[br] СЗВ-ТД электронно (при наличии ЭДО): 1 000 руб. #[br] СЗВ-ТД курьером (на бумажном носителе): 1 500 руб. #[br] СЗВ-Стаж: 4 000 руб.
					.info-table__row
						.info-table__col
							p Подготовка комплекта документов для оформления в ФСС
						.info-table__col
							p от 5 000 руб. (в зависимости от количества документов)
					.info-table__row
						.info-table__col
							p Подготовка подтверждения ОКВЭД в ФСС (подается 1 раз в год)
						.info-table__col
							p 2 000 руб.
					.info-table__row
						.info-table__col
							p Подготовка комплекта документов для подтверждения экспорта, возмещения из ИФНС, составление описи / ответа на требование по вопросу возмещения из бюджета, заполнение убыточных форм ИФНС
						.info-table__col
							p от 5 000 руб.
					.info-table__row
						.info-table__col
							p Подготовка заявления о ввозе товаров и уплате косвенных налогов, декларации по косвенным налогам, статистической формы учета перемещения товаров
						.info-table__col
							p от 5 000 руб. 
					.info-table__row
						.info-table__col
							p Подготовка уведомления в МВД о заключении трудового договора с иностранным гражданином
						.info-table__col
							p 5 000 руб. 
					.info-table__row
						.info-table__col
							p Подготовка типового трудового договора и приказа о приеме на работу сотрудника
						.info-table__col
							p 3 000 руб.
					.info-table__row
						.info-table__col
							p Отчетность в Министерство юстиции
						.info-table__col
							p от 5 000 руб.
					.info-table__row
						.info-table__col
							p Отчетность в Росстат
						.info-table__col
							p от 5 000 руб.
					.info-table__row
						.info-table__col
							p Заполнение декларации 3-НДФЛ
						.info-table__col
							p Отражение дохода по справке 2-НДФЛ: от 2 000 руб. #[br] Отражение станд., соц. или имущ. вычета: от 3 000 руб. #[br] Отражение иного сложного дохода / вычета: от 15 000 руб. #[br] Подготовка заявления на возврат / зачет НДФЛ: 1 000 руб.
					.info-table__row
						.info-table__col
							p Курьерские услуги (разовый выезд)
						.info-table__col
							p 1 500 руб.
					.info-table__row
						.info-table__col
							p Отправка отчетности почтой
						.info-table__col
							p 1 500 руб.
					.info-table__row
						.info-table__col
							p Подготовка 1 платежного поручения / квитанции; подготовка почтовой описи / заполнения конверта
						.info-table__col
							p 500 руб.
					.info-table__row
						.info-table__col
							p Специальная оценка условий труда
						.info-table__col
							p от 2 000 руб. за рабочее место
				.info-table__section
					.info-table__section__title
						span Расчет заработной платы, кадровый учет
					.info-table__row
						.info-table__col
							p Расчет заработной платы и кадровый учет сотрудников
						.info-table__col
							p 1 500 руб. за 1 сотрудника-гражданина РФ в месяц #[br] 2 000 руб. за 1 иностранного сотрудника в месяц

mixin info-block(data)
	.info-block
		.container
			.info-block__inner
				.info-block__side
					.info-block__title
						span Не нашли нужной информации?
					p Рассчитайте стоимость бухгалтерского обслуживания персонально для вас
				.info-block__action
					a.btn.btn--violet(href="javascripT:void(0)") Рассчитать индивидуально