.info-table {
    padding: 8rem 0 6rem 0;
    background-color: $white;
    @media (max-width: $sw-xs-max) {
        padding: 5rem 0;
    }
    &__top {
        margin-bottom: 6.4rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 4.5rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 4rem;
        }
        p {
            color: #232532;
            margin-bottom: 0;
        }
    }
    &__title {
        font-family: $montserrat;
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 1.2em;
        display: flex;
        align-items: center;
        color: #202020;
        margin-bottom: 1.6rem;
        @media (max-width: $sw-xs-max) {
            font-size: 2.6rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 2.4rem;
        }
    }
    &__section {
        &:not(:last-child) {
            margin-bottom: 4.8rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 4rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2.5rem;
            }
        }
        &__title {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 1.4em;
            color: #202020;
            margin-bottom: 1.2rem;
            @media (max-width: $sw-xs-max) {
                font-size: 2.2rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2rem;
            }
            &--sm {
                font-size: 2rem;
                line-height: 1.3em;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.8rem;
                }
            }
        }
        p {
            color: #232532;
            @media (max-width: $sw-xx-max) {
                font-size: 1.6rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__row {
        width: 100%;
        padding: 2.8rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-xs-max) {
            padding: 2.4rem 0;
        }
        @media (max-width: $sw-xx-max) {
            padding: 2rem 0;
            flex-wrap: wrap;
        }
        &:not(:last-child) {
            border-bottom: 1px solid #C2C9D1;
        }
        &--half {
            max-width: 54rem;
            @media (max-width: $sw-sm-max) {
                max-width: 100%;
            }
            .info-table__col {
                &:first-child {
                    margin-right: 2rem;
                    @media (max-width: $sw-sm-max) {
                        margin-right: 0;
                    }
                }
                &:last-child {
                    flex-grow: initial;
                }
            }
        }
    }
    &__col {
        p {
            margin-bottom: 0;
            font-size: 1.6rem;
            line-height: 1.25em;
            color: #202020;
        }
        &:first-child {
            width: 100%;
            max-width: 40rem;
            margin-right: 9.8rem;
            flex-shrink: 0;
            @media (max-width: $sw-sm-max) {
                margin-right: 0;
                width: calc(50% - 2rem);
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-bottom: 1.5rem;
            }
        }
        &:last-child {
            flex-grow: 1;
            @media (max-width: $sw-sm-max) {
                flex-grow: initial;
                width: calc(50% - 2rem);
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
    }
    &__services {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 4.6rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 4rem;
            flex-wrap: wrap;
        }
        &__col {
            &:first-child {
                width: 100%;
                max-width: 50rem;
                margin-right: 4rem;
                flex-shrink: 0;
                @media (max-width: $sw-xs-max) {
                    margin-right: 0;
                    margin-bottom: 2rem;
                    max-width: 100%;
                    flex-shrink: initial;
                }
            }
            &:last-child {
                flex-grow: 1;
                @media (max-width: $sw-xs-max) {
                    width: 100%;
                    flex-grow: initial;
                }
            }
            p {
                font-size: 1.6rem;
                line-height: 1.25em;
                color: #202020;
            }
        }
        &__title {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 1.4em;
            color: #202020;
            margin-bottom: 4.6rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.5rem;
                font-size: 2.2rem;
            }
        }
    }
    &__list {
        width: 100%;
        max-width: 102.6rem;
        margin-bottom: 4rem;
        @media (max-width: $sw-xs-max) {
            display: none;
        }
        &__header {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            height: 5.8rem;
            .info-table__list__col {
                text-align: left;
                justify-content: flex-start;
                align-items: flex-start;
                span, p {
                    font-family: $montserrat;
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 1.9em;
                    color: #202020;
                }
            }
        }
        &__footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3.2rem 0;
            .info-table__list__row {
                border-bottom: none;
                padding: 0 4rem 0 0;
                max-width: 54rem;
            }
            &__side {
                flex-grow: 1;
                text-align: center;
                p, span {
                    font-size: 1.6rem;
                    line-height: 1.25em;
                    color: #202020;
                    margin-bottom: 0;
                }
            }
        }
        &__line {
            width: 100%;
            display: flex;
            &:nth-last-child(-n+2) {
                border-bottom: 1px solid #C2C9D1;
                .info-table__list__row {
                    border-bottom: none;
                }
            }
        }
        &__row {
            width: 100%;
            border-bottom: 1px solid #C2C9D1;
            padding: 3.2rem 4rem 3.2rem 0;
        }
        &__col {
            width: 16rem;
            padding: 0 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-shrink: 0;
            border-left: 2px solid #76255E;
        }
        p, span {
            font-size: 1.6rem;
            line-height: 1.25em;
            color: #202020;
        }
    }
    &__mobile {
        display: none;
        @media (max-width: $sw-xs-max) {
            display: block;
            margin-bottom: 3rem;
        }
        &__section {
            margin-bottom: 2rem;
            border-bottom: 1px solid #C2C9D1;
            padding-bottom: 2rem;
            &__block {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                p {
                    margin-bottom: 0 !important;
                    & + p {
                        margin-top: 1rem;
                    }
                }
            }
            &__title {
                font-family: $montserrat;
                font-weight: 600;
                font-size: 1.8rem;
                line-height: 1.4em;
                color: #202020;
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 1.6rem;
                line-height: 1.25em;
                color: #202020;
                margin-bottom: 2rem;
            }
        }
    }
}

.info-block {
    background-color: #F4F4F4;
    &__inner {
        padding: 7.4rem 0 8rem 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: $sw-sm-max) {
            justify-content: space-between;
        }
        @media (max-width: $sw-xs-max) {
            padding: 6rem 0;
        }
        @media (max-width: $sw-xx-max) {
            padding: 4rem 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__side {
        margin-right: 20rem;
        @media (max-width: $sw-sm-max) {
            margin-right: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-right: 0;
            margin-bottom: 3rem;
            text-align: center;
        }
        p {
            line-height: 1.3em;
            color: #101010;
            margin-bottom: 0;
            @media (max-width: $sw-xx-max) {
                font-size: 1.6rem;
            }
        }
    }
    &__action {
        flex-shrink: 0;
        .btn {
            font-size: 1.6rem;
            padding: 0 3rem;
            @media (max-width: $sw-xs-max) {
                font-size: 1.4rem;
            }
        }
    }
    &__title {
        font-family: $montserrat;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.35em;
        color: #76255E;
        margin-bottom: 1.3rem;
        @media (max-width: $sw-sm-max) {
            font-size: 2.6rem;
        }
        @media (max-width: $sw-xs-max) {
            font-size: 2.2rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 1.8rem;
        }
    }
}