.text-component {
	padding-bottom: 4.6rem;
	padding-top: 6rem;
	@media (max-width: $sw-sm-max) {
		padding-bottom: 4rem;
		padding-top: 4rem;
	}
	@media (max-width: $sw-xx-max) {
		padding-bottom: 2rem;
	}
	&__address-content {
		padding: 0;
	}
	&__detailed {
		padding: 0;
		margin-right: 21.9rem;
		@media (max-width: $sw-md-max) {
			margin-right: 9.6rem;
		}
		@media (max-width: $sw-sm-max) {
			margin-right: 8rem;
		}
		@media (max-width: $sw-xs-max) {
			margin-right: 0;
			// width: 100%;
			// margin-bottom: 3.2rem;
		}
		a {
			cursor: pointer;
			font-family: $montserrat;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.62em;
			
			p {
				color: $royalHeath;
				font-weight: 500;
				font-size: 1.6rem;
				margin-bottom: 0;
			}
	
			&:hover {
				@media (min-width: $sw-xs-min) {
					color: $tawnyPort;
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					color: darken($tawnyPort, 8%);
				}
			}
		}
	}
	&--service {
		padding-bottom: 4.3rem;
		@media (max-width: $sw-xs-max) {
			padding-bottom: 0;
		}
	}
	&__inner {
		&:not(:last-child) {
			margin-bottom: 6.4rem;
		}
		&--padding {
			p {
				padding-left: 10rem;
				padding-right: 20rem;
				@media (max-width: $sw-sm-max) {
					padding: 0;
				}
			}
			ul {
				padding-left: 10rem !important;
				padding-right: 20rem !important;
				@media (max-width: $sw-sm-max) {
					padding: 0 !important;
				}
			}
		}

	 
	}

	h2 {
		font-weight: 600;
		font-size: 2.8rem;
		line-height: 1.21em;
		margin: 0;
		color: $mineShaft;
		margin-bottom: 4rem;
		@media (max-width: $sw-xx-max) {
			font-size: 2rem;            
			margin-bottom: 2rem;
		}
	}
	p {
		color: $charade;
		margin-bottom: 3rem;
		@media (max-width: $sw-xx-max) {
			font-size: 1.5rem;
			margin-bottom: 2.5rem;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-bottom: 4rem;
	}

	p {
		strong {
			font-size: 1.7rem;
			font-weight: 700px;
			@media (max-width: $sw-xx-max) {
				font-size: 1.3rem;
				line-height: 1em;
			}
		}
		a {
			font-family: $montserrat;
			font-style: italic;
			font-weight: 600;
			font-size: 1.7rem;
			line-height: 1.5em;
			color: $internationalKleinBlue;

			transition: color .3s ease;
			&:hover {
				@media (min-width: $sw-xs-min) {
					color: #753864;
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					color: #b36f9f;
				}
			}
			
		}
		
	}

	blockquote {
		margin: 0;
		font-family: $montserrat;
		&.blockquote-icon {
			p {
				&:before {
					content: '';
					width: 19.8rem;
					height: 13.9rem;
					background-image: url('../../s/images/useful/quotes.svg');
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					opacity: 1;
					top: 0;
				}
			}
		}
		p {
			font-style: italic;
			font-weight: 600;
			font-size: 1.7rem;
			line-height: 1.5em;
			margin-top: 6.5rem;
			margin-bottom: 7.3rem;
			position: relative;
			@media (max-width: $sw-xs-max) {
				font-size: 1.4rem;
				line-height: 1.4em;
				margin-top: 5rem;
				margin-bottom: 5rem;
			}
			@media (max-width: 515px) {
				margin-top: 3rem;
				margin-bottom: 3rem;
			}
			
			&::before {
				content: attr(data-text);
				height: 17.3rem;
				width: 75rem;
				font-size: 23.4rem;
				display: block;
				font-family: $montserrat;
				position: absolute;
				font-style: normal;
				color: $tawnyPort ;
				left: 0;
				top: 31%;
				opacity: 0.06;
				z-index: 0;
				
				@media (max-width: $sw-xs-max) {
					width: 50rem;					
					font-size: 15.5rem;
				}
				@media (max-width: 515px) {
					font-size: 6.5em;
					width: 30rem;
				}
			}

			b {
				color: $tawnyPort;
			}
		}
	}

	&__title {
		h2 {
			font-size: 4.1rem;
			@media (max-width: $sw-xs-max) {
				font-size: 3.5rem;
			}
			@media (max-width: $sw-xx-max) {
				font-size: 2.5rem;
			}
		}

		h3 {
			font-family: $montserrat;
			font-weight: 500;
			font-size: 2.4rem;
			line-height: 2.08em;
			color: $tawnyPort;
			margin-bottom: 1rem;
			@media (max-width: $sw-xx-max) {
				font-size: 2rem;
				margin-bottom: 5px;
			}
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&__titles {
			h2 {
				font-size: 3.7rem;				
				margin-bottom: 2.5rem;
			}
			h3 {
				font-size: 2.2rem;
				margin-bottom: 5px;
			}
		}

		&__time {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
			color: $sharade;
			margin-left: 2.5rem;
			padding-top: 1.5rem;
			@media (max-width: $sw-xx-max) {
				margin-left: 9px;
			}
			
			.date {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				margin-bottom: 1.5rem;
				@media (max-width: $sw-xx-max) {
					margin-bottom: 1.2rem;
				}
				span {
					font-family: $montserrat;
					font-style: normal;
					font-size: 1.6rem;
					line-height: 1.25em;
					margin-bottom: 0;
					&:not(:last-child) {
						margin-right: 9px;
						@media (max-width: $sw-xx-max) {
							margin-right: 5px;
						}
					}
					@media (max-width: $sw-xx-max) {
						font-size: 1.4rem;
					}
		
				}
				b {
					font-family: $montserrat;
					font-weight: 500;
					align-items: center;
					font-size: 2.9rem;
					line-height: 2rem;
					margin-right: 1.5rem;
					margin-bottom: 0;
					color: $sharade;
					@media (max-width: $sw-xx-max) {
						margin-right: 1rem;
						font-size: 2rem;
					}
				}
			}
		
			.caterogy {
				display: flex;
				align-items: center;
				text-align: center;
				text-transform: capitalize;
		
				span {
					font-size: 1.6rem;
					line-height: 1.35rem;
					color: $codGray;
					opacity: 0.5;
					margin-right: 6px;
					@media (max-width: $sw-xx-max) {
						font-size: 1.4rem;
					}
				}
				b {
					font-weight: normal;
					font-size: 1.8rem;
					margin: 0;
					margin-left: 8px;
				}
			}
		

		}
	}

	.specific {
		&__list {
			position: relative;   
			padding-left: 1.8rem;
			margin-bottom: 5.7rem;
			@media (max-width: $sw-xs-max) {
				margin-bottom: 3rem;
			}

			&::before {
				content: ' ';
				display: block;
				position: absolute;				
				width: 3px;
				height: 14.8rem;
				background-color: $tawnyPort;
				left: 0;
				top: 50%;
				transform: translate(-50%, -50%);
				@media (max-width: $sw-xs-max) {
					height: 11rem;
				}

			}
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}

		}
	}

}

.text-article {
	padding-top: 4.2rem;
	padding-bottom: 10.2rem;
	background-color: $white;
	&__sm {
		padding-left: 10rem;
		@media (max-width: $sw-md-min) {
			padding-left: 0;
		}
	}

	&__title {
		font-size: 1.8rem;
		line-height: 1.48em;
		color: $tawnyPort; 
		margin-bottom: 1.8rem;
	}
	&__networks {
		.icon {
			font-size: 5rem;
			color: $tawnyPort;
			@media (max-width: $sw-xs-max) {
				font-size: 4rem;
			}
			transition: color .3s ease;
			&:hover {
				@media (min-width: $sw-xs-min) {
					color: $royalHeath;
				}
			}
			&:active {
				@media (min-width: $sw-xs-min) {
					color: #b36f9f;
				}
			}
	
		}
		
		a {
			&:not(:last-child) {
				margin-right: 1.5rem;
				@media (max-width: $sw-xs-max) {
					margin-right: 1rem;
				}
			}

		}
	}
}

.detailed-page {
	&__buy {
		p {
			font-family: $montserrat;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.62em;
			color: $charade;
			margin-bottom: 5px;
		}
		a  {
			font-weight: 500;
			color: $royalHeath;
		}
	}
}