mixin text-component(data)
	.text-component
		.container
			.text-component__inner.text-component__inner--padding
				h2 Юридические услуги юридическим лицам
				p Задачей руководителя организации является развитие бизнеса, а не изучение законов и судебной практики. Именно поэтому каждой фирме периодически требуется помощь квалифицированного юриста. В штате может числиться один специалист или целая команда профессионалов. Однако в таком случае нужно выплачивать заработную плату, отпускные, больничные, делать отчисления в различные фонды, оборудовать рабочие места, постоянно повышать квалификацию и так далее. Юридическому лицу гораздо выгоднее заказывать юридические услуги у сторонней организации, нежели содержать одного специалиста. Это позволит не только сократить расходы, но и повысить эффективность и качество принимаемых решений. В интересах предприятия будет трудиться не один юрист, а целая команда профессионалов.
				p Список услуг для юридических лиц:

				ul.dotted-list
					li консультации в виде письменных или устных ответов по вопросам корпоративного, хозяйственного, административного, гражданского права;
					li официальное представление интересов юридического лица в различных инстанциях органов власти;
					li разработку, вычитку и правовую экспертизу корпоративных документов;
					li представительство интересов фирмы в судах;
					li юридические услуги по регистрации, реорганизации, ликвидации фирмы, внесении изменений в ее учредительные документы;
					li аудит кадровой, налоговой, бухгалтерской документации на соответствие законодательству;
					li проверку существующих договоров и контрактов на соответствие действующему законодательству, их подготовку в будущем;
					li подготовку экспертных заключений по правовым вопросам, которые возникают в деятельности организации.

				p 
					strong Стоит отметить, что возможно разовое оказание юридических услуг. Однако более выгодным и эффективным для юридических лиц становится обслуживание на постоянной основе. Смотрите возможные варианты тарифов на сайте.
			.text-component__inner.text-component__inner--padding
				h2 Кому доверить оказание юридических услуг юридическим лицам?
				p Прежде чем заключать договор, руководителю юридического лица нужно обратить внимание на следующие нюансы:

				ul.dotted-list
					li срок существования организации на рынке;
					li перечень юридических услуг, их стоимость и особенности оказания;
					li количество специалистов и их опыт;
					li гарантии и обязательства (чем больше их озвучено, тем выше степень ответственности фирмы перед клиентами);
					li отзывы бывших клиентов и так далее.
				
				p Ищите надежного партнера? Тогда обратитесь в компанию «ЮрФинЭксперт». Мы не первый год занимаемся оказанием юридических услуг юридическим лицам в Санкт-Петербурге и Петрозаводске. «ЮрФинЭксперт» объединяет настоящих профессионалов и гарантирует следующие преимущества сотрудничества:

				ul.dotted-list
					li безупречное качество оказания юридических услуг;
					li гибкость в решении вопросов;
					li оперативность работ и соблюдение установленных сроков;
					li абсолютная конфиденциальность информации, полученной от юридических лиц;
					li ответственность по взятым обязательствам;
					li оплата только за результат.

				p Чтобы заказать юридические услуги, представителю юридического лица достаточно позвонить по указанному номеру или оставить заявку на сайте.

mixin text-about-compamy(data)
	.text-component
		.container
			.text-component__inner.text-component__inner--padding
				.text-component__title
					h2 О компании
				blockquote
					p(data-text="16 лет") #[b «ЮрФинЭксперт»] основана в 2005 году и за период работы завоевала репутацию надежного юридического партнера. Среди наших клиентов — компании с многолетней историей и разветвленной сетью представительст по Российской Федерации.

				p На сегодняшний день в компании работает 11 юристов, специалистов в разных отраслях.#[br] Мы охватываем все отрасли, кроме уголовного права. Юридическую помощь мы оказываем уже 16 лет.#[br]#[br]В 2005 году офис компании находился в Санкт-Петербурге на Левашовском 13, а в 2011 году компания начала приобретать собственные помещения, что обеспечило высокую стабильность и устойчивость нашего бизнеса. В настоящее время  открыты 3 офиса в Санкт-Петербурге, 1 офис в Петрозаводске, 1 офис в Москве.#[br]#[br]“ЮрФинЭксперт” является оператором Единого Ликвидационного Центра, организации, осуществляющей ликвидации фирм по всей стране. В 2015 году был подписан лицензионный договор на поддержку нашими специалистами Горячей линии К+, мы были выбраны среди десятков фирм, что еще раз подтверждает квалификацию и уровень наших специалистов.#[br]#[br]С 2018 года компания начала продвижение своих услуг в социальных сетях, в частности сегодня, пользователи сети ВК могут получить бесплатную консультацию, всего лишь вступив в нашу группу.#[br]#[br]Мы учимся, учувствуем в семинарах, выставках, конференциях, для повышения знаний наших специалистов. На 2018 года услугами компании воспользовались более 400 организаций и 3000 граждан! Мы открыты к новому и всегда рады видеть Вас среди наших клиентов, друзей и партнеров.#[br]
				p
					strong С Уважением, Исполнительный директор Позняк Дмитрий!

mixin text-article(data)
	.text-component.text-article
		.container
			.text-component__inner.text-component__inner--padding
				.text-component__title
					.text-component__top
						.text-component__top__titles
							h3 Наша практика
							h2 Как не стать жертвой мошенника?
						.text-component__top__time
							each date in data.dates
								.date
									b!= date.numeric
									span /
									span!= date.month
									span /
									span!= date.year
								.caterogy
									span Caterogy:
									b!= date.caterogy
					p 
						a(href="javascript:void(0)")  kad.arbitr.ru
						strong – это основной сервис для проверки благонадежности компании, тут вы найдете все судебные решения по организации.
					p
						a(href="javascript:void(0)")  egrul.nalog.ru
						strong – проверка любой российской организации по номеру или названию.Можно увидеть как давно работает фирма, все ли сведения о ней достоверны.
					
					p
						strong Наша практика:
					
					p В июле 2017 года к нам обратился клиент, юридическое лицо. Клиент взял в аренду 3 гусеничных экскаватора, заключил договор договор с организацией, подписал документы по электронной почте, оплатил счет на сумму более 300 000 рублей.
					p Уже через день, вторая компания перестала отвечать на звонки, сбрасывала вызовы, говорила что техника сломана и сейчас не может работать, а ваши деньги заблокированы на счете. Директор фирмы нашел нас по интернету, наши специалисты его проконсультировали, записали на встречу, после проверки организации поставщика техники, мы пришли к выводу, что фирма ведет так свою деятельность на протяжении нескольких лет. С такими организациями мы настоятельно не советуем заключать договора, либо оплачивать их услуги по факту выполненных работ!
					p Дело рассматривал Арбитражный суд Санкт-Петербурга. Дело №А56-71309/2017.#[br]Решение вынесено 15.11.2017.

					p #[strong Стоимость услуг для клиента:] 25 000 рублей. Расходы взысканы с проигравшей стороны!

					p Берегите себя и свои нервы! Не дайте мошенникам ввести себя в заблуждение. Обращайтесь в нашу компанию, мы поможем обезопасить Вас и Ваш бизнес!

					.text-article__sm
						.text-article__title
							span Share:
						.text-article__networks
							a(href="javascript:void(0)")
								+svg('icon-facebook')
							a(href="javascript:void(0)")
								+svg('icon-in')
							a(href="javascript:void(0)")
								+svg('icon-wk')
					

mixin address-content(data)
	.text-component.text-component__address-content
		.text-component__inner
			h2 Когда нужна услуга по предоставлению юридического адреса?
			ul.dotted-list
				li владельцы организации намерены зарегистрировать ее в пределах территории, подведомственной конкретной ИФНС;
				li Специфика деятельности фирмы такова, что постоянное местонахождение для нее не требуется;
				li Оформить предприятие по его фактическому местонахождению невозможно из-за отказа собственника или других обстоятельств.
			h2 Кому доверить услугу по предоставлению юридического адреса?
			p Лучше обратиться в специализированную организацию с безупречной репутацией. В противном случае Вы рискуете попасть в руки мошенников, получить проблемы с налоговой службой, потерять деньги и время. Одной из самых надежных компаний в Петербурге является «ЮрФинЭксперт». Мы предоставляем юридические адреса без или с почтовым обслуживанием, а также с возможностью проверок. Их цена стартует от 1990 рублей на 11 месяцев.
			p Чтобы заказать услугу по предоставлению юридического адреса, нужно связаться с нашими специалистами, сообщить реквизиты организации и определиться с районом, в котором будет зарегистрирована фирма. Мы проконсультируем, предложим 3 варианта на выбор, оформим договор и передадим готовые документы заказчику. При этом гарантируем оперативность работ, внимание к пожеланиям клиента и абсолютную конфиденциальность.

mixin detailed(data)
	.text-component.text-component__detailed
		.text-component__inner
			h2 Почему стоит обратиться в «ЮрФинЭксперт»?
			ul.specific__list.dotted-list
				li.specific__item 2 недели пробного бесплатного обслуживания;
				li.specific__item неограниченные устные консультации;
				li.specific__item специалисты по всем отраслям права.
			p Профессионализм наших специалистов и их опыт работы позволяют нам с успехом решать любые, в том числе сложные вопросы, возникающие у заказчиков. Абонентское обслуживание юридических лиц — наш конек, мы выполняем все мероприятия качественно и быстро, экономя время своих заказчиков.
			p Наши услуги помогут вам сэкономить не только время, но и средства. Практический опыт показывает: абонентское и контрактное юридическое обслуживание фирм в большинстве случаев заметно выгоднее, чем содержание штатного юриста (тем более целого юротдела). Компания «ЮрФинЭксперт» гарантирует своим клиентам высокое качество услуг. Стоимость абонентского обслуживания для юридических лиц доступна.
			p Услуги компании «ЮрФинЭксперт» позволят вам обеспечить непрерывность решения юридических вопросов. Наши юристы не заболеют, не уйдут в отпуск и не уволятся – а значит, бизнес-процессы вашей компании никогда не пострадают. Возникли вопросы? Менеджеры компании дадут подробные консультации по вопросам абонентского юридического обслуживания. Звоните по указанным на сайте номерам телефона.
			.detailed-page__buy
				p Надежно защитите свою компанию всего за 6900 в месяц
				a(href="javascript:void(0)") Первые две недели в подарок!

mixin personal-legal-services(data)
	.text-component.text-component--service
		.text-component__inner.text-component__inner--padding
			.text-component__title
				h1 Платные юридические услуги
			blockquote.blockquote-icon
				p(data-text='') #[b «ЮрФинЭксперт»] работает в Санкт-Петербурге с 2005 года. За это время организация сформировала команду настоящих профессионалов, получила бесценный опыт и завоевала репутацию надежного партнера. Мы гарантируем качество и оперативность работ, внимательное отношение к пожеланиям клиентов, гибкость в решении вопросов и абсолютную конфиденциальность. Приемлемая стоимость юридических услуг будет еще одним аргументом в пользу выбора нашей компании. Гарантируем гибкое ценообразование и индивидуальный подход к каждому клиенту.

			p Граждане и организации нашей страны обладают соответствующими правами и обязанностями. При этом совершенно неважно, знают ли они о них или нет. Ответственность для каждого предусмотрена одинаково. Если Вы столкнулись с ситуацией, требующей глубоких юридических познаний, срочно обратитесь к профессионалам. Любое промедление может стоить времени, денег, репутации и свободы.

			p В данном разделе сайта представлена информация о стоимости юридических услуг. Хорошая репутация и большой практический опыт юристов позволяют нам предлагать клиентам не только качественную помощь, но и доступные цены.

			p У нас можно заказать полный спектр платных юридических услуг:

			ul.dotted-list
				li консультирование;
				li составление заявлений, претензий, жалоб, ходатайств и других документов;
				li проверку документов;
				li подготовку и сопровождение сделок;
				li регистрацию, реорганизацию, ликвидацию юрлиц и внесение изменений в их учредительные документы;
				li проведение переговоров для мирного урегулирования конфликтов;
				li представление интересов в судах;
				li обжалование судебных решений и так далее.

mixin specialists(data)
	.text-component.text-component__address-content
		.text-component__inner
			h2 Специалисты нашей компании:
			ul.dotted-list
				li организуют бухгалтерский учёт на вашем предприятии;
				li обработают первичную документацию в соответствии со всеми правилами документооборота;
				li составят необходимую отчётность, в том числе – нулевую;
				li организуют ведение кадрового учёта;
				li примут меры, направленные на оптимизацию налогообложения вашей компании;
				li выполнят расчёт заработной платы;
				li осуществят другие мероприятия, в которых у вас возникнет необходимость.
			p Воспользовавшись бухгалтерскими услугами компании «ЮрФинЭксперт», вы непременно оцените по достоинству профессионализм наших специалистов. Каждый из них имеет большой опыт оказания услуг в области бухгалтерского учёта. Мы выполняем все необходимые мероприятия качественно и оперативно, при этом цены, установленные нами, вполне доступны.
			p Вы можете работать с нами, не выходя из дома! Общаться с нашим юристом можно из дома или офиса, оплатив его услуги через сайт и работая через почту и телефон.