.publication {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5.8rem 3.1rem 4.7rem 3.1rem;
    background-color: $white;
    border-radius: 1.2rem;
    transition: background-color .3s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: $sw-sm-max) {
        padding: 3.5rem 2rem;
    }
    &:hover {
        @media (min-width: $sw-xs-min) {
            color: $tawnyPort;
            background-color: darken($white, 2%);
        }
        .icon-arrow {
            @media (min-width: $sw-xs-min) {
                transform: translateX(1rem);
                color: $charade;
            }
        }
        .publication__title {
            p {
                @media (min-width: $sw-xs-min) {
                    color: $tawnyPort;
                }
            }
        }
    }
    &:active {
        @media (min-width: $sw-xs-min) {
            color: $white;
            background-color: darken($white, 5%);
        }
        .icon-arrow {
            @media (min-width: $sw-xs-min) {
                transform: translateX(1rem);
                color: $abbey;
            }
        }
        .publication__title {
            p {
                @media (min-width: $sw-xs-min) {
                    color: #b5639c;
                }
            }
        }
    }
    .icon-arrow {
        font-size: 2rem;
        color: $tawnyPort;
        transition: transform .3s ease, color .3s ease;
    }
    &--lg {
        justify-content: space-between;
        padding: 5.9rem 6rem 9.4rem;
        @media (max-width: $sw-sm-max) {
            padding: 4.5rem 3rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 3.5rem 2rem;
        }

        &:hover {
            .icon-arrow {
                @media (min-width: $sw-xs-min) {
                    transform: translateX(1rem);
                    color: #b5639c;
                }
            }
            .publication__title p {
                @media (min-width: $sw-xs-min) {
                    color: #b5639c;
                }
            }
        }
        &:active {
            .icon-arrow {
                @media (min-width: $sw-xs-min) {
                    transform: translateX(1rem);
                    color: #861b68;
                }
            }
            .publication__title p {
                @media (min-width: $sw-xs-min) {
                    color: #861b68;
                }
            }
        }
        .icon-arrow {
            color: $white;
        }
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 7.4rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 4rem;
        }
        .publication--lg {
            margin-bottom: 0;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $sharade;
    }

    &__date {
        display: flex;
        align-items: center;
        margin-bottom: 2.1rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 1rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 1.2rem;
        }

        span {
            font-family: $montserrat;
            font-style: normal;
            font-size: 1.6rem;
            line-height: 1.25em;
            &:not(:last-child) {
                margin-right: 9px;
                @media (max-width: $sw-sm-max) {
                    margin-right: 5px;
                }
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
            }
        }
        b {
            font-family: $montserrat;
            font-weight: 500;
            align-items: center;
            font-size: 2.7rem;
            line-height: 2rem;
            margin-right: 1rem;
            margin-bottom: 0;
            color: $sharade;
            @media (max-width: $sw-sm-max) {
                margin-right: 8px;
                font-size: 2.4rem;
            }
        }
        
        .publication--lg & {
            margin-bottom: 2.9rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.2rem;
            }
            b {
                font-size: 4rem;
                line-height: 0.5em;
                color: $white;
                @media (max-width: $sw-sm-max) {
                    font-size: 3.4rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 2.4rem;
                }
                
            }
            span {
                font-size: 2.2rem;
                line-height: 0.91em;
                color: $white;
                @media (max-width: $sw-sm-max) {
                    font-size: 2rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 1.6rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 1.4rem;
                }
                &:not(:last-child) {
                    margin-right: 1.2rem;
                    @media (max-width: $sw-sm-max) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    &__caterogy {
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;

        span {
            font-size: 1.6rem;
            line-height: 1.35rem;
            color: $codGray;
            opacity: 0.5;
            margin-right: 6px;
            text-transform: capitalize;
            @media (max-width: $sw-xx-max) {
                font-size: 1.4rem;
            }
        }
        b {
            font-weight: normal;
            font-size: 1.8rem;
            margin: 0;
            margin-left: 8px;
            text-transform: capitalize;
        }
        .publication--lg & {
            b {
                font-size: 1.8rem;
                line-height: 1.27em;
                color: $white;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.7rem;
                }
            }
            span {
                font-size: 1.6rem;
                line-height:1.27em;
                color: $white;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.4rem;
                }
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p {
            line-height: 1.44em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
        .publication--lg & {
            width: 100%;
            max-width: 56rem;
            p {
                color: $white;
            }
            @media (max-width: $sw-xs-max) {
                max-width: 100%;
            }
        }
    }

    &__title {
        margin-bottom: 1.9rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 1.5rem;
        }
        p {
            font-weight: bold;
            font-size: 2.2rem;
            line-height: 1.27em;
            color: $sharade;
            transition: color .3s ease;
            @media (max-width: $sw-sm-max) {
                font-size: 1.8rem;
            }
        }
        .publication--lg & {
            margin-bottom: 2.4rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 1.5rem;
            }
            p {
                font-size: 3.2rem;
                line-height: 1.25em;
                color: $white;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.8rem;
                }
            }
        }
    }
    &__subtitle {
        p {
            color: $charade;
            opacity: 0.8;
            @media (max-width: $sw-sm-max) {
                font-size: 1.6rem;
            }
        }

        .publication--lg & {
            p {
                @media (max-width: $sw-sm-max) {
                    font-size: 1.7rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
