mixin publication(data)
	a.publication(href="javascript:void(0)", class='' + data.class ? data.class : null, style='' + data.style ? data.style : null)
		.publication__top
			.publication__label
				.publication__date
					b 23
					span /
					span 10
					span /
					span 21
				.publication__caterogy
					span Caterogy:
					b Финансы
					
			.publication__icon
				+svg('icon-arrow')
		.publication__description
			.publication__title
				p!= data.title
			.publication__subtitle
				p!= data.subtitle