.header {
    padding-top: 15.2rem;
    width: 100%;
    @media (max-width: $sw-md-max) {
        padding-top: 17.5rem;
    }
    @media (max-width: $sw-sm-max) {
        padding-top: 16.7rem;
    }
    @media (max-width: $sw-xx-max) {
        padding-top: 7.2rem;
    }
    .container {
        @media (min-width: $sw-lg-min) {
            max-width: 1422px;
        }
    }
    &__top {
        background-color: $white;
        z-index: 20;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        &__inner {
            padding: 1.4rem 0 2.2rem 0;
            height: 9rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $sw-sm-max) {
                padding: 1.5rem 0;
                height: 8.2rem;
            }
            @media (max-width: $sw-xx-max) {
                height: 7.2rem;
                padding: 1rem 0;
            }
            .btn {
                padding: 0 2rem;
                height: 3.5rem;
                margin: 7px 1rem 0 1rem;
                @media (max-width: $sw-md-max) {
                    margin: 0 7px;
                }
                @media (max-width: $sw-xs-max) {
                    margin: 0 2rem 0 auto;
                }
                @media (max-width: 479px) {
                    display: none;
                }
            } 
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            @media (max-width: $sw-xs-max) {
                display: none;
            }
            &__line {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                &:not(:last-child) {
                    margin-bottom: 1.7rem;
                    @media (max-width: $sw-sm-max) {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                    @media (max-width: $sw-sm-max) {
                        display: none;
                    }
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    li {
                        position: relative;
                        &:after {
                            content: '';
                            display: none;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            top: calc(100% + 1.2rem);
                            background-color: $tawnyPort;
                        }
                        &:not(:last-child) {
                            margin-right: 3.2rem;
                            @media (max-width: $sw-md-max) {
                                margin-right: 1.7rem;
                            }
                        }
                        &.is-active {
                            &:after {
                                display: block; 
                            }
                        }
                    }
                    a {
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 1.18em;
                        letter-spacing: 0.005em;
                        color: #432448;
                        @media (max-width: $sw-md-max) {
                            font-size: 1.6rem;
                        }
                        &:hover {
                            @media (min-width: $sw-xs-min) {
                                color: $tawnyPort;
                            }
                        }
                    }
                }
            }
            &__item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &:not(:last-child) {
                    margin-right: 3.1rem;
                    @media (max-width: $sw-md-max) {
                        margin-right: 1.8rem;
                    }
                    @media (max-width: $sw-sm-max) {
                        margin-right: 2.2rem;
                    }
                }
                &__title {
                    font-family: $montserrat;
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 1.5em;
                    color: #202020;
                    margin-right: 1rem;
                    @media (max-width: $sw-sm-max) {
                        display: none;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-family: $montserrat;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 1.2em;
                    color: #101010;
                    &:hover {
                        @media (min-width: $sw-xs-min) {
                            color: #76255E;
                        }
                    }
                    .icon {
                        flex-shrink: 0;
                        color: #76255E;
                        margin-right: 1rem;
                        @media (max-width: $sw-md-max) {
                            margin-right: 5px;
                        }
                        &-email {
                            font-size: 1.2rem;
                        }
                        &-phone {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    &__list {
        width: 100%;
        position: fixed;
        left: 0;
        z-index: 20;
        top: 9rem;
        background-color: #F4F4F4;
        @media (max-width: $sw-sm-max) {
            top: 8.2rem;
        }
        @media (max-width: $sw-xx-max) {
            display: none;
        }
        &__inner {
            padding: 1.7rem 1.5rem 1.7rem 1.5rem;
            @media (max-width: $sw-md-max) {
                padding: 1.3rem 0;
            }
        }
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: -1.3rem;
            margin-right: -1.3rem;
        }
        li {
            margin: 0 1.4rem;
        }
        a {
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 1.4em;
            color: #272727;
            padding: 5px 0;
            display: flex;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: #76255E;
                }
            }
        }
    }
    &__logo {
        flex-shrink: 0;
        margin-top: 7px;
        @media (max-width: $sw-md-max) {
            margin-top: 0;
        }
        .icon {
            font-size: 4.2rem;
            @media (max-width: $sw-md-max) {
                font-size: 3.5rem;
            }
        }
    }
    &__burger {
        display: none;
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 50%;
        background-color: rgba(#76255E, 0.2);
        position: relative;
        margin-left: 1.5rem;
        flex-shrink: 0;
        transition: background-color .3s ease;
        @media (max-width: $sw-sm-max) {
            display: flex;
        }
        @media (max-width: $sw-xs-max) {
            margin-left: 0;
        }
        &.is-active {
            span {
                &:first-child {
                    transform: rotate(45deg);
                    top: 2.2rem;
                    left: 1.9rem;
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                    top: 2.2rem;
                    right: 1.9rem;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    bottom: 2.2rem;
                    left: 1.9rem;
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: 2.2rem;
                    right: 1.9rem;
                }
            }
        }
        span {
            width: 8px;
            height: 2px;
            background-color: $tawnyPort;
            position: absolute;
            transform: none;
            transition: all .3s ease;
            &:first-child {
                top: 2.1rem;
                left: 1.8rem;
                border-radius: 5px 0 0 5px;
            }
            &:nth-child(2) {
                top: 2.1rem;
                right: 1.8rem;
                border-radius: 0 5px 5px 0;
            }
            &:nth-child(3) {
                bottom: 2.1rem;
                left: 1.8rem;
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                bottom: 2.1rem;
                right: 1.8rem;
                border-radius: 0 5px 5px 0;
            }
        }
    }
    &__menu {
        position: fixed;
        left: 0;
        z-index: 20;
        right: 0;
        bottom: 0;
        top: 8.2rem;
        background-color: #F7F7FA;
        display: none;
        overflow: hidden;
        overflow-y: auto;
        @media (min-width: $sw-md-min) {
            display: none !important;
        }
        @media (max-width: $sw-xx-max) {
            top: 7.2rem;
        }
        &__action {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 3rem;
            .btn {
                padding: 0 2rem;
            }
        }
        &__inner {
            padding: 1rem 1.5rem 2rem 1.5rem;
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                max-width: 30rem;
                margin: 0 auto 3rem auto;
                @media (max-width: 599px) {
                    max-width: 100%;
                }
                li {
                    width: 100%;
                    text-align: center;
                    padding: 2rem 0;
                    & + li {
                        border-top: 1px solid rgba(0,0,0,.3);
                    }
                    &.is-active {
                        a {
                            color: $tawnyPort;
                        }
                    }
                }
                a {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 1.2em;
                    padding: 1rem 0;
                    color: #432448;
                }
            }
            .header__top__info {
                &__line {
                    display: flex;
                    justify-content: center;
                    @media (max-width: $sw-xx-max) {
                        flex-direction: column;
                        align-items: center;
                    }
                }
                &__item {
                    &:not(:last-child) {
                        @media (max-width: $sw-xx-max) {
                            margin-right: 0;
                        }
                    }
                    & + .header__top__info__item {
                        @media (max-width: $sw-xx-max) {
                            margin-top: 2rem;
                        }
                    }
                    a {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
