mixin header(data)
	header.header.js-header
		.header__top
			.container
				.header__top__inner
					a.header__logo(href="javascript:void(0)")
						+svg('icon-logo')
					a.btn.btn--violet(href="javascript:void(0)")
						+svg('icon-callback')
						span Обратный звонок
					.header__top__info 
						.header__top__info__line
							.header__top__info__item
								.header__top__info__item__title
									span Email:
								a(href="mailto:ufe@ufe.su")
									+svg('icon-email')
									span ufe@ufe.su
							.header__top__info__item
								.header__top__info__item__title
									span Петербург:
								a(href="tel:7 (8142) 59-20-90")
									+svg('icon-phone')
									span +7 (8142) 59-20-90
							.header__top__info__item
								.header__top__info__item__title
									span Петрозаводск:
								a(href="tel:7 (8142) 59-20-90")
									+svg('icon-phone')
									span +7 (8142) 59-20-90
						.header__top__info__line
							ul.h-reset-list
								each li in data.list
									li(class='' + li.class ? li.class : null)
										a(href="javascript:void(0)")!= li.name
					button.header__burger.js-menu-trigger(type="button")
						span
						span
						span
						span
		.header__list
			.container
				.header__list__inner
					ul.h-reset-list
						li
							a(href="javascript:void(0)") Юридическим лицам
						li
							a(href="javascript:void(0)") Гражданам
						li
							a(href="javascript:void(0)") Регистрация и ликвидация фирм
						li
							a(href="javascript:void(0)") Юридический адрес
						li
							a(href="javascript:void(0)") Бухгалтерские услуги
						li
							a(href="javascript:void(0)") Недвижимость
						li
							a(href="javascript:void(0)") Судебные услуги
						li
							a(href="javascript:void(0)") ЭЦП и отчетность
		.header__menu.js-mobile-menu
			.header__menu__inner
				ul.h-reset-list
					each li in data.list
						li(class='' + li.class ? li.class : null)
							a(href="javascript:void(0)")!= li.name
				.header__menu__action
					a.btn.btn--violet(href="javascript:void(0)")
						+svg('icon-callback')
						span Обратный звонок
				.header__top__info__line
					.header__top__info__item
						.header__top__info__item__title
							span Email:
						a(href="mailto:ufe@ufe.su")
							+svg('icon-email')
							span ufe@ufe.su
					.header__top__info__item
						.header__top__info__item__title
							span Петербург:
						a(href="tel:7 (8142) 59-20-90")
							+svg('icon-phone')
							span 7 (8142) 59-20-90
					.header__top__info__item
						.header__top__info__item__title
							span Петрозаводск:
						a(href="tel:7 (8142) 59-20-90")
							+svg('icon-phone')
							span 7 (8142) 59-20-90
