mixin popular-services(data)
	.popular-services
		.container
			.popular-services__inner
				h2 Популярные услуги
				p Команда талантливых юристов, которые быстро реагируют на все запросы и ориентируются на эффективные решения.
			.popular-services__carousel.js-carousel
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.popular-services__item(href="javascript:void(0)")
								.popular-services__item__icon
									+svg('icon-hammer')
								.popular-services__item__text
									span Представительство в арбитражном суде
									+svg('icon-arrow')
								.popular-services__item__price
									span 1850 ₽
						.swiper-slide
							a.popular-services__item(href="javascript:void(0)")
								.popular-services__item__icon
									+svg('icon-popular-services')
								.popular-services__item__text
									span Юридическая консультация
									+svg('icon-arrow')
								.popular-services__item__price
									span 1850 ₽
						.swiper-slide
							a.popular-services__item(href="javascript:void(0)")
								.popular-services__item__icon
									+svg('icon-registration')
								.popular-services__item__text
									span Регистрация ООО
									+svg('icon-arrow')
								.popular-services__item__price
									span 1850 ₽
						.swiper-slide
							a.popular-services__item(href="javascript:void(0)")
								.popular-services__item__icon
									+svg('icon-hammer')
								.popular-services__item__text
									span Регистрация ИП
									+svg('icon-arrow')
								.popular-services__item__price
									span 1850 ₽
						.swiper-slide
							a.popular-services__item(href="javascript:void(0)")
								.popular-services__item__icon
									+svg('icon-hammer')
								.popular-services__item__text
									span Сопровождение сделок c недвижимостью
									+svg('icon-arrow')
								.popular-services__item__price
									span 1850 ₽