.popular-services {
    background-color:  #1F1F1F;
    padding: 6.6rem 0 7.2rem 0;
    overflow: hidden;
    @media (max-width: $sw-sm-max) {
        padding: 4rem 0;
    }
    &__inner {
        h2 {
            margin-bottom: 1.6rem;
            color: #FAFAF9;
        }
        p {
            margin-bottom: 5.4rem;
            letter-spacing: 0.5px;
            color: rgba(239, 237, 232, 0.65);
        }
    }
    &__carousel {
        .swiper-container {
            @media (max-width: $sw-sm-max) {
                overflow: visible;
            }
        }
        .swiper-slide {
            width: 28rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        background-color: #323443;
        border-radius: 1.2rem;
        padding: 2.4rem 2.2rem 2.8rem 2.2rem;
        &:hover {
            .popular-services__item__text {
                @media (min-width: $sw-xs-min) {
                    color: #bd3696;
                }
            }
        }
        &__icon {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 1.2rem;
            .icon {
                font-size: 4.6rem;
            }
        }
        &__text {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.3em;
            letter-spacing: 0.5px;
            margin-bottom: 8px;
            color: #FAFAF9;
            min-height: 4.8rem;
            transition: color .3s ease;
            .icon-arrow {
                flex-shrink: 0;
                margin-left: 6px;
                font-size: 2.4rem;
            }
        }
        &__price {
            font-family: $montserrat;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.6em;
            letter-spacing: 0.3px;
            color: rgba(239, 237, 232, 0.65);
        }
    }
}