mixin faq(data)
	.faq
		.container
			.faq__inner
				.faq__info
					h2 Популярные вопросы
					p Команда профессиональных юристов с удовольствием ответят на все ваши вопросы.       Если вы не нашли подходящего ответа, оставьте заявку и наши специалисты свяжуться с вами.
					a.btn.btn--white(href="javascript:void(0)") Оставить заявку
				.faq__collapses
					.faq__collapse.js-collapse
						button.faq__collapse__trigger.js-collapse-trigger(type="button")
							span В какой форме и каким образом предоставляются документы для регистрации ИП?
							+svg('icon-chevron')
						.faq__collapse__inner.js-collapse-inner
							.faq__collapse__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, doloremque.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit at, numquam dolorum ut asperiores dignissimos fugiat culpa odit ipsam molestiae!
					.faq__collapse.js-collapse
						button.faq__collapse__trigger.js-collapse-trigger(type="button")
							span Каков порядок оформления авторского права?
							+svg('icon-chevron')
						.faq__collapse__inner.js-collapse-inner
							.faq__collapse__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit at, numquam dolorum ut asperiores dignissimos fugiat culpa odit ipsam molestiae!
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, doloremque.
					.faq__collapse.js-collapse
						button.faq__collapse__trigger.js-collapse-trigger(type="button")
							span Каковы цель и порядок проведения предварительного судебного заседания?
							+svg('icon-chevron')
						.faq__collapse__inner.js-collapse-inner
							.faq__collapse__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, nam. Animi quos, ipsum architecto corporis, laudantium voluptates, excepturi sunt pariatur ex illo corrupti voluptatibus! Eius fugiat quibusdam veritatis nihil accusamus?
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt deserunt quae ipsum dolor, voluptates iste.
					.faq__collapse.js-collapse
						button.faq__collapse__trigger.js-collapse-trigger(type="button")
							span Как задать юристу персональный вопрос?
							+svg('icon-chevron')
						.faq__collapse__inner.js-collapse-inner
							.faq__collapse__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, nam. Animi quos, ipsum architecto corporis, laudantium voluptates, excepturi sunt pariatur ex illo corrupti voluptatibus! Eius fugiat quibusdam veritatis nihil accusamus?
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt deserunt quae ipsum dolor, voluptates iste.