.faq {
    padding: 7.2rem 0 10rem 0;
    background-color: $sharade;
    @media (max-width: $sw-sm-max) {
        padding: 7rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 5rem 0;
    }
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
        }
    }
    &__info {
        width: 100%;
        max-width: 41.6rem;
        margin-right: 3rem;
        @media (max-width: $sw-sm-max) {
            max-width: 38rem;
            margin-right: 2rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 4rem;
        }
        h2 {
            margin-bottom: 2.4rem;
        }
        p {
            line-height: 1.6em;
            margin-bottom: 4.8rem;
            @media (max-width: $sw-sm-max) {
                font-size: 1.6rem;
                margin-bottom: 3rem;
            }
        }
        .btn {
            font-weight: 600;
            font-size: 1.6rem;
        }
    }
    &__collapses {
        width: 100%;
        max-width: 61.8rem;
        border-radius: 1rem;
        overflow: hidden;
        @media (max-width: $sw-sm-max) {
            max-width: 47rem;
        }
        @media (max-width: $sw-xs-max) {
            max-width: 100%;
        }
    }
    &__collapse {
        width: 100%;
        & + .faq__collapse {
            margin-top: 2px;
        }
        &.collapse-is-opened {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            .faq__collapse__trigger {
                background-color: rgba(232, 119, 227, 0.15);
                .icon {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
        &__trigger {
            width: 100%;
            background-color: rgba(232, 119, 227, 0.1);
            cursor: pointer;
            font-weight: 600;
            min-height: 8.2rem;
            font-size: 1.8rem;
            line-height: 1.35em;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            letter-spacing: 0.5px;
            color: #FAFAF9;
            padding: 1.6rem 9rem 1.6rem 4.8rem;
            transition: background-color .3s ease;
            position: relative;
            @media (max-width: $sw-sm-max) {
                letter-spacing: 0;
                padding: 1.2rem 6rem 1.2rem 2rem;
                font-size: 1.6rem;
                min-height: 7rem;
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    background-color: rgba(232, 119, 227, 0.15);
                }
            }
            &:active {
                @media (min-width: $sw-xs-min) {
                    background-color: rgba(232, 119, 227, 0.2);
                }
            }
            .icon {
                position: absolute;
                top: 50%;
                right: 4.8rem;
                transform: translateY(-50%) rotate(0deg);
                transition: transform .3s ease;
                font-size: 1.2rem;
                color: #FAFAF9;
                @media (max-width: $sw-sm-max) {
                    right: 2rem;
                    font-size: 1rem;
                }
            }
        }
        &__inner {
            background-color: rgba(232, 119, 227, 0.1);
        }
        &__content {
            padding: 2rem;
            color: $white;
            border-top: 1px solid $sharade;
            @media (max-width: $sw-xx-max) {
                padding: 1rem 2rem;
            }
            p {
                margin-bottom: 0;
                font-size: 1.6rem;
                & + p {
                    margin-top: 1rem;
                }
            }
        }
    }
}