mixin team(data)
	.team
		.container
			.team__inner
				.team__title
					h2 Команда
				.team__wrap(data-text="team")
					each card in data.cards
						.team__col
							.team__img
								img(src='../../s/images/tmp_file/team/#{card.image}', alt="img")
							.team__info
								.team__about
									.team__name
										h3!= card.name
									.team__subtitle
										span!= card.subtitle
								.team__contact
									a(href="tel:+7(812)3341090")
										+svg('icon-phone')
										span + 7 (812) 334-10-90
									a(href="mailto:ufe@ufe.su")
										+svg('icon-email')
										span ufe@ufe.su
					