.team {

    &__title {
        margin-bottom: 10.3rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 6rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 4rem;
        }
        h2 {
            font-size: 4.1rem;
            font-weight: 600;
            color: $charade;
            @media (max-width: $sw-sm-max) {
                font-size: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2.5rem;
            }
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: 4.8rem;
        margin-bottom: 11.9rem;
        position: relative;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 6rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-bottom: 5rem;
            margin-left: -3rem;
            margin-right: -3rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 4rem;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            margin-right: 0;
        }

        &::before {
            content: attr(data-text);
            font-size: 21.7rem;
            line-height: 1em;
            display: block;
            font-family: "Montserrat", sans-serif;
            position: absolute;
            color: #76255E;
            opacity: 0.06;
            transform: translateX(-50%);
            left: 54%;
            text-align: center;
            top: 1.1rem;
            letter-spacing: 55px;
            pointer-events: none;
            z-index: 0;
            text-transform: uppercase;
            @media (max-width: $sw-xs-max) {
                font-size: 16rem;
            }
            @media (max-width: $sw-xx-max) {
                display: none;
            }
        }
    }

    &__col {
        width: calc(100% / 3);
        margin-bottom: 4.3rem;
        padding: 0 1rem;
        @media (max-width: $sw-xs-max) {
            width: calc(100% / 2 - 2rem);
            padding: 0 3rem;
            margin-bottom: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            max-width: max-content;
        }
    }

    &__img {
        border-bottom: 3px solid $tawnyPort;
        img {
            @media (max-width: $sw-xx-max) {
                max-height: 40rem;
            }
        }
    }

    &__info {
        padding-top: 2.7rem;
        padding-left: 4rem;
        padding-right: 2rem;
        @media (max-width: $sw-sm-max) {
            padding-top: 2.7rem;
            padding: 2rem 2rem 0; 
        }
        @media (max-width: $sw-xx-max) {
            display: flex;
            flex-direction: column;
            align-items: center;    
            justify-content: center;
            padding-left: 0;
            padding-right: 0;
            
        }
    }
    &__about {
        margin-bottom: 1.9rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 1.4em;
        }
        @media (max-width: $sw-xx-max) {
            display: flex;
            flex-direction: column;
            align-items: center;    
            justify-content: center;
        }
    }

    &__name {
        h3 {
            font-family: $montserrat;
            font-weight: bold;
            font-size: 2.6rem;
            line-height: 1.23em;
            margin-bottom: 2px;
            @media (max-width: $sw-sm-max) {
                font-size: 2rem;
            }
        }
    }

    &__subtitle {
        font-family: $sourcesanspro;
        font-size: 1.6rem;
        line-height: 1.25em;
        color: $mineShaft1;
        @media (max-width: $sw-sm-max) {
            font-size: 1.4rem;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 8px;
        font-family: $sourcesanspro;
        font-size: 1.7rem;
        line-height: 1.23em;
        color: $codGray1;
        @media (max-width: $sw-sm-max) {
            gap: 5px;
            font-size: 1.5rem;
        }
        @media (max-width: $sw-xx-max) {
            display: flex;
            align-items: center;    
            justify-content: center;
        }

        .icon {
            font-size: 1.6rem;
            color: $tawnyPort;
            margin-right: 1.6rem;
            @media (max-width: $sw-xx-max) {
                margin-right: 1rem;
            }
        }

        a {
            transition: color .3s ease;
    
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: #a54d8c;
                    }
                }
                &:active {
                    @media (min-width: $sw-xs-min) {
                        color: $tawnyPort;
                    }
                }
        }
    }

}