mixin practice-search(data)
	.practice-search
		.container
			.practice-search__inner
				.practice-search__list
					span.practice-search__item.is-active Все записи
					a.practice-search__item(href="javascript:void(0)") Финансы
					a.practice-search__item(href="javascript:void(0)") Право
					a.practice-search__item(href="javascript:void(0)") Налоги
					a.practice-search__item(href="javascript:void(0)") О компании
					a.practice-search__item(href="javascript:void(0)") Отчетность


				.practice-search__form
					.practice-search__form__title
						h1 Наша практика
					form.practice-search__form__inner(action="javascript:void(0)")
						.form-control
							.input-wrap
								input(type="text", placeholder="Искать по ключевому слову")
								button.practice-search__form__submit(type="submit")
									+svg('icon-search')