.practice-search {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../s/images/useful/main-baner/our-practice.png");

    &__inner {
        min-height: 37rem;
        // max-width: 78rem;
        padding: 4.2rem 0 8.6rem;
        
        @media (max-width: $sw-sm-max) {
            padding: 5rem 0;
            min-height: 30rem;
        }
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            min-height: auto;
        }
        @media (max-width: $sw-xx-max) {
            padding: 3.5rem 0;
        }
        
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5.9rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 4rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.4rem;
        text-align: center;
        padding: 3px 2rem;
        border: 1px solid #8A8A8A;
        border-radius: 2rem;
        background-color: transparent;
        font-family: $montserrat;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.43em;
        color: $white;
        transition-property: border-color, background-color, color;
        transition-duration: .3s;
        transition-timing-function: ease;
        @media (max-width: $sw-xx-max) {
            font-size: 1.2rem;
            height: 3rem;
        }
        

        &:not(:last-child) {
            margin-right: 2.2rem;
            margin-bottom: 1.5rem;
            @media (max-width: $sw-sm-max) {
                margin-right: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
        &:not(.is-active):hover {
            @media (min-width: $sw-xs-min) {
                // border-color: $tawnyPort;
                background-color: #8A8A8A;
            }
        }
        &:not(.is-active):active {
            @media (min-width: $sw-xs-min) {
                border-color: lighten(#8A8A8A, 5%);
                background-color: lighten(#8A8A8A, 5%);
            }
        }

        &.is-active {
            border: none;
            background-color: $tawnyPort;
            transition: color .3s ease, background-color .3s ease;
        }
    }

    &__form {
        flex-shrink: 0;
        // width: 78rem;
        width: 100%;
        max-width: 78rem;
        &__title {
            margin-bottom: 4.2rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3.8rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
            h1 {
                font-size: 4.2rem;
                line-height: 1.19em;
                @media (max-width: $sw-sm-max) {
                    font-size: 3.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 2.8rem;
                }
            }
        }

        &__submit {
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            background-color: transparent;
            transition: background-color .3s ease;

            .icon {
                font-size: 3rem;
                color: $white;
                @media (max-width: $sw-xx-max) {
                    font-size: 2rem;
                }
            }
        }

        .form-control {
            width: 100%;
            // position: relative;
            border-bottom: 1px solid $white;
            padding: 0;
            padding-right: 3px;
            // padding-bottom: 1rem;
        }
        .input-wrap {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
        }
        input {
            flex-grow: 1;
            border: none;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            font-size: 1.8rem;
            line-height: 1.44em;
            color: $white;
            padding-right: 1rem;
            height: 3.6rem;
            @include placeholder {
                color: $white;
                transition: opacity .3s ease;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.5rem;
            }
            &:focus {
                background-color: transparent;
                border: none;
                outline: none;
                box-shadow: none;
                @include placeholder {
                    opacity: 0;
                }
            }
        }
    }




}