.select2-hidden-accessible {
    width: 100% !important;
    border: hidden;
}

.form-control-wrap {
    .select2-container {
        width: 100% !important;
    }
}

.select2-container {
    &.select2-container--open {
        .select2-selection__arrow {
            transform: translate(-50%, -50%) rotate(180deg) !important;
        }
    }
    .select2-results__option--selected {
        background-color: red;
        
    }

    .select2-selection--single {
        width: 100%;
        background-color: transparent !important;
        border: none;
        border-bottom: 1px solid $tawnyPort !important;
        border-radius: 0;
        height: 4.08rem;
        border: none;
        

        .select2-selection__rendered {
            line-height: 3rem;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            padding: 0 1.2rem 1.3rem;

            color: $black !important;
        }
        
    }
    
    .select2-selection__placeholder {
        transition: opacity .3s ease;
        color: rgba($jumbo, 0.5) !important;
        width: 100%;
        height: 4.2rem;
        font-size: 1.8rem;
        line-height: 1.6em;
        @include placeholder {
            opacity: 0.6;
        }
    }
    .select2-selection__arrow {
        height: 1.3rem;
        position: absolute;
        top: 1.3rem !important;
        right: 4%;
        width: 2.3rem;
        transform: translate(-50%, -50%) rotate(0);
        transition: transform .3s ease;
        background-size: 2.6rem 1.2rem;
        background-position: center;
        background-image: url("../../s/images/useful/chevron.svg");
        background-repeat: no-repeat;
    
        b {
            display: none;
        }
    }



    .select2-results__option {
        padding: 4px 1.5rem;
    }
    
    .select2-dropdown--below {
        font-size: 14px;
        background-color: $white;
        border: none;
        border-radius: 0;
        box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.06);
        // color: $mineShaft;
        .select2-results__option--highlighted {
            cursor: pointer;
            color: $black;
            background-color: #c9b7c4c7;
            // border-radius: 1px solid red ;
            border-radius: 0;
        }
    }   
}