.form-control {
    width: 100%;
    height: 4.2rem;
    font-size: 1.8rem;
    line-height: 1.6em;
    color: $white;
    background-color: transparent;
    padding: 0 4rem 0 1.3rem;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid rgba($white, .3);
    font-family: $sourcesanspro;
    transition: border-color .3s ease;
    @include placeholder {
        opacity: 1;
        transition: opacity .3s ease;
        color: rgba($white, 0.5);
    }
    @media (max-width: $sw-sm-max) {
        padding: 0 4rem 0 1rem;
    }

    &.error {
        border-bottom: 1px solid $monza !important;
        & + .icon {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
    
    &:focus {
        box-shadow: none;
        color: $white;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid $white;
        @include placeholder {
            opacity: 0;
        }
    }

    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        .input-wrap {
            width: 100%;
            position: relative;
            
            .icon-close {
                display: block;
                opacity: 0;
                visibility: hidden;
                color: $monza;
                position: absolute;
                bottom: 1.6rem;
                right: 1.4rem;
                font-size: 1.4rem;
                transition: opacity .3s ease, visibility .3s ease;

            }
            &_error {
                display: none !important;
            }
        }
    }
    &-label {
        font-family: $sourcesanspro;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.6em;
        letter-spacing: 0.5px;
        color: $mineShaft2;
        padding-left: 1.2rem;
        sup {
            color: $monza;
        }

    }
}

textarea.form-control {
    height: 12rem;
    overflow-wrap: break-word;
    resize: none;
    padding: 1.2rem 1.2rem 1.3rem;
}
