.ls {
    background-color: #F4F4F4;
    padding: 8.8rem 0 6rem 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        @media (max-width: $sw-sm-max) {
            flex-wrap: wrap;
        }
    }
    &__aside {
        width: 38rem;
        flex-shrink: 0;
        @media (max-width: $sw-sm-max) {
            flex-shrink: initial;
            width: 100%;
        }
        &__title {
            margin-bottom: 4.1rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2.5rem;
            }
            p {
                font-weight: 600;
                font-size: 3.4rem;
                line-height: 1.05em;
                color: #202020;
                font-family: $montserrat;
                margin-bottom: 0;
                @media (max-width: $sw-sm-max) {
                    font-size: 2.6rem;
                }
            }
        }
        &__list {
            width: 100%;
        }
    }
    &__link {
        padding: 2rem 1.6rem 2.2rem 1.6rem;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transition: background-color .3s ease;
        &:first-child {
            border-top-left-radius: 1.2rem;
            border-top-right-radius: 1.2rem;
        }
        &:last-child {
            border-bottom-left-radius: 1.2rem;
            border-bottom-right-radius: 1.2rem;
        }
        &:not(:last-child) {
            margin-bottom: 4px;
        }
        &:hover {
            @media (min-width: $sw-xs-min) {
                background-color: darken($white, 1%);
            }
            .ls__link__top {
                @media (min-width: $sw-xs-min) {
                    color: #76255E;
                }
            }
        }
        &__top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.375em;
            color: #232532;
            transition: color .3s ease;
            .icon-arrow {
                font-size: 1.8rem;
                flex-shrink: 0;
                margin-left: 2rem;
            }
        }
        &__text {
            width: 100%;
            margin-bottom: 8px;
            p {
                margin-bottom: 0;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: rgba(#232532, 0.8);
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
        &__footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.4em;
            text-align: right;
            color: rgba(#232532, 0.4);
        }
    }
    &__info {
        width: 100%;
        max-width: 68rem;
        @media (max-width: $sw-sm-max) {
            max-width: 100%;
            margin-bottom: 4rem;
        }
        h2 {
            color: #202020;
            margin-bottom: 4.2rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2.5rem;
            }
        }
        h3 {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 2.6rem;
            line-height: 1.2em;
            color: #232532;
            margin-bottom: 3.5rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2.5rem;
            }
        }
        p {
            color: $charade;
            margin-bottom: 4rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2.5rem;
            }
            a {
                color: #76255E;
                font-weight: 600;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: lighten(#76255E, 15%);
                    }
                }
            }
        }
        .dotted-list {
            margin-bottom: 3.6rem;
        }
        &__section {
            &:not(:last-child) {
                margin-bottom: 7rem;
                @media (max-width: $sw-sm-max) {
                    margin-bottom: 3.5rem;
                }
            }
        }
        &__image {
            position: relative;
            margin-bottom: 3.6rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2.5rem;
            }
            img {
                margin-bottom: 1.6rem;
                border-radius: 1.2rem;
            }
            figcaption {
                font-size: 1.6rem;
                line-height: 1.4em;
                display: flex;
                align-items: center;
                color: #85858D;
                padding-left: 1.2rem;
                border-left: 2px solid #85858D;
            }
        }
        &__blockquote {
            margin-bottom: 3.2rem;
            width: 100%;
            p {
                font-family: $montserrat;
                font-weight: 600;
                font-size: 1.7rem;
                line-height: 1.5em;
                font-style: italic;
                margin-bottom: 0;
                @media (max-width: $sw-sm-max) {
                    font-size: 1.6rem;
                }
            }
            b {
                color: #76255E;
                font-weight: 600;
            }
            &--sm {
                p {
                    font-size: 1.6rem;
                    line-height: 1.6em;
                    color: #76255E;
                }
            }
        }
    }
}