mixin legal-services(data)
	.ls
		.container
			.ls__inner
				.ls__info
					.ls__info__section
						h2 Юридичиские услуги
						.ls__info__blockquote
							blockquote
								p #[b «ЮрФинЭксперт»] основана в 2005 году и за период работы завоевала репутацию надежного партнера. #[br] Среди наших клиентов — компании с многолетней историей и разветвленной сетью представительст по Российской Федерации.
						p Центр юридических услуг «ЮрФинЭксперт» оказывает комплексную помощь в ведении бизнеса в Санкт-Петербурге. Мы сопровождаем деятельность клиента с момента регистрации и на протяжении всех последующих этапов развития. В штате компании работают специалисты в области права, бухгалтерии, кадрового учета, налогообложения и недвижимости.
					.ls__info__section
						h3 Юридические услуги физическим лицам
						p Квалифицированная помощь юриста все чаще необходима простым гражданам, чтобы отстоять свои интересы. #[br] Физическим лицам предоставляются юридические услуги в сфере:
						ul.dotted-list
							li защиты прав потребителей;
							li семейного и трудового права;
							li приобретения и реализации недвижимости.
						figure.ls__info__image
							img(src="s/images/useful/img1.jpg", alt="img")
							figcaption Команда ведущих юристов ЮрФинЭксперт
						p Мы всегда готовы отстоять законные интересы клиента в споре с налоговыми, таможенными органами, а также страховыми компаниями и нерадивыми работодателями.
						p Субъекты экономической деятельности всегда нуждаются в надежной защите компетентного юриста. Для решения этой задачи можно нанять штатного специалиста, однако такой сотрудник не всегда в состоянии охватить весь спектр вопросов, которые порождает бизнес. В таком случае предлагаем передать часть задач на аутсорсинг центру юридических услуг «ЮрФинЭксперт». #[br] Юристы компании специализируются:
						ul.dotted-list
							li на корпоративных спорах;
							li сопровождении банкротства;
							li спорах в сфере строительства;
							li конфликтах с фискальными органами;
							li спорах в сфере строительства;
							li трудовых спорах с работниками.
						.ls__info__blockquote.ls__info__blockquote--sm
							blockquote
								p Глубокий анализ судебной практики позволяет нашим специалистам заранее определить судьбу любого судебного спора и необходимый объем юридических услуг.
					.ls__info__section
						h3 Юридические услуги физическим лицам
						p Для того чтобы стать клиентом компании, необходимо оставить заявку на сайте или связаться с менеджером по удобному каналу связи. К решению любой проблемы заказчика специалисты подходят индивидуально. Обо всех особенностях предоставления юридических услуг можно узнать по контактному телефону в СПб.
						p Работая с организацией, Вы получаете такие преимущества, как:
						ul.dotted-list
							li уверенность в защите бизнеса от внешних угроз;
							li возможность заранее планировать свой бюджет в части юридических и бухгалтерских услуг;
							li спорах в сфере строительства;
							li способность развивать предприятие в выбранном направлении.
						p Получите больше информации о юридических услугах, предоставляемых компанией «ЮрФинЭксперт», по телефонам в Санкт-Петербурге и Петрозаводске: #[br] #[a(href="tel:8 (812) 334-10-90") 8 (812) 334-10-90], #[a(href="tel:8 (8142) 59-20-90") 8 (8142) 59-20-90].
				.ls__aside
					.ls__aside__title
						p Новости и практика
					.ls__aside__list
						a.ls__link(href="javascript:void(0)")
							.ls__link__top
								span Как не стать жертвой мошенника?
								+svg('icon-arrow')
							.ls__link__text
								p Используйте бесплатные сервисы для проверки ваших партнеров!
							.ls__link__footer
								span 11.12.2021
						a.ls__link(href="javascript:void(0)")
							.ls__link__top
								span Как взыскать с застройщика крупную сумму денежных средств, при несвоевременной сдаче дома?
							.ls__link__text
								p В апреле 2021 года, к нам обратился клиент с просьбой решить вопрос с застройщиками В результате Решением Петрорадского районного суда наказание было полностью
							.ls__link__footer
								span 11.12.2021
						a.ls__link(href="javascript:void(0)")
							.ls__link__top
								span Дело о защите прав потребителя
							.ls__link__text
								p Используйте бесплатные сервисы для проверки ваших партнеров!
							.ls__link__footer
								span 11.12.2021
						a.ls__link(href="javascript:void(0)")
							.ls__link__top
								span Дело с недвижимостью
							.ls__link__text
								p Дело с недвижимостью. Профессиональная помощь от сотрудников нашей компании, что помощь от сотрудников нашей компании
							.ls__link__footer
								span 11.12.2021
						a.ls__link(href="javascript:void(0)")
							.ls__link__top
								span В суде защищены права автомобилиста
							.ls__link__text
								p В результате Решением Петрорадского районного суда наказание было полностью В результате Решением Петрорадского районного суда наказание было полностью
							.ls__link__footer
								span 11.12.2021