

$white:    #fff;
$black:    #000;

$codGray: #101010;
$tawnyPort: #76255E;
$royalHeath: #A33483;
$athensGray: #F7F7FA;
$gallery: #EAEAEA;
$mineShaft: #202020;
$abbey:  #232335;
$charade: #232532;
$tuna: #323443;
$sharade: #292839;
$gray: #7C8099;
$waterloo: #828282;
$steelGray: #1E1D30;
$mineShaft1: #272727;
$codGray1: #181414;
$jumbo: #85858D;
$monza: #D40D0D;
$mineShaft2: #333333;
$bossanova: #432448;
$wildSand: #F4F4F4;
$internationalKleinBlue: #0024A5;
$silver: #B9B9B9;


$body-bg:                   $athensGray;
$body-color:                $charade;

$link-color:                              $black;
$link-decoration:                         none;
$link-hover-color:                        none;
$link-hover-decoration:                   none;


$paragraph-margin-bottom:   1rem;

$sw-xx-min: 0;
$sw-xs-min: 768px;
$sw-sm-min: 992px;
$sw-md-min: 1200px;
$sw-lg-min: 1680px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

$grid-breakpoints: (
  xs: $sw-xx-min,
  sm: $sw-xs-min,
  md: $sw-sm-min,
  lg: $sw-md-min,
  xl: $sw-lg-min
);

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1210px
);


$grid-columns:                24;
$grid-gutter-width:           30px;
$grid-row-columns:            12;


// fonts
$montserrat: 'Montserrat', sans-serif;
$sourcesanspro: 'SourceSansPro', sans-serif;

$font-family-sans-serif:      $sourcesanspro;
$font-family-monospace:       $sourcesanspro;
$font-family-base:            $font-family-sans-serif;

