mixin map(data)
	.map-wrapper
		.map-item#google_map(data-lat="44.88123443521863", data-lng="34.04828637479427")
		.container
			.map-info
				.map-info__title
					p Контакты
				.map-info__tabs
					button.map-info__tabs__trigger.is-active(type="button", data-tab="peterburg") Санкт-Петербург
					button.map-info__tabs__trigger(type="button", data-tab="moscow") Москва
					button.map-info__tabs__trigger(type="button", data-tab="petrozavodsk") Петрозаводск
				.map-info__inner.is-active(id="peterburg")
					.map-info__content
						.map-info__box
							.map-info__box__title
								span Офис
							p 197110, Россия, Санкт-Петербург, #[br] ул. Большая Разночинная д.23
							p Офис открыт с ПН по ПТ  с 09:30 до 20:00 часов
							.map-info__box__contact
								a(href="tel: + 7 (812) 334-10-90")
									+svg('icon-phone')
									span + 7 (812) 334-10-90
						.map-info__box
							.map-info__box__title
								span Дополнительный офис
							p 197110, Россия, Санкт-Петербург, #[br] Левашовский пр. 13, оф. 217
							p Офис открыт с ПН по ПТ  с 09:30 до 20:00 часов
							.map-info__box__contact
								a(href="tel: + 7 (812) 334-10-90")
									+svg('icon-phone')
									span + 7 (812) 334-10-90
						.map-info__box
							.map-info__box__title
								span Напишите нам:
							.map-info__box__contact
								a(href="mailto:ufe@ufe.su")
									+svg('icon-email')
									span ufe@ufe.su
				.map-info__inner(id="moscow")
					.map-info__content
						.map-info__box
							.map-info__box__title
								span Офис
							p 197110, Россия, Санкт-Петербург, #[br] ул. Большая Разночинная д.23
							p Офис открыт с ПН по ПТ  с 09:30 до 20:00 часов
							.map-info__box__contact
								a(href="tel: + 7 (812) 334-10-90")
									+svg('icon-phone')
									span + 7 (812) 334-10-90
						.map-info__box
							.map-info__box__title
								span Дополнительный офис
							p 197110, Россия, Санкт-Петербург, #[br] Левашовский пр. 13, оф. 217
							p Офис открыт с ПН по ПТ  с 09:30 до 20:00 часов
							.map-info__box__contact
								a(href="tel: + 7 (812) 334-10-90")
									+svg('icon-phone')
									span + 7 (812) 334-10-90
						.map-info__box
							.map-info__box__title
								span Напишите нам:
							.map-info__box__contact
								a(href="mailto:ufe@ufe.su")
									+svg('icon-email')
									span ufe@ufe.su
				.map-info__inner(id="petrozavodsk")
					.map-info__content
						.map-info__box
							.map-info__box__title
								span Офис
							p 197110, Россия, Санкт-Петербург, #[br] ул. Большая Разночинная д.23
							p Офис открыт с ПН по ПТ  с 09:30 до 20:00 часов
							.map-info__box__contact
								a(href="tel: + 7 (812) 334-10-90")
									+svg('icon-phone')
									span + 7 (812) 334-10-90
						.map-info__box
							.map-info__box__title
								span Дополнительный офис
							p 197110, Россия, Санкт-Петербург, #[br] Левашовский пр. 13, оф. 217
							p Офис открыт с ПН по ПТ  с 09:30 до 20:00 часов
							.map-info__box__contact
								a(href="tel: + 7 (812) 334-10-90")
									+svg('icon-phone')
									span + 7 (812) 334-10-90
						.map-info__box
							.map-info__box__title
								span Напишите нам:
							.map-info__box__contact
								a(href="mailto:ufe@ufe.su")
									+svg('icon-email')
									span ufe@ufe.su