.map {
    &-wrapper {
        position: relative;
        @media (max-width: $sw-sm-max) {
            display: flex;
            flex-direction: column;
        }
        .container {
            @media (max-width: $sw-sm-max) {
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &-item {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        @media (max-width: $sw-sm-max) {
            order: 1;
            position: relative;
            top: initial;
            bottom: initial;
            right: initial;
            left: initial;
            height: 40rem;
        }
    }
    &-info {
        z-index: 2;
        position: relative;
        background-color: #1F1F1F;
        padding: 4.8rem 4.3rem;
        min-height: 81.8rem;
        width: 47.8rem;
        margin-left: auto;
        @media (max-width: $sw-md-max) {
            min-height: auto;
        }
        @media (max-width: $sw-sm-max) {
            order: 0;
            width: 100%;
            padding: 2rem 3rem;
        }
        &__title {
            margin-bottom: 4.4rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2rem;
            }
            p {
                font-family: $montserrat;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 3.4rem;
                line-height: 1.5em;
                color: $white;
                @media (max-width: $sw-sm-max) {
                    font-size: 2.8rem;
                }
            }
        }
        &__tabs {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: -1rem;
            margin-right: -1rem;
            margin-bottom: 5rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 3rem;
            }
            @media (max-width: $sw-xx-max) {
                overflow: hidden;
                overflow-x: auto;
                padding-bottom: 2rem;
                margin-bottom: 1.5rem;
                margin-left: 0;
                margin-right: 0;
            }
            &__trigger {
                font-family: $montserrat;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 1.3em;
                text-align: center;
                letter-spacing: 0.25px;
                color: rgba(224, 224, 224, 0.6);
                margin: 0 1rem;
                position: relative;
                cursor: pointer;
                transition: color .3s ease;
                @media (max-width: $sw-xx-max) {
                    flex-shrink: 0;
                    margin: 0 2rem 0 0;
                }
                &.is-active {
                    color: $white;
                    pointer-events: none;
                    &:after {
                        width: 100%;
                    }
                }
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        color: $white;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    position: absolute;
                    top: calc(100% + 7px);
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $white;
                    transition: width .3s ease;
                }
            }
        }
        &__inner {
            display: none;
            &.is-active {
                display: block;
            }
        }
        &__content {
            @media (max-width: $sw-sm-max) {
                display: flex;
                flex-wrap: wrap;
            }
        }
        &__box {
            @media (max-width: $sw-sm-max) {
                margin-bottom: 5rem;
                margin-right: 3.5rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 3rem;
                width: 100%;
            }
            & + .map-info__box {
                margin-top: 4rem;
                @media (max-width: $sw-sm-max) {
                    margin-top: 0;
                }
            }
            &__title {
                font-family: $montserrat;
                font-weight: 500;
                font-size: 2rem;
                line-height: 1.7em;
                color: $white;
            }
            &__contact {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 1.7rem;
                    line-height: 1.23em;
                    letter-spacing: -0.204545px;
                    color: $white;
                    &:hover {
                        @media (min-width: $sw-xs-min) {
                            color: $royalHeath;
                        }
                    }
                }
                .icon {
                    margin-right: 1.2rem;
                    flex-shrink: 0;
                }
                .icon-phone {
                    font-size: 1.6rem;
                }
                .icon-email {
                    font-size: 1.2rem;
                }
            }
            p {
                margin-bottom: 0;
                font-size: 1.7rem;
                line-height: 1.23em;
                color: $white;
                & + p {
                    margin-top: 8px;
                }
                & + .map-info__box__contact {
                    margin-top: 1.8rem;
                }
            }
        }
    }
}