.registered-letters {
	padding-bottom: 12.4rem;
	@media (max-width: $sw-sm-max) {
		padding-bottom: 8rem;
	}
	@media (max-width: $sw-xx-max) {
		padding-bottom: 5rem;
	}
	&__title {
		margin-bottom: 4.9rem;
		@media (max-width: $sw-sm-max) {
			margin-bottom: 5rem;
		}
		@media (max-width: $sw-xx-max) {
			margin-bottom: 3rem;
		}
		h2 {
			font-size: 4.1rem;
			color: $charade;
			@media (max-width: $sw-sm-max) {
				font-size: 3.5rem;
			}
			@media (max-width: $sw-xs-max) {
				font-size: 2.5rem;
			}
		}
	}

	&__list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: calc(100% / 3);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 3.9rem;
		@media (max-width: $sw-sm-max) {
			width: calc(100% / 2);
		}
		@media (max-width: $sw-xs-max) {
			width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: 3.9rem;
		@media (max-width: $sw-xs-max) {
			margin-bottom: 2rem;
		}

		}

		&::before {
			content: '';
			display: block;
			width: 3.6rem;
			border-bottom: 3px solid $jumbo;
			margin-right: 1.2rem;
			@media (max-width: $sw-xs-max) {
				width: 1.5rem;
			}
		}

		span {
			font-family: $sourcesanspro;
			font-size: 2.2rem;
			line-height: 1.4em;
			color: $jumbo;
			@media (max-width: $sw-xs-max) {
				font-size: 2rem;
			}
		}
	}
}