mixin registered-letters(data)
	.registered-letters
		.container
			.registered-letters__inner
				.registered-letters__title
					h2 Рекомендательные письма от наших клиентов
				ul.registered-letters__list.h-reset-list
					li.registered-letters__item
						a(href="javascript:void(0)")
							span ЗАО «ЧЕРИ АВТОМОБИЛИ РУС»
					li.registered-letters__item
						a(href="javascript:void(0)")
							span ЗАО «Астро Софт Девелопмент»
					li.registered-letters__item
						a(href="javascript:void(0)")
							span ООО «Смарт Рент Северо-Запад»
					li.registered-letters__item
						a(href="javascript:void(0)")
							span ООО «Энергосервис»
					li.registered-letters__item
						a(href="javascript:void(0)")
							span  ООО «Автоспектр»




