mixin articles(data)
	.articles
		.container
			.articles__inner
				.articles__wrap
					.articles__col.articles__col--lg
						+publication({
							class: 'publication--lg',
							style: 'background-image: url("../../s/images/tmp_file/articles/article1.png")',
							title: 'В суде защищены права автомобилиста',
							subtitle: 'В результате Решением Петрорадского районного суда наказание было полностью отменено в связи с недоказанностью обстоятельств.',
						})
					.articles__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})
					.articles__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})
					.articles__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})
					.articles__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})

				.articles__wrap
					.articles__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})
					.articles__col.articles__col--lg
						+publication({
							class: 'publication--lg',
							style: 'background-image: url("../../s/images/tmp_file/articles/article2.png")',
							title: 'В суде защищены права автомобилиста',
							subtitle: 'В результате Решением Петрорадского районного суда наказание было полностью отменено в связи с недоказанностью обстоятельств.',
						})
					.articles__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})
					.articles__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})
					.articles__col
						+publication({
							title: 'Взыскана задолженность по контракту между юридическими лицами',
							subtitle: 'Согласно Решению Тринадцатого арбитражного суда апелляционная жалоба не была удовлетворена, решение Арбитражного суда Санкт-Петербурга было оставлено в силе.',
						})

				.articles__bottom
					button.articles__button.btn(type="button")
						span Показать еще
						+svg('icon-chevron')
					