.articles {
    &__inner {
        padding: 6.4rem 0;
        @media (max-width: $sw-sm-max) {
            padding: 5.5rem 0;
        }
        @media (max-width: $sw-xs-max) {
            padding: 3.5rem 0;
        }
    }

    &__wrap {
        display: flex;
        margin-left: -1rem;
        margin-right: -1rem;
        flex-wrap: wrap;
        margin-bottom: 4.5rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 2rem;
        }
        @media (max-width: $sw-xs-max) {
            margin: 0;
            flex-wrap: nowrap;
            flex-direction: column;
        }
    }

    &__col {
        width: calc(100% / 3);
        padding: 0 1rem;
        margin-bottom: 2rem;
        @media (max-width: $sw-xs-max) {
            width: 100%;
            padding: 0;
        }
        &:not(:last-child) {
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
            }
        }
        
        &--lg {
            width: calc(100% / 3 * 2);
            @media (max-width: $sw-xs-max) {
                width: 100%;
                padding: 0;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        padding-right: 3rem;
        padding-left: 3rem;
        margin-right: 0;

        border: 1px solid $mineShaft;
        box-sizing: border-box;
        border-radius: 2rem;
        font-family: $montserrat;
        background-color: $white;
        transition: color .3s ease, background-color .3s ease;
        @media (max-width: $sw-xs-max) {
            font-size: 1.4rem;
            padding-right: 1rem;
            padding-left: 3rem;
            
        }  
        
        span {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.25em;
            color: $mineShaft;
            margin-right: 1rem;
            @media (max-width: $sw-xs-max) {
                font-size: 1.4rem;
            }

        }
        
        .icon-chevron {
            font-size: 8px;
            color: $mineShaft;
            margin-right: 0;
        }

        &:hover {
            @media (min-width: $sw-xs-min) {
                color: $tawnyPort;
                background-color: darken($white, 4%);
            }
        }
        &:active {
            @media (min-width: $sw-xs-min) {
                color: $white;
                background-color: darken($white, 7%);
            }
        }
    }
}